###################################################################################################
## Media Settings
###################################################################################################
type: entities
show_header_toggle: false
state_color: true
entities:
  - entity: input_boolean.media_color_light_sync

  - type: custom:fold-entity-row
    padding: 5
    head:
      type: custom:template-entity-row
      name: "Media Presets"
      icon: mdi:animation-play
      state: ""
    entities:
      - entity: input_boolean.media_enabled_wake
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_wake

      - entity: input_boolean.media_enabled_morning
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_morning

      - entity: input_boolean.media_enabled_sleep
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_sleep

      - entity: input_boolean.media_enabled_company
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_company

      - entity: input_boolean.media_enabled_shower
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_shower

      - entity: input_boolean.media_enabled_charlie
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_charlie

      - entity: input_boolean.media_enabled_jason
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_jason

      - entity: input_boolean.media_enabled_guest
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_guest

  - type: custom:auto-entities
    filter:
      template: "{{ state_attr('binary_sensor.unavailable_speaker_players', 'entity_id') }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.unavailable_speaker_players
        name: "Unavailable Speaker Players"
      group_config:
        secondary_info: last-changed

  - type: custom:auto-entities
    filter:
      template: "{{ state_attr('binary_sensor.unavailable_tv_players', 'entity_id') }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.unavailable_tv_players
      group_config:
        secondary_info: last-changed

  - entity: button.update_mass_media

  - type: custom:auto-entities
    filter:
      template: >
        {% from 'alert.jinja' import alert_entities %}
        {{ alert_entities('media') }}
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.media_alerts
        card_mod:
          style: |
            {% from 'alert.jinja' import alert_switch_style %}
            {{ alert_switch_style('input_boolean.media_alerts') }}
card_mod:
  style: |
    :host {
      --ha-card-background: var(--card-background-color) !important;
    }