###############################################################################
## Media Settings
###############################################################################
type: entities
title: "Media Settings"
show_header_toggle: false
state_color: true
entities:
  - entity: input_boolean.media_color_light_sync
  - entity: switch.shuffle_mode

  - type: custom:fold-entity-row
    padding: 5
    head:
      type: custom:template-entity-row
      name: "Media Presets"
      icon: mdi:animation-play
      state: ""
    entities:
      - entity: input_boolean.media_preset_enabled_wake
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_wake

      - entity: input_boolean.media_preset_enabled_morning
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_morning

      - entity: input_boolean.media_preset_enabled_sleep
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_sleep

      - entity: input_boolean.media_preset_enabled_company
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_company

      - entity: input_boolean.media_preset_enabled_shower
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_shower

      - entity: input_boolean.media_preset_enabled_charlie
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_charlie

      - entity: input_boolean.media_preset_enabled_jason
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_jason

      - entity: input_boolean.media_preset_enabled_guest
        tap_action:
          action: perform-action
          perform_action: input_boolean.turn_on
          target:
            entity_id: input_boolean.media_launcher_preset_guest

  - type: custom:auto-entities
    filter:
      template: "{{ state_attr('binary_sensor.unavailable_media_players', 'entity_id') }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.unavailable_media_players
        name: "Unavailable Media Players"
      group_config:
        secondary_info: last-changed

  - type: custom:auto-entities
    filter:
      template: "{{ state_attr('binary_sensor.unavailable_tvs', 'entity_id') }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.unavailable_tvs
      group_config:
        secondary_info: last-changed

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert | selectattr('attributes.category', 'eq', 'media') | map(attribute='entity_id') | list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.media_alerts
        card_mod:
          style: |
            {% from 'style.jinja' import alert_switch %}
            {{ alert_switch('input_boolean.media_alerts') }}
