###############################################################################
## TTS Settings
###############################################################################
type: entities
title: "TTS Announcement Settings"
show_header_toggle: false
state_color: true
entities:
  - type: custom:fold-entity-row
    padding: 5
    head:
      entity: input_boolean.tts_enabled
    entities:
      - entity: input_boolean.hass_tts_enabled
      - entity: input_boolean.kiosk_tts_enabled
      - entity: input_boolean.jason_phone_tts_enabled
      - entity: input_boolean.tts

  - type: custom:fold-entity-row
    padding: 5
    head:
      entity: sensor.tts_saved_messages
      name: "Saved Messages"
      tap_action:
        action: fire-dom-event
        browser_mod:
          service: browser_mod.popup
          data:
            content: !include /config/ui/card/media/tts_saved_messages.yaml
            timeout: 100000
            card_mod:
              style:
                ha-dialog$: >
                  {% from 'style.jinja' import popup_style %}
                  {{ popup_style() }}
    entities:
      - entity: button.tts_play_saved_messages
      - entity: button.tts_clear_saved_messages

      - type: conditional
        conditions:
          - condition: state
            entity: sensor.tts_saved_messages
            state_not:
              - 0
              - unknown
              - unavailable
        row:
          type: custom:hui-element
          card_type: markdown
          content: |
            {% from 'tts.jinja' import saved_tts_messages %}
            {{ saved_tts_messages() }}
          card_mod:
            class: sub_card

  - entity: button.tts_play_last_message
  - entity: input_boolean.tts_override

  - type: conditional
    conditions:
      - condition: state
        entity: input_boolean.tts_override
        state: "on"
    row:
      entity: input_select.tts_service_override
      name: "TTS Service"

  - type: conditional
    conditions:
      - condition: state
        entity: input_boolean.tts_override
        state: "on"

      - condition: state
        entity: input_select.tts_service_override
        state: "HASS"
    row:
      entity: input_select.hass_cloud_language_override
      name: "Language"

  - type: conditional
    conditions:
      - condition: state
        entity: input_boolean.tts_override
        state: "on"

      - condition: state
        entity: input_select.tts_service_override
        state: "HASS"
    row:
      entity: select.hass_cloud_voice_override
      name: "Voice"

  - type: conditional
    conditions:
      - condition: state
        entity: input_boolean.tts_override
        state: "on"

      - condition: state
        entity: input_select.tts_service_override
        state: "Google"
    row:
      entity: input_select.google_cloud_voice_override
      name: "Voice"

  - type: conditional
    conditions:
      - condition: state
        entity: input_boolean.tts_override
        state: "on"
    row:
      entity: select.tts_media_player_override
      name: "Media Player"

  - type: conditional
    conditions:
      - condition: state
        entity: input_boolean.tts_override
        state: "on"
    row:
      entity: input_number.tts_volume_override
      name: "Volume"

  - type: conditional
    conditions:
      - condition: state
        entity: input_boolean.tts_override
        state: "off"
    row:
      type: custom:fold-entity-row
      padding: 5
      head:
        type: custom:template-entity-row
        name: "Day Time"
        icon: mdi:volume-high
        state: ""
      entities:
        - entity: input_select.tts_service
          name: "TTS Service"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service
              state: "HASS"
          row:
            entity: input_select.hass_cloud_language
            name: "Language"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service
              state: "HASS"
          row:
            entity: select.hass_cloud_voice
            name: "Voice"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service
              state: "Google"
          row:
            entity: input_select.google_cloud_voice
            name: "Voice"

        - entity: select.tts_media_player
          name: "Media Player"

        - entity: input_number.tts_volume
          name: "Volume"

  - type: conditional
    conditions:
      - condition: state
        entity: input_boolean.tts_override
        state: "off"
    row:
      type: custom:fold-entity-row
      padding: 5
      head:
        type: custom:template-entity-row
        name: "Quiet Time"
        icon: mdi:volume-low
        state: ""
      entities:
        - entity: input_select.tts_service_quiet
          name: "TTS Service"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service_quiet
              state: "HASS"
          row:
            entity: input_select.hass_cloud_language_quiet
            name: "Language"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service_quiet
              state: "HASS"
          row:
            entity: select.hass_cloud_voice_quiet
            name: "Voice"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service_quiet
              state: "Google"
          row:
            entity: input_select.google_cloud_voice
            name: "Voice"

        - entity: select.tts_media_player_quiet
          name: "Media Player"

        - entity: input_number.tts_volume_quiet
          name: "Volume"

  - type: conditional
    conditions:
      - condition: state
        entity: input_boolean.tts_override
        state: "off"
    row:
      type: custom:fold-entity-row
      padding: 5
      head:
        type: custom:template-entity-row
        name: "Night Time"
        icon: mdi:weather-night
        state: ""
      entities:
        - entity: input_select.tts_service_night
          name: "TTS Service"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service_night
              state: "HASS"
          row:
            entity: input_select.hass_cloud_language_night
            name: "Language"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service_night
              state: "HASS"
          row:
            entity: select.hass_cloud_voice_night
            name: "Voice"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service_night
              state: "Google"
          row:
            entity: input_select.google_cloud_voice_night
            name: "Voice"

        - entity: select.tts_media_player_night
          name: "Media Player"

        - entity: input_number.tts_volume_night
          name: "Volume"

  - type: conditional
    conditions:
      - condition: state
        entity: input_boolean.tts_override
        state: "off"
    row:
      type: custom:fold-entity-row
      padding: 5
      head:
        type: custom:template-entity-row
        name: "Alert"
        icon: mdi:alert
        state: ""
      entities:
        - entity: input_select.tts_service_alert
          name: "TTS Service"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service_alert
              state: "HASS"
          row:
            entity: input_select.hass_cloud_language_alert
            name: "Language"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service_alert
              state: "HASS"
          row:
            entity: select.hass_cloud_voice_alert
            name: "Voice"

        - type: conditional
          conditions:
            - condition: state
              entity: input_select.tts_service_alert
              state: "Google"
          row:
            entity: input_select.google_cloud_voice_alert
            name: "Voice"

        - entity: select.tts_media_player_alert
          name: "Media Player"

        - entity: input_number.tts_volume_alert
          name: "Volume"

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert | selectattr('attributes.category', 'eq', 'tts') | map(attribute='entity_id') | list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.tts_alerts
        card_mod:
          style: |
            {% from 'style.jinja' import alert_switch %}
            {{ alert_switch('input_boolean.tts_alerts') }}
