###################################################################################################
## Volume Settings
###################################################################################################
type: entities
title: "Volume Settings"
show_header_toggle: false
state_color: true
entities:
  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "input_number.*_default_volume"
      exclude:
        - entity_id: input_number.media_default_volume
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 0
      head:
        entity: input_number.media_default_volume
        name: "Default Volume"

  - type: custom:fold-entity-row
    padding: 0
    head: switch.system_mute
    entities:
      - entity: input_number.timed_mute_duration

  - type: custom:auto-entities
    card:
      type: custom:fold-entity-row
      head:
        entity: input_boolean.volume_balancing
      padding: 0
    filter:
      include:
        - entity_id: "input_number.*_vbalance"
    sort:
      method: name
      ignore_case: true

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: binary_sensor.quiet_time
      name: "Quiet Time"
    entities:
      - entity: input_number.media_quiet_volume
        name: "Media Quiet Volume"

      - entity: select.tts_media_player_quiet
        name: "TTS Quiet Speaker"

      - entity: input_number.tts_volume_quiet
        name: "TTS Quiet Volume"

      - entity: select.tts_media_player_night
        name: "TTS Night Speaker"

      - entity: input_number.tts_volume_night
        name: "TTS Night Volume"

      - type: button
        name: "Quiet Time Schedule"
        icon: mdi:calendar-clock
        action_name: "VIEW"
        tap_action:
          action: navigate
          navigation_path: schedule-settings

  - entity: button.reset_volumes
