###############################################################################
## Volume Settings
###############################################################################
type: entities
title: "Volume Settings"
icon: mdi:volume-low
show_header_toggle: false
state_color: true
entities:
  - type: custom:fold-entity-row
    padding: 5
    head: switch.system_mute
    entities:
      - entity: input_number.timed_mute_duration

  - entity: input_number.media_default_volume

  - type: custom:fold-entity-row
    padding: 5
    head: input_boolean.volume_balancing
    entities:
      - entity: input_number.volume_log_factor

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "input_number.*_default_volume"
      exclude:
        - entity_id: input_number.media_default_volume
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        type: custom:template-entity-row
        name: "Default Volume Levels"
        icon: mdi:volume-source

  - type: custom:fold-entity-row
    padding: 5
    head: binary_sensor.quiet_time
    entities:
      - type: button
        name: "Open Quiet Time Schedule"
        icon: mdi:calendar
        action_name: "OPEN"
        tap_action:
          action: fire-dom-event
          browser_mod:
            service: browser_mod.popup
            data:
              content:
                type: entities
                title: "Quiet Time Schedule"
                state_color: true
                show_header_toggle: false
                entities: !include /config/ui/card/include/quiet_time_schedule_entities.yaml
                card_mod:
                  class: basic
              timeout: 60000

      - entity: input_number.speaker_quiet_volume
        name: "Speakers"

      - entity: input_number.tv_quiet_volume
        name: "Televisions"

      - entity: input_number.media_quiet_volume
        name: "Media"

      - entity: select.tts_media_player_quiet
        name: "TTS Media Player"

      - entity: input_number.tts_volume_quiet
        name: "TTS Volume"

      - entity: select.tts_media_player_night
        name: "TTS Media Player"

      - entity: input_number.tts_volume_night
        name: "TTS Night Volume"

  - entity: button.reset_volumes
card_mod:
  class: basic
