type: vertical-stack #BUGFIX
cards:
  - type: custom:stack-in-card #STACK #BUG entities card won't display if not nested in a vertical stack
    cards:
      - !include /config/lovelace/include/card/alarm_clock/alarm_clock_popup_menu.yaml

      - type: entities
        entities:
          - type: custom:fold-entity-row
            head:
              entity: sensor.alarm_clock_auto # don't use entity include - recursive popup
              name: Auto Alarm Times
              tap_action:
                action: none
              card_mod:
                style: |
                  :host {
                    --paper-item-icon-color:
                      {% if is_state('sensor.alarm_clock_auto','Off') %} var(--state-icon-color)
                      {% else %} var(--state-icon-active-color)
                      {% endif %}
                      ;
                  }
            padding: 0
            entities:
              - !include /config/lovelace/include/entity/schedule/datetime_picker_days.yaml
              - !include /config/lovelace/include/entity/schedule/datetime_picker_afternoons.yaml
              - !include /config/lovelace/include/entity/schedule/datetime_picker_weekends.yaml
              - !include /config/lovelace/include/entity/schedule/datetime_picker_guest.yaml
            card_mod:
              class: sub_card
          - type: custom:fold-entity-row
            head:
              type: custom:template-entity-row
              entity: sensor.alarm_clock_auto_display
              name: "{{ states('input_select.alarm_clock_radio_auto_alarm') }}"
              secondary: "{{ states('input_select.alarm_clock_media_player_auto') }}"
              state: "{{ states('input_number.alarm_clock_volume_auto') }}%"
              tap_action:
                action: none
            padding: 0
            entities:
              - entity: input_select.alarm_clock_sound_auto

              - type: conditional
                conditions:
                  - entity: input_select.alarm_clock_sound_auto
                    state: Radio
                row:
                  entity: input_select.alarm_clock_radio_auto_alarm

              - type: conditional
                conditions:
                  - entity: input_select.alarm_clock_sound_auto
                    state: Spotify
                row:
                  entity: input_select.alarm_clock_spotify_auto_alarm

              - entity: input_select.alarm_clock_media_player_auto
              - entity: input_number.alarm_clock_volume_auto
                icon: mdi:volume-high

          - !include /config/lovelace/include/entity/alarm_clock/alarm_clock_snooze.yaml
          - !include /config/lovelace/include/entity/alarm_clock/alarm_clock_common_settings.yaml
        card_mod:
          class: sub_card

      - type: glance
        entities:
          - input_boolean.alarm_clock_auto_workdays
          - input_boolean.alarm_clock_auto_weekends
          - input_boolean.alarm_clock_guest
          - entity: input_boolean.alarm_clock_active_auto
            name: Test Alarm
            icon: mdi:play-box-outline
            tap_action:
              action: call-service
              service: script.alarm_clock_toggle
              service_data:
                alarm_type: auto
                first_run: true
                test_play: true
            double_tap_action:
              action: call-service
              service: script.alarm_clock_stop
              service_data:
                variables:
                  reset_volume: true
            hold_action:
              action: call-service
              service: script.alarm_clock_toggle
              service_data:
                alarm_type: auto
                first_run: true
                test_play: true
        card_mod:
          class: sub_card
    card_mod:
      class: alarm_clock_lanucher