type: entities
show_header_toggle: false
state_color: true
entities:
  - entity: sensor.alarm_clock_manual # don't use entity include - recursive popup
    name: Next Manual Alarm
    tap_action:
      action: fire-dom-event
      browser_mod:
        command: popup
        deviceID: this
        title: Alarm Time
        card:
          type: custom:time-picker-card
          entity: input_datetime.alarm_clock_manual_time
          hour_mode: 12
          link_values: true
          hour_step: 1
          minute_step: 1
          layout:
            name: inside
            align_controls: right
            hour_mode: single
            embedded: true
          hide:
            name: false
            seconds: true
          card_mod:
            style: |
              :host {
                --paper-item-icon-color:
                  {% if is_state('sensor.alarm_clock_manual','Off') %} var(--state-icon-color)
                  {% else %} var(--state-icon-active-color)
                  {% endif %}
                  ;
              }
    double_tap_action:
      action: none
    hold_action:
      action: none
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('sensor.alarm_clock_manual','Off') %} var(--state-icon-color)
            {% else %} var(--state-icon-active-color)
            {% endif %}
            ;
        }

  - type: divider

  - entity: input_select.alarm_clock_sound_manual
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('sensor.alarm_clock_manual','Off') %} var(--state-icon-color)
            {% else %} var(--state-icon-active-color)
            {% endif %}
            ;
        }

  - type: conditional
    conditions:
      - entity: input_select.alarm_clock_sound_manual
        state: Radio
    row:
      entity: input_select.alarm_clock_radio_manual
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('sensor.alarm_clock_manual','Off') %} var(--state-icon-color)
            {% else %} var(--state-icon-active-color)
            {% endif %}
            ;
        }

  - type: conditional
    conditions:
      - entity: input_select.alarm_clock_sound_manual
        state: Spotify
    row:
      entity: input_select.alarm_clock_spotify_manual
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('sensor.alarm_clock_manual','Off') %} var(--state-icon-color)
            {% else %} var(--state-icon-active-color)
            {% endif %}
            ;
        }

  - entity: input_select.alarm_clock_media_player_manual
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('sensor.alarm_clock_manual','Off') %} var(--state-icon-color)
            {% else %} var(--state-icon-active-color)
            {% endif %}
            ;
        }

  - entity: input_number.alarm_clock_volume_manual
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('sensor.alarm_clock_manual','Off') %} var(--state-icon-color)
            {% elif states('input_number.alarm_clock_volume_manual')|int > 0 %} var(--state-icon-active-color)
            {% else %} var(--entity-warning-color)
            {% endif %}
            ;
        }

  - !include /config/lovelace/include/card/alarm_clock/alarm_clock_common_settings.yaml

  - type: divider

  - type: custom:paper-buttons-row
    buttons:
      - entity: input_boolean.alarm_clock_manual
        name: "{{ 'Alarm Set' if is_state('input_boolean.alarm_clock_manual','on') else 'Set Alarm' }}"
        state_icons:
          'on': mdi:alarm-check
          'off': mdi:alarm-off
        state_styles:
          'on':
            button:
              color: var(--state-icon-active-color)
          'off':
            button:
              color: var(--state-icon-color)
        style:
          button:
            background-color: var(--table-row-alternative-background-color)
            border-radius: 40px
            padding: 10px
            font-size: 1.2rem
        tap_action:
          action: toggle
        double_tap_action:
          action: fire-dom-event
          browser_mod:
            command: popup
            deviceID: this
            title: Alarm Time
            card:
              type: custom:time-picker-card
              entity: input_datetime.alarm_clock_manual_time
              hour_mode: 12
              link_values: true
              hour_step: 1
              minute_step: 1
              layout:
                name: inside
                align_controls: right
                hour_mode: single
                embedded: true
              hide:
                name: false
                seconds: true
        hold_action:
          action: toggle

      - entity: input_boolean.alarm_clock_active_manual
        name: "{{ 'Stop Alarm' if is_state('input_boolean.alarm_clock_active_manual','on') else 'Test Alarm' }}"
        state_icons:
          'on': mdi:alarm-note
          'off': mdi:alarm-note-off
        state_styles:
          'on':
            button:
              color: var(--state-icon-active-color)
          'off':
            button:
              color: var(--state-icon-color)
        style:
          button:
            background-color: var(--table-row-alternative-background-color)
            border-radius: 40px
            padding: 10px
            font-size: 1.2rem
        tap_action:
          action: call-service
          service: script.alarm_clock_toggle
          service_data:
            alarm_type: manual
            first_run: true
            test_play: true
        double_tap_action:
          action: call-service
          service: script.alarm_clock_stop
          service_data:
            variables:
              reset_volume: true
        hold_action:
          action: call-service
          service: script.alarm_clock_play
          service_data:
            alarm_type: manual
            first_run: true
            test_play: true
