###############################################################################
## Media Lanucher Settings Button
###############################################################################
type: custom:button-card
template: menu_button
entity: input_boolean.media_launcher_settings
name: "Media Launcher Settings"
icon: >
  [[[
    if (states['input_boolean.media_launcher_lock'].state == 'on')
      return states['input_boolean.media_launcher_lock'].attributes.icon;
    else
      return 'mdi:music-circle';
  ]]]
styles:
  icon:
    - color: >
        [[[
          if (states['input_boolean.media_launcher_lock'].state == 'on')
            return 'var(--state-icon-active-color)';
          else
            return 'var(--state-icon-color)';
        ]]]
  card:
    - background-color: >
        [[[
          if (states['binary_sensor.unavailable_media_player'].state == 'on')
            return 'var(--entity-button-critical-color)';
          else if (states['input_boolean.media_launcher_settings'].state == 'on'
              && states['input_boolean.media_launcher_lock'].state == 'on')
            return 'var(--entity-button-active-color)';
          else if (states['input_boolean.media_launcher_settings'].state == 'on')
            return 'var(--entity-button-selected-color)';
          else
            return 'var(--ha-card-background)';
        ]]]
tap_action:
  action: toggle
hold_action:
  action: call-service
  service: input_boolean.toggle
  service_data:
    entity_id: input_boolean.media_launcher_lock
