entity: input_boolean.commute_alerts
tap_action:
  action: fire-dom-event
  browser_mod:
    command: popup
    deviceID: this
    title: Commute Settings
    card: !include /config/lovelace/include/card/commute/commute_settings.yaml
style: |
  :host {
    --paper-item-icon-color:
        {% if is_state('input_boolean.work_schedule','off') %} var(--state-icon-color);
        {% else %} var(--entity-warning-color);
        {% endif %}
    --paper-item-icon-active-color:
        {% if is_state('input_boolean.work_schedule','off') %} var(--state-icon-color);
        {% else %} var(--state-icon-active-color);
        {% endif %}
  }