###############################################################################
## Home Assistant Configuration (configuration.yaml)
## https://www.home-assistant.io/docs/configuration/
## https://www.home-assistant.io/integrations/default_config/
###############################################################################
homeassistant:
  packages: !include_dir_named packages
  media_dirs:
    images: /config/www/images
    alarm_snapshos: /config/www/alarm_snapshots
    alarm_clock_sounds: /config/www/alarm_clock_sounds
  allowlist_external_dirs:
    - /config/tts # req for tts folder sensor
    - /config # req for log file size sensor
  allowlist_external_urls:
    - https://cast.netflix.com # netflix
    - https://i.ytimg.com #YOUTUBE
    - https://i.scdn.co #SPOTIFY
    - https://media.live365.com #RADIO
    - !secret BASE_URL_CLOUD
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        #NOTE - 127.0.0.1 prevents remoteUI!
        - 170.30.32.2
        - 170.17.0.2
        - !secret JLAPTOP_IP
        - !secret JLAPTOP_WIFI_IP
        - !secret JPHONE_IP
        - !secret SPHONE_IP
        - !secret KIOSK_IP

http:
  ip_ban_enabled: true
  login_attempts_threshold: 10

default_config:
automation: !include automations.yaml
automation dir: !include_dir_merge_list automations
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js
system_log:
  max_entries: 100
  fire_event: true
# history: !include logging/history.yaml #TEMP until recorder tweaked
# logbook: !include logging/logbook.yaml #TEMP until recorder tweaked
recorder: !include logging/recorder.yaml
scene: !include scenes.yaml
scene dir: !include_dir_merge_list scenes
script: !include_dir_merge_named scripts
template: !include_dir_merge_list templates
logger: !include logging/logger.yaml
lovelace: !include /config/lovelace/lovelace_config.yaml
panel_custom: !include /config/lovelace/custom_panel.yaml
python_script:

###############################################################################
### CUSTOM INTEGRATIONS ###
###############################################################################
browser_mod: !include browser_mod.yaml
