###############################################################################
## Home Assistant Configuration (configuration.yaml)
## https://www.home-assistant.io/docs/configuration/
## https://www.home-assistant.io/integrations/default_config/
###############################################################################
homeassistant:
  packages: !include_dir_named packages
  media_dirs:
    alarm_snapshots: /config/www/alarm_snapshots
    music: /media/music
  allowlist_external_dirs:
    - /config/tts # req for tts folder sensor
    - /config # req for log file size sensor
    - /media/frigate/clips # req for frigate clip folder size sensor
  auth_providers:
    - type: homeassistant

http:
  ip_ban_enabled: true
  login_attempts_threshold: 10

default_config:
automation: !include automations.yaml
automation dir: !include_dir_merge_list automations
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js
system_log:
  max_entries: 100
  fire_event: true
logbook: !include logging/logbook.yaml
recorder: !include logging/recorder.yaml
scene: !include scenes.yaml
scene dir: !include_dir_merge_list scenes
script: !include_dir_merge_named scripts
template: !include_dir_merge_list templates
logger: !include logging/logger.yaml
lovelace: !include /config/lovelace/lovelace_config.yaml
#DISABLED panel_custom: !include /config/lovelace/custom_panel.yaml
#DISABLED python_script:
###############################################################################
### CUSTOM INTEGRATIONS ###
###############################################################################
browser_mod: !include browser_mod.yaml
#DISABLED pyscript:
#   allow_all_imports: true
#   hass_is_global: true
