###################################################################################################
## Home Assistant Configuration (configuration.yaml)
## https://www.home-assistant.io/docs/configuration/
###################################################################################################
homeassistant: !include homeassistant.yaml
http: !include http.yaml
default_config: # https://www.home-assistant.io/integrations/default_config/
automation: !include automations.yaml
automation yaml: !include_dir_merge_list automations
frontend: !include /config/ui/frontend.yaml
logbook: !include logging/logbook.yaml
recorder: !include logging/recorder.yaml
scene: !include scenes.yaml
scene yaml: !include_dir_merge_list scenes
script: !include scripts.yaml
script yaml: !include_dir_merge_named scripts
template: !include_dir_merge_list templates
logger: !include logging/logger.yaml
lovelace: !include /config/ui/ui_config.yaml
system_log:
  fire_event: true
import_statistics: #NOTE custom integration
battery_notes: !include /config/ui/battery_notes.yaml #NOTE custom integration