type: entities
show_header_toggle: false
state_color: true
entities:
  - entity: input_select.media_preset_type_wake
    name: Media Type

  - type: conditional
    conditions:
      - entity: input_select.media_preset_type_wake
        state: Radio
    row:
      entity: input_select.media_preset_radio_wake
      name: Station

  - type: conditional
    conditions:
      - entity: input_select.media_preset_type_wake
        state: Spotify
    row:
      entity: input_select.media_preset_spotify_wake
      name: Playlist

  - entity: input_select.media_preset_speaker_wake
    name: Speakers
  - entity: input_number.media_preset_volume_wake
    name: Volume
  - entity: input_number.media_preset_morning_delay
    name: Morning Radio Delay

  - type: divider
  - type: custom:paper-buttons-row
    buttons:
      - entity: input_boolean.media_preset_enabled_wake
        state_icons:
          'on': mdi:alarm-check
          'off': mdi:alarm-off
        state_text:
          'on': Enabled
          'off': Disabled
        state_styles:
          'on':
            button:
              color: var(--state-icon-active-color)
          'off':
            button:
              color: var(--state-icon-color)
        style:
          button:
            background-color: var(--table-row-alternative-background-color)
            border-radius: 40px
            padding: 10px
            font-size: 1.2rem
        tap_action:
          action: toggle

      - entity: input_boolean.media_preset_wake
        icon: mdi:radio
        state_text:
          'on': Stop Media
          'off': Play Media
        state_styles:
          'on':
            button:
              color: var(--state-icon-active-color)
          'off':
            button:
              color: var(--state-icon-color)
        style:
          button:
            background-color: var(--table-row-alternative-background-color)
            border-radius: 40px
            padding: 10px
            font-size: 1.2rem
        # tap_action:
        #   action: call-service
        #   service: script.media_preset_toggle
        #   service_data:
        #     preset: wake