type: entities
show_header_toggle: false
entities:
  - entity: input_select.media_preset_type_shower
    name: Media Type

  - type: conditional
    conditions:
      - entity: input_select.media_preset_type_shower
        state: Radio
    row:
      entity: input_select.media_preset_radio_shower
      name: Station

  - type: conditional
    conditions:
      - entity: input_select.media_preset_type_shower
        state: Spotify
    row:
      entity: input_select.media_preset_spotify_shower
      name: Playlist

  - entity: input_select.media_preset_speaker_shower
    name: Speaker
  - entity: input_number.media_preset_volume_shower
    name: Volume

  - type: divider

  - type: custom:paper-buttons-row
    buttons:
      - entity: input_boolean.media_preset_enabled_shower
        state_icons:
          'on': mdi:alarm-check
          'off': mdi:alarm-off
        state_text:
          'on': Enabled
          'off': Disabled
        state_styles:
          'on':
            button:
              color: var(--state-icon-active-color)
          'off':
            button:
              color: var(--state-icon-color)
        style:
          button:
            background-color: var(--table-row-alternative-background-color)
            border-radius: 40px
            padding: 10px
            font-size: 1.2rem
        tap_action:
          action: toggle

      - entity: input_boolean.media_preset_shower
        icon: mdi:radio
        state: Play Media
        state_styles:
          'on':
            button:
              color: var(--state-icon-active-color)
          'off':
            button:
              color: var(--state-icon-color)
        style:
          button:
            background-color: var(--table-row-alternative-background-color)
            border-radius: 40px
            padding: 10px
            font-size: 1.2rem
        # tap_action:
        #   action: call-service
        #   service: script.media_preset_play
        #   service_data:
        #     preset: shower