type: entities
state_color: true
entities:
  - type: custom:template-entity-row # must be template entity else recursive lovelace popup
    entity: sensor.waketime_tomorrow_display
    tap_action:
      action: none
    double_tap_action:
      action: none
    hold_action:
      action: none
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('sensor.waketime_tomorrow_display','Off') %} var(--state-icon-color)
            {% else %} var(--state-icon-active-color)
            {% endif %}
            ;
          }

  - !include /config/lovelace/include/entity/alarm_clock/alarm_clock_next_alarm_fold.yaml

  - type: divider

  - type: custom:fold-entity-row
    head:
      entity: input_boolean.house_wakeup
      state_color: true
      tap_action:
        action: fire-dom-event
        browser_mod:
          command: popup
          deviceID: this
          title: Alarm Time
          card: !include /config/lovelace/include/card/schedule/waketime_picker.yaml
      double_tap_action:
        action: none
      hold_action:
        action: none
    padding: 0
    entities:
      - entity: input_datetime.house_waketime
        tap_action:
          action: none
        double_tap_action:
          action: none
        hold_action:
          action: none
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.house_wakeup','on') %} var(--state-icon-active-color)
                {% else %} var(--state-icon-color)
                {% endif %}
                ;
              }

  - type: custom:fold-entity-row
    head:
      entity: input_boolean.workday_morning
      state_color: true
      tap_action:
        action: fire-dom-event
        browser_mod:
          command: popup
          deviceID: this
          title: Alarm Time
          card: !include /config/lovelace/include/card/schedule/waketime_picker.yaml
      double_tap_action:
        action: none
      hold_action:
        action: none
    padding: 0
    entities:
      - entity: input_datetime.days_waketime
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.workday_morning','on') %} var(--state-icon-active-color)
                {% else %} var(--state-icon-color)
                {% endif %}
                ;
              }

      - entity: input_datetime.afternoons_waketime
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.workday_morning','on') %} var(--state-icon-active-color)
                {% else %} var(--state-icon-color)
                {% endif %}
                ;
              }

  - entity: input_boolean.alarm_clock_auto_workdays
    name: Workdays Alarm Clock
    tap_action:
      action: fire-dom-event
      browser_mod:
        command: popup
        deviceID: this
        title: Auto Alarm Clock
        card: !include /config/lovelace/include/card/alarm_clock/alarm_clock_settings_auto.yaml
    double_tap_action:
      action: none
    hold_action:
      action: none

  - type: divider

  - type: custom:fold-entity-row
    head:
      entity: input_boolean.weekend_morning
      state_color: true
      tap_action:
        action: fire-dom-event
        browser_mod:
          command: popup
          deviceID: this
          title: Alarm Time
          card: !include /config/lovelace/include/card/schedule/waketime_picker.yaml
      double_tap_action:
        action: none
      hold_action:
        action: none
    padding: 0
    entities:
      - entity: input_datetime.weekend_waketime
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.weekend_morning','on') %} var(--state-icon-active-color)
                {% else %} var(--state-icon-color)
                {% endif %}
                ;
              }

  - entity: input_boolean.alarm_clock_auto_weekends
    name: Weekend Alarm Clock
    tap_action:
      action: fire-dom-event
      browser_mod:
        command: popup
        deviceID: this
        title: Auto Alarm Clock
        card: !include /config/lovelace/include/card/alarm_clock/alarm_clock_settings_auto.yaml
    double_tap_action:
      action: none
    hold_action:
      action: none

  - type: divider

  - type: custom:fold-entity-row
    head:
      entity: input_boolean.guest_morning
      state_color: true
      tap_action:
        action: fire-dom-event
        browser_mod:
          command: popup
          deviceID: this
          title: Alarm Time
          card: !include /config/lovelace/include/card/schedule/waketime_picker.yaml
      double_tap_action:
        action: none
      hold_action:
        action: none
    padding: 0
    entities:
      - entity: input_datetime.guest_waketime
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.guest_morning','on') %} var(--state-icon-active-color)
                {% else %} var(--state-icon-color)
                {% endif %}
                ;
              }

  - entity: input_boolean.alarm_clock_guest
    name: Guest Alarm Clock
    tap_action:
      action: none
    double_tap_action:
      action: none
    hold_action:
      action: none

  - type: divider

  - !include /config/lovelace/include/entity/media_preset/media_preset_enabled_wake.yaml
  - !include /config/lovelace/include/entity/media_preset/media_preset_enabled_morning.yaml

  - type: divider

  - type: custom:paper-buttons-row
    buttons:
      - entity: script.scene_wake_up
        state_icons:
          'on': mdi:weather-sunset-up
          'off': mdi:weather-sunset-up
        state_text:
          'on': Routine Running
          'off': Run Wake Up Routine
        state_styles:
          'on':
            button:
              color: var(--state-icon-active-color)
          'off':
            button:
              color: var(--primary-text-color)
        style:
          button:
            background-color: var(--table-row-alternative-background-color)
            border-radius: 40px
            padding: 10px
            font-size: 1.2rem
        tap_action:
          action: call-service
          service: script.scene_wake_up
        double_tap_action:
          action: call-service
          service: script.turn_off
          service_data:
            entity_id: script.scene_wake_up
        hold_action:
          action: call-service
          service: script.scene_wake_up
card_mod:
  class: popup
