type: entities
entities:
  - type: custom:fold-entity-row
    head:
      type: custom:template-entity-row
      name: Weather API Connected
      icon: mdi:weather-partly-snowy-rainy
    entities:
      - entity: binary_sensor.climacell_connected
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('binary_sensor.climacell_connected','off') %} var(--entity-critical-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

      - entity: binary_sensor.envcan_connected
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('binary_sensor.envcan_connected','off') %} var(--entity-critical-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

      - entity: binary_sensor.noaa_connected
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('binary_sensor.noaa_connected','off') %} var(--entity-critical-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

      - entity: binary_sensor.dark_sky_connected #DARKSKY
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('binary_sensor.dark_sky_connected','off') %} var(--entity-critical-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

      - entity: binary_sensor.flu_connected
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('binary_sensor.flu_connected','off') %} var(--entity-critical-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

      - entity: binary_sensor.openuv_connected
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('binary_sensor.openuv_connected','off') %} var(--entity-critical-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

      - entity: binary_sensor.pollen_connected
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('binary_sensor.pollen_connected','off') %} var(--entity-critical-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

      - entity: binary_sensor.waqi_connected
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('binary_sensor.waqi_connected','off') %} var(--entity-critical-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

  - type: button
    entity: script.weather_report
    name: Weather Report
    action_name: PLAY

  - entity: input_boolean.morning_weather_enabled
  - entity: input_boolean.display_gdacs_alerts

  - type: custom:fold-entity-row
    head:
      type: custom:template-entity-row
      icon: mdi:thermometer-lines
      name: Temp Alert Thresholds
    padding: 5
    entities:
      - entity: input_number.outdoor_low_temperature_threshold
      - entity: input_number.outdoor_high_temperature_threshold

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','weather')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: input_boolean.weather_alerts
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                  {% if is_state('input_boolean.weather_alerts','on') and states.alert|selectattr('attributes.category','eq','weather')
                      |selectattr('state','ne','idle')|list|count > 0 %} var(--entity-critical-color)
                  {% elif is_state('input_boolean.weather_alerts','off') %} var(--entity-warning-color)
                  {% else %} var(--state-icon-color)
                  {% endif %}
                ;
            }
      padding: 5

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "automation.weather_*"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: input_boolean.weather_automation
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.weather_automation','off') %} var(--entity-warning-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }
      padding: 5

  - entity: input_number.weather_history_hours
    name: History Hours
card_mod:
  class: popup