###############################################################################
## Spa Settings
###############################################################################
type: entities
title: 'Spa Settings'
icon: mdi:hot-tub
show_header_toggle: false
state_color: true
entities:
  - entity: binary_sensor.balboa_connected
    card_mod:
      style: |
        :host {
          --paper-item-icon-color: var(--entity-severe-color);
        }

  - entity: climate.spa

  - type: custom:numberbox-card
    entity: input_number.spa_low_temperature_threshold
    name: 'Spa Low Temp Alert'
    unit: false
    step: 0.5
    icon_plus: mdi:plus-box-outline
    icon_minus: mdi:minus-box-outline

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','spa')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: input_boolean.spa_alerts
        state_color: true
        card_mod:
          style: |
            :host {
              --paper-item-icon-color: var(--entity-warning-color);
              --paper-item-icon-active-color:
                {% if states.alert|selectattr('attributes.category','eq','spa')
                    |selectattr('state','ne','idle')|list|count > 0 %} var(--entity-severe-color)
                {% else %} var(--state-icon-active-color)
                {% endif %}
              ;
            }
      padding: 5

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: 'automation.spa_*'
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: input_boolean.spa_automation
        state_color: true
        card_mod:
          style: |
            :host {
              --paper-item-icon-color: var(--entity-warning-color);
            }
      padding: 5
card_mod:
  class: basic
