###################################################################################################
## Light Settings
###################################################################################################
type: entities
entities:
  - type: custom:auto-entities
    filter:
      include:
        - group: group.lights
      exclude:
        - state: "off"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.lights_on

  - type: custom:auto-entities
    filter:
      include:
        - domain: timer
          attributes:
            type: light
      exclude:
        - state: idle
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.light_in_use
      group_config:
        type: custom:timer-bar-card
        bar_height: 10px
        text_width: 60px
        sync_issues: fix
        tap_action:
          action: more-info
        secondary_info: last-changed

  - type: custom:auto-entities
    filter:
      include:
        - domain: timer
          attributes:
            type: scene
          options:
            double_tap_action:
              action: perform-action
              perform_action: timer.cancel
              target:
                entity_id: this.entity_id
            hold_action:
              action: perform-action
              perform_action: timer.start
              target:
                entity_id: this.entity_id
      exclude:
        - state: idle
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.scene_active
      group_config:
        secondary_info: last-changed

  - type: custom:auto-entities
    filter:
      template: "{{ state_attr('binary_sensor.unavailable_lights', 'entity_id') }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.unavailable_lights
      group_config:
        secondary_info: last-changed

  - entity: button.reset_notification_leds
    card_mod:
      style: |
        ha-card {
          border-width: 0px important!
        }
        :host {
          --card-background-color: var(--card-background-color) !important;
        }

  - type: button
    name: "Lights On"
    entity: script.turn_light_on
    action_name: "RUN"
    tap_action:
      action: perform-action
      perform_action: script.turn_light_on
      data:
        override: true
        activate_timer: false
        reset: true

  - type: button
    name: "Lights Off"
    entity: script.turn_light_off
    action_name: "RUN"
    tap_action:
      action: perform-action
      perform_action: script.turn_light_off
      data:
        activate_timer: false