###############################################################################
## Light Settings
###############################################################################
type: entities
title: "Light Settings"
icon: mdi:lightbulb
show_header_toggle: false
state_color: true
entities:
  - entity: sensor.day_night

  - type: custom:auto-entities
    filter:
      include:
        - domain: light
          attributes:
            type: dimmer
        - domain: light
          attributes:
            type: switch
        - domain: light
          attributes:
            type: bulb
      exclude:
        - state: "off"
        - attributes:
            rgb_light: control
        - attributes:
            rgb_light: slave
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.lights_on

  - type: custom:auto-entities
    filter:
      include:
        - domain: timer
          attributes:
            type: light
      exclude:
        - state: idle
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.light_in_use
      group_config:
        secondary_info: last-changed

  - type: custom:fold-entity-row
    padding: 5
    head:
      type: custom:template-entity-row
      entity: binary_sensor.nighttime_illuminance_lights
      name: "Illuminance Settings"
      state: >
        {% if is_state('binary_sensor.nighttime_illuminance_lights','on') %} Nightime
        {% elif is_state('binary_sensor.daytime_illuminance_lights','on') %} Daytime
        {% elif is_state('binary_sensor.bathroom_illuminance_lights','on') %} Bathroom
        {% else %} Off
        {% endif %}
      active: >
        {{ is_state('binary_sensor.nighttime_illuminance_lights','on')
            or is_state('binary_sensor.daytime_illuminance_lights','on')
            or is_state('binary_sensor.bathroom_illuminance_lights','on') }}
    entities:
      - type: custom:fold-entity-row
        padding: 5
        head:
          entity: binary_sensor.nighttime_illuminance_lights
          card_mod:
            style: |
              :host {
                --paper-item-icon-color:
                  {% if is_state('input_boolean.night_lights_enabled','off')
                      or is_state('input_boolean.night_lights_override','on') %} var(--entity-warning-color)
                  {% else %} var(--state-icon-color)
                  {% endif %}
                ;
              }
        entities:
          - entity: input_boolean.night_lights_enabled
            card_mod:
              style: |
                :host {
                  --paper-item-icon-color:
                    {% if is_state('input_boolean.night_lights_enabled','off') %} var(--entity-warning-color)
                    {% else %} var(--state-icon-color)
                    {% endif %}
                  ;
                }

          - entity: input_boolean.night_lights_override
            card_mod:
              style: |
                :host {
                  --paper-item-icon-color:
                    {% if is_state('input_boolean.night_lights_override','on') %} var(--entity-warning-color)
                    {% else %} var(--state-icon-color)
                    {% endif %}
                  ;
                }

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: "on"
            row:
              type: section
              label: Illuminance Sensor

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: "on"
            row:
              entity: sensor.outdoor_illuminance

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: "on"
            row:
              type: custom:numberbox-card
              entity: input_number.night_illuminance_threshold
              unit: false
              icon_plus: mdi:plus-box-outline
              icon_minus: mdi:minus-box-outline

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: "on"
            row:
              type: section
              label: Sun Elevation

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: "on"
            row:
              type: attribute
              entity: sun.sun
              attribute: elevation
              name: "Sun Elevation"

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: "on"
            row:
              type: custom:numberbox-card
              entity: input_number.lights_on_sun_elevation
              unit: false
              icon_plus: mdi:plus-box-outline
              icon_minus: mdi:minus-box-outline

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: "on"
            row:
              type: custom:numberbox-card
              entity: input_number.lights_off_sun_elevation
              name: "Lights Off"
              unit: false
              icon_plus: mdi:plus-box-outline
              icon_minus: mdi:minus-box-outline

      - type: custom:fold-entity-row
        padding: 10
        head:
          entity: binary_sensor.daytime_illuminance_lights
          card_mod:
            style: |
              :host {
                --paper-item-icon-color:
                  {% if is_state('input_boolean.day_lights_enabled','off') %} var(--entity-warning-color)
                  {% else %} var(--state-icon-color)
                  {% endif %}
                ;
              }
        entities:
          - entity: input_boolean.day_lights_enabled
          - type: conditional
            conditions:
              - entity: input_boolean.day_lights_enabled
                state: "on"
            row:
              entity: sensor.outdoor_illuminance

          - type: conditional
            conditions:
              - entity: input_boolean.day_lights_enabled
                state: "on"
            row:
              type: custom:numberbox-card
              entity: input_number.day_illuminance_threshold
              name: "Outdoor Lux Threshold"
              unit: false
              icon_plus: mdi:plus-box-outline
              icon_minus: mdi:minus-box-outline

      - type: custom:fold-entity-row
        padding: 10
        head:
          entity: binary_sensor.bathroom_illuminance_lights
        entities:
          - entity: sensor.bathroom_sensor_illuminance
            name: "Current Illuminance"

          - type: custom:numberbox-card
            entity: input_number.bathroom_illuminance_threshold
            unit: false
            icon_plus: mdi:plus-box-outline
            icon_minus: mdi:minus-box-outline

  - type: custom:fold-entity-row
    padding: 10
    head:
      entity: switch.adaptive_lighting
    entities:
      - type: custom:fold-entity-row
        head:
          entity: switch.adaptive_lighting_main_lights
        entities:
          - entity: switch.adaptive_lighting_adapt_brightness_main_lights
            name: "Brightness Control"
          - entity: switch.adaptive_lighting_adapt_color_main_lights
            name: "RGB Colour Control"
          - entity: switch.adaptive_lighting_sleep_mode_main_lights
            name: "Sleep Mode"

      - type: custom:fold-entity-row
        head:
          entity: switch.adaptive_lighting_rgb_lights
        entities:
          - entity: switch.adaptive_lighting_adapt_brightness_rgb_lights
            name: "Brightness Control"
          - entity: switch.adaptive_lighting_adapt_color_rgb_lights
            name: "RGB Colour Control"
          - entity: switch.adaptive_lighting_sleep_mode_rgb_lights
            name: "Sleep Mode"

      - type: custom:fold-entity-row
        head:
          entity: switch.adaptive_lighting_bedroom_lights
        entities:
          - entity: switch.adaptive_lighting_adapt_brightness_bedroom_lights
            name: "Brightness Control"
          - entity: switch.adaptive_lighting_adapt_color_bedroom_lights
            name: "RGB Colour Control"
          - entity: switch.adaptive_lighting_sleep_mode_bedroom_lights
            name: "Sleep Mode"

      - type: custom:fold-entity-row
        head:
          entity: switch.adaptive_lighting_outside_lights
        entities:
          - entity: switch.adaptive_lighting_adapt_brightness_outside_lights
            name: "Brightness Control"
          - entity: switch.adaptive_lighting_adapt_color_outside_lights
            name: "RGB Colour Control"
          - entity: switch.adaptive_lighting_sleep_mode_outside_lights
            name: "Sleep Mode"

      - type: custom:fold-entity-row
        head:
          entity: switch.adaptive_lighting_bathroom_lights
        entities:
          - entity: switch.adaptive_lighting_adapt_brightness_bathroom_lights
            name: "Brightness Control"
          - entity: switch.adaptive_lighting_adapt_color_bathroom_lights
            name: "RGB Colour Control"
          - entity: switch.adaptive_lighting_sleep_mode_bathroom_lights
            name: "Sleep Mode"

  - entity: button.reset_notification_leds

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','light')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.light_alerts
        card_mod:
          style: |
            {% from 'style.jinja' import alert_switch %}
            {{ alert_switch('input_boolean.light_alerts') }}

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "automation.light_*"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        type: custom:template-entity-row
        name: "Light Automations"
        icon: mdi:sync-alert
        state: ""

  - type: buttons
    entities:
      - entity: script.turn_light_on
        name: "Lights On"
        tap_action:
          action: call-service
          service: script.turn_light_on
          service_data:
            activate_timer: false
            bypass_timer: true

      - entity: script.turn_light_off
        name: "Lights Off"
        tap_action:
          action: call-service
          service: script.turn_light_off
          service_data:
            bypass_timer: true
    card_mod:
      style:
        hui-buttons-base $: |
          .ha-scrollbar {
            justify-content: center;
          }
card_mod:
  class: basic_swipe
