###############################################################################
## Lovelace Card - Quiet Hours Settings
###############################################################################
type: vertical-stack
cards:
  - type: entities
    entities:
      - entity: input_boolean.mute_all
      - entity: input_number.timed_mute_duration
      - type: conditional
        conditions:
          - entity: timer.timed_mute_duration
            state_not: idle
        row:
          type: custom:timer-bar-card
          entity: timer.timed_mute_duration
    card_mod:
      class: popup

  - type: entities
    entities:
      - entity: binary_sensor.quiet_hours

      - entity: input_boolean.quiet_hours_enabled
        name: Enable Quiet Hours
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.quiet_hours_enabled','off') %} var(--entity-warning-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

      - entity: input_boolean.quiet_hours_override
        name: Quiet Hours Override
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.quiet_hours_override','on') %} var(--entity-warning-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

      - type: conditional
        conditions:
          - entity: input_boolean.quiet_hours_enabled
            state: 'on'
        row:
          entity: input_boolean.quiet_hours_bedtime_sync
          name: Sync To Bed/Wake Times

      - type: conditional
        conditions:
          - entity: input_boolean.quiet_hours_enabled
            state: 'on'
          - entity: input_boolean.quiet_hours_bedtime_sync
            state: 'off'
        row:
          entity: input_datetime.quiet_hours_start

      - type: conditional
        conditions:
          - entity: input_boolean.quiet_hours_enabled
            state: 'on'
          - entity: input_boolean.quiet_hours_bedtime_sync
            state: 'off'
        row:
          entity: input_datetime.quiet_hours_end

      - type: conditional
        conditions:
          - entity: input_boolean.quiet_hours_bedtime_sync
            state: 'on'
          - entity: input_boolean.quiet_hours_enabled
            state: 'on'
        row:
          entity: input_number.quiet_minutes_after_waketime
          name: After Waketime

      - type: conditional
        conditions:
          - entity: input_boolean.quiet_hours_bedtime_sync
            state: 'on'
          - entity: input_boolean.quiet_hours_enabled
            state: 'on'
        row:
          entity: input_number.quiet_minutes_before_bedtime
          name: Before Bedtime

      - type: conditional
        conditions:
          - entity: input_boolean.quiet_hours_enabled
            state: 'on'
        row:
          entity: input_boolean.volume_override #STYLE doesn't work in conditional row

      - type: conditional
        conditions:
          - entity: input_boolean.quiet_hours_enabled
            state: 'on'
        row:
          type: custom:fold-entity-row
          head:
            entity: sensor.dummy
            name: Quiet Hour Volumes
          entities:
            - type: conditional
              conditions:
                - entity: input_boolean.quiet_hours_enabled
                  state: 'on'
              row:
                entity: input_number.speaker_quiet_volume
                name: Speakers

            - type: conditional
              conditions:
                - entity: input_boolean.quiet_hours_enabled
                  state: 'on'
              row:
                entity: input_number.tv_quiet_volume
                name: Televisions

            - type: conditional
              conditions:
                - entity: input_boolean.quiet_hours_enabled
                  state: 'on'
              row:
                entity: input_number.media_quiet_volume
                name: Media

      - type: conditional
        conditions:
          - entity: input_boolean.quiet_hours_enabled
            state: 'on'
        row:
          type: custom:fold-entity-row
          head:
            entity: sensor.dummy
            name: TTS Quiet Hours Settings
          entities:
            - type: conditional
              conditions:
                - entity: input_boolean.quiet_hours_enabled
                  state: 'on'
              row:
                entity: input_select.tts_media_player_quiet
                name: Quiet Hours Media Player

            - type: conditional
              conditions:
                - entity: input_boolean.quiet_hours_enabled
                  state: 'on'
              row:
                entity: input_number.tts_volume_quiet
                name: TTS Quiet Volume

            - type: conditional
              conditions:
                - entity: input_boolean.quiet_hours_enabled
                  state: 'on'
              row:
                entity: input_number.tts_volume_night
                name: TTS Night Volume
    card_mod:
      class: popup
