###############################################################################
## Cameras Settings
###############################################################################
type: entities
title: "Camera Settings"
state_color: true
show_header_toggle: false
entities:
  - type: custom:fold-entity-row
    head:
      entity: sensor.frigate_status
      state_color: true
    padding: 10
    entities:
      - entity: sensor.frigate_coral_inference_speed
      - entity: sensor.frigate_detection_fps
      - entity: sensor.clips

  - type: button
    name: "Frigate Dashboard"
    icon: mdi:cctv
    action_name: "OPEN"
    tap_action:
      action: navigate
      navigation_path: !secret FRIGATE_URL

  - type: button
    name: "Frigate Performance"
    icon: mdi:cctv
    action_name: "OPEN"
    tap_action:
      action: navigate
      navigation_path: frigate

  - type: button
    name: "Cameras View"
    icon: mdi:cctv
    action_name: "OPEN"
    tap_action:
      action: navigate
      navigation_path: security-cameras

  - entity: input_boolean.camera_object_detection
  - entity: input_boolean.object_tts_announcements
  - entity: input_boolean.object_mobile_notifications

  - entity: device_tracker.lorex_nvr

  - type: custom:auto-entities
    filter:
      template: "{{ state_attr('group.offline_cameras', 'entity_id') }}"
    sort:
      method: name
      ignore_case: true
    show_empty: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.offline_cameras_alert
        name: "Offline Cameras"
        card_mod:
          style: |
            :host {
              --state-binary_sensor-problem-on-color: var(--entity-critical-color);
            }
      padding: 0

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert | selectattr('attributes.category', 'eq', 'camera') | map(attribute='entity_id') | list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.camera_alerts
card_mod:
  class: basic
