###############################################################################
## Charlie Scene Media Setting Entities
###############################################################################
- entity: input_select.media_preset_type_charlie
  name: "Media Type"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_charlie
      state: Playlist
  row:
    entity: select.media_preset_playlist_charlie
    name: Playlist

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_charlie
      state: Radio
  row:
    entity: select.media_preset_radio_charlie
    name: "Radio Station"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_charlie
      state_not: Video
  row:
    entity: select.media_preset_speaker_charlie
    name: "Speaker"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_charlie
      state: Video
  row:
    entity: select.media_preset_video_display_charlie
    name: "Display"

- entity: input_number.media_preset_volume_charlie
  name: "Volume"

- entity: input_boolean.media_preset_enabled_charlie
  name: "Auto Play"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_charlie
      state: Playlist
  row:
    entity: input_boolean.shuffle_charlie
  name: "Shuffle Playlist"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_charlie
      state: Playlist
  row:
    entity: input_boolean.repeat_charlie
    name: "Repeat Playlist"

- type: button
  name: " "
  service: script.update_traffic_sensors
  action_name: "PLAY"
  tap_action:
    action: perform-action
    perform_action: script.media_play
    data:
      preset: charlie
