###############################################################################
## Charlie Scene Media Setting Entities
###############################################################################
- entity: input_select.media_preset_type_charlie
  name: "Audio / Video"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_charlie
      state: "Audio"
  row:
    entity: select.media_preset_charlie
    name: "Playlist"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_charlie
      state: "Video"
  row:
    entity: input_select.media_preset_video_display_charlie
    name: "Display"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_charlie
      state: "Audio"
  row:
    entity: select.media_preset_speaker_charlie
    name: "Speaker"

- entity: input_number.media_preset_volume_charlie
  name: "Volume"

- entity: input_boolean.media_preset_enabled_charlie
  name: "Auto Play"

- entity: input_boolean.shuffle_charlie
  name: "Shuffle Playlist"

- entity: input_boolean.repeat_charlie
  name: "Repeat Playlist"

- entity: input_boolean.radio_charlie
  name: "Radio Mode"

- type: button
  name: " "
  service: script.update_traffic_sensors
  action_name: "PLAY"
  tap_action:
    action: call-service
    service: script.media_play
    data:
      preset: charlie
