###############################################################################
## Media Entities Charlie
###############################################################################
- entity: input_select.media_type_charlie
  name: "Media Type"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_charlie
      state: Artist
  row:
    entity: select.media_artist_charlie
    name: "Artist Name"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_charlie
      state: Album
  row:
    entity: select.media_album_charlie
    name: "Album Name"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_charlie
      state: Track
  row:
    entity: select.media_track_charlie
    name: "Track Name"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_charlie
      state: Playlist
  row:
    entity: select.media_playlist_charlie
    name: "Playlist"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_charlie
      state: Radio
  row:
    entity: select.media_radio_charlie

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_charlie
      state: Video
  row:
    entity: select.media_video_charlie

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_charlie
      state_not: Video
  row:
    entity: select.media_speaker_charlie

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_charlie
      state: Video
  row:
    entity: select.media_video_display_charlie

- type: custom:fold-entity-row
  head:
    type: custom:template-entity-row
    name: "Options"
    icon: mdi:cog
  entities:
    - type: conditional
      conditions:
        - condition: state
          entity: input_select.media_type_charlie
          state:
            - Track
            - Album

        - condition: state
          entity: input_boolean.radio_charlie
          state: "off"
      row:
        entity: select.media_artist_filter_charlie
        name: "Artist Filter"

    - type: conditional
      conditions:
        - condition: state
          entity: input_select.media_type_charlie
          state: Track

        - condition: state
          entity: input_boolean.radio_charlie
          state: "off"
      row:
        entity: select.media_album_filter_charlie
        name: "Album Filter"

    - type: conditional
      conditions:
        - condition: state
          entity: input_select.media_type_charlie
          state: &media_types
            - Album
            - Artist
            - Track
            - Playlist

        - condition: state
          entity: input_boolean.radio_charlie
          state: "off"
      row:
        entity: input_select.repeat_charlie

    - type: conditional
      conditions:
        - condition: state
          entity: input_select.media_type_charlie
          state: *media_types

        - condition: state
          entity: input_boolean.radio_charlie
          state: "off"
      row:
        entity: input_boolean.shuffle_charlie

    - type: conditional
      conditions:
        - condition: state
          entity: input_select.media_type_charlie
          state: *media_types
      row:
        entity: input_boolean.radio_charlie

    - entity: input_select.enqueue_mode_charlie

- entity: input_number.media_volume_charlie

- type: button
  name: " "
  action_name: "PLAY MEDIA"
  tap_action:
    action: perform-action
    perform_action: script.media_play
    data:
      preset: charlie