###############################################################################
## Media Preset Chill
###############################################################################
- entity: input_select.media_preset_type_chill
  name: "Media Type"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_chill
      state: Playlist
  row:
    entity: select.media_preset_playlist_chill
    name: "Playlist"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_chill
      state: Radio
  row:
    entity: select.media_preset_radio_chill
    name: "Radio Station"

- entity: select.media_preset_speaker_chill
  name: "Speaker"

- entity: input_number.media_preset_volume_chill
  name: "Volume"

- entity: input_boolean.media_preset_enabled_chill
  name: "Auto Play"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_chill
      state: Playlist
  row:
    entity: input_boolean.shuffle_chill
  name: "Shuffle Playlist"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_preset_type_chill
      state: Playlist
  row:
    entity: input_boolean.repeat_chill
    name: "Repeat Playlist"

- type: button
  name: " "
  service: script.media_play
  action_name: "PLAY"
  tap_action:
    action: perform-action
    perform_action: script.media_play
    data:
      preset: chill
