###############################################################################
## Media Entities Company
###############################################################################
- entity: input_select.media_type_company
  name: "Media Type"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_company
      state: Artist
  row:
    entity: select.media_artist_company
    name: "Artist Name"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_company
      state: Album
  row:
    entity: select.media_album_company
    name: "Album Name"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_company
      state: Track
  row:
    entity: select.media_track_company
    name: "Track Name"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_company
      state: Playlist
  row:
    entity: select.media_playlist_company
    name: "Playlist"

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_company
      state: Radio
  row:
    entity: select.media_radio_company

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_company
      state: Video
  row:
    entity: select.media_video_company

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_company
      state_not: Video
  row:
    entity: select.media_speaker_company

- type: conditional
  conditions:
    - condition: state
      entity: input_select.media_type_company
      state: Video
  row:
    entity: select.media_video_display_company

- type: custom:fold-entity-row
  head:
    type: custom:template-entity-row
    name: "Options"
    icon: mdi:cog
  entities:
    - type: conditional
      conditions:
        - condition: state
          entity: input_select.media_type_company
          state:
            - Track
            - Album

        - condition: state
          entity: input_boolean.radio_company
          state: "off"
      row:
        entity: select.media_artist_filter_company
        name: "Artist Filter"

    - type: conditional
      conditions:
        - condition: state
          entity: input_select.media_type_company
          state: Track

        - condition: state
          entity: input_boolean.radio_company
          state: "off"
      row:
        entity: select.media_album_filter_company
        name: "Album Filter"

    - type: conditional
      conditions:
        - condition: state
          entity: input_select.media_type_company
          state: &media_types
            - Album
            - Artist
            - Track
            - Playlist

        - condition: state
          entity: input_boolean.radio_company
          state: "off"
      row:
        entity: input_select.repeat_company

    - type: conditional
      conditions:
        - condition: state
          entity: input_select.media_type_company
          state: *media_types

        - condition: state
          entity: input_boolean.radio_company
          state: "off"
      row:
        entity: input_boolean.shuffle_company

    - type: conditional
      conditions:
        - condition: state
          entity: input_select.media_type_company
          state: *media_types
      row:
        entity: input_boolean.radio_company

    - entity: input_select.enqueue_mode_company

- entity: input_number.media_volume_company

- type: button
  name: " "
  action_name: "PLAY MEDIA"
  tap_action:
    action: perform-action
    perform_action: script.media_play
    data:
      preset: company