###############################################################################
## Shower Scene Media Setting Entities
###############################################################################
- entity: select.media_preset_shower
  name: "Playlist"

- entity: select.media_preset_speaker_shower
  name: "Speaker"

- entity: input_number.media_preset_volume_shower
  name: "Volume"

- entity: input_boolean.media_preset_enabled_shower
  name: "Auto Play"

- entity: input_boolean.shuffle_shower
  name: "Shuffle Playlist"

- entity: input_boolean.repeat_shower
  name: "Repeat Playlist"

- entity: input_boolean.radio_shower
  name: "Radio Mode"

- type: button
  # icon: mdi:play-circle
  name: " "
  service: script.update_traffic_sensors
  action_name: "PLAY"
  tap_action:
    action: call-service
    service: script.media_play
    data:
      preset: shower
