{% macro alarm_icon(entity) %}
{%- if is_state('binary_sensor.alarmo_connected', 'off') %} mdi:shield-remove
{%- elif is_state('input_boolean.alarm_enabled', 'off') %} mdi:shield-off
{%- elif is_state(entity, 'disarmed') %} mdi:shield-check
{%- elif is_state(entity, 'armed_home') %} mdi:shield-home
{%- elif is_state(entity, 'armed_night') %} mdi:shield-moon
{%- elif is_state(entity, 'armed_away') %} mdi:shield-lock
{%- elif is_state(entity, 'armed_vacation') %} mdi:shield-airplane
{%- elif is_state(entity, 'arming') %} mdi:shield-half-full
{%- elif is_state(entity, 'pending') %} mdi:shield-alert-outline
{%- elif is_state(entity, 'triggered') %} mdi:shield-alert
{%- else %} mdi:alert
{%- endif -%}
{% endmacro %}

{% macro alarm_state(entity) %}
{%- if is_state('binary_sensor.alarmo_connected', 'off') %} Disconnected
{%- elif is_state('input_boolean.alarm_enabled', 'off') %} Disabled
{%- else %} {{ states(entity) | replace('_', ' ') | title }}
{%- endif -%}
{% endmacro %}