{% macro alarm_clock_icon(entity) %}
{% if is_state_attr(entity,'status','failed') %} mdi:alarm-note-off
{% elif is_state_attr(entity,'status','snoozed') %} mdi:alarm-snooze
{% elif is_state_attr(entity,'status','pending') %} mdi:alarm-check
{% elif state_attr(entity,'status') in ['playing','testing'] %} mdi:alarm-note
{% elif is_state_attr(entity,'status','off') %} mdi:alarm-off
{% else %} mdi:alarm
{% endif %}
{% endmacro %}

{% macro alarm_clock_state(entity) %}
{{ state_attr(entity,'alarms')[0].fire_time|timestamp_local|as_datetime
  if is_state('input_boolean.bedroom_hub_alarm_clock_enabled','on')
    and state_attr(entity,'alarms') not in ['[]',none] else none }}
{% endmacro %}