{%- macro alert_entities(category) -%}
{{ states.alert | selectattr('attributes.category', 'eq', category) | map(attribute='entity_id') | list }}
{%- endmacro -%}

{%- macro alert_switch_style(entity) -%}
{%- set active_alert = states.alert | selectattr('attributes.category', 'eq',
        states[entity].object_id | replace('_alerts', '')) | selectattr('state', 'ne', 'idle')
      | list | count > 0 if states[entity] != none else false -%}
:host {
  --state-icon-color:
    {%- if active_alert %} var(--entity-severe-color)
    {%- elif is_state(entity, 'off') %} var(--entity-warning-color)
    {%- else %} var(--entity-active-color)
    {%- endif -%}
  ;
  --state-active-color:
    {%- if active_alert %} var(--entity-severe-color)
    {%- else %} var(--entity-active-color)
    {%- endif -%}
  ;
  --switch-unchecked-button-color: var(--entity-warning-color);
  --switch-unchecked-track-color: var(--entity-warning-color);
}
{%- endmacro -%}

{%- macro alert_zero_style(entity) -%}
:host {
  --state-icon-color:
    {%- set state = states(entity) | int(-1) %}
    {%- if state < 0 %} var(--entity-disabled-color)
    {%- elif state == 0 %} var(--entity-warning-color)
    {%- else %} var(--state-icon-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro alert_non_zero_style(entity) -%}
:host {
  --state-icon-color:
    {%- set state = states(entity) | int(-1) %}
    {%- if state < 0 %} var(--entity-disabled-color)
    {%- elif state == 0 %} var(--state-icon-color)
    {%- else %} var(--entity-warning-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}