{%- macro snapshot_filename(prefix) -%}
{{- prefix ~ '_' ~   now().year ~ '-' ~ now().month ~ '-' ~ now().day ~ '-' ~  now().hour ~ '-' ~ now().minute ~ '.jpg' -}}
{%- endmacro -%}

{%- macro camera_name(entity) -%}
{%- from 'camera.jinja' import camera_slug %}
{{- camera_slug(entity) | replace('_', ' ') | title }}
{%- endmacro -%}

{%- macro camera_slug(entity) -%}
{%- if entity | contains('side_driveway') -%} side_driveway
{%- elif entity | contains('side_door') -%} side_door
{%- elif entity | contains('front_driveway') -%} front_driveway
{%- elif entity | contains('front_door') -%} front_door
{%- elif entity | contains('front_yard') -%} front_yard
{%- elif entity | contains('side_gate_front') -%} side_gate_front
{%- elif entity | contains('side_gate_back') -%} side_gate_back
{%- elif entity | contains('back_yard') -%} back_yard
{%- elif entity | contains('back_door') -%} back_door
{%- elif entity | contains('patio_door') -%} patio_door
{%- elif entity | contains('back_house') -%} back_house
{%- elif entity | contains('garage_inside') -%} garage_inside
{%- elif entity | contains('charlie_cam') -%} charlie_cam
{%- elif entity | contains('living_room') -%} living_room
{%- else -%} None
{%- endif -%}
{%- endmacro -%}