{%- macro door_icon(entity) -%}
{%- if not has_value(entity) %} mdi:alert
{%- elif is_state(entity, 'on') %} mdi:door-open
{%- else %} mdi:door
{%- endif %}
{%- endmacro -%}

{%- macro door_color(entity) -%}
{%- set alert_entity = entity ~ '_open_alert' %}
{%- set open = state_attr('alarm_control_panel.master', 'open_sensors')
      if state_attr('alarm_control_panel.master', 'open_sensors') != none else '' %}
{%- set bypassed = state_attr('alarm_control_panel.master', 'bypassed_sensors')
      if state_attr('alarm_control_panel.master', 'bypassed_sensors') != none else '' %}
{%- if not has_value(entity) %} grey
{%- elif is_state('input_boolean.alarm_triggered', 'on')
      and alert_entity in open %} red
{%- elif (alert_entity in open
      or alert_entity in bypassed) %} orange
{%- elif is_state(entity, 'on') %} yellow
{%- else %} white
{%- endif %}
{%- endmacro -%}

{%- macro door_badge(entity) -%}
{%- if has_value(entity) %}
  {%- set entity_slug = entity.split('.')[1] %}
  {{ iif(is_state('input_boolean.' ~ entity_slug, 'off'), 'mdi:close-thick' , '') }}
{%- endif %}
{%- endmacro -%}

{%- macro door_badge_color(entity) -%}
{%- set entity_slug = entity.split('.')[1] %}
{%- if has_value(entity) %}
  {%- set entity_slug = entity.split('.')[1] %}
  {{ iif(is_state('input_boolean.' ~ entity_slug, 'off'), 'orange' , '') }}
{%- endif %}
{%- endmacro -%}

{%- macro door_secondary(entity) -%}
{%- if has_value(entity) %}
  {{- iif(is_state(entity, 'on'), 'Open' , 'Closed') }}
  {%- from 'easy_time.jinja' import easy_relative_time %} - {{ easy_relative_time(states[entity].last_updated) }}
{%- else %}
  {%- if states[entity].state is defined %}{{ states[entity].state }}{% endif %}
{%- endif %}
{%- endmacro -%}

{%- macro door_tile_background(entity) -%}
ha-card {
  background:
  {%- set trigger = state_attr('alarm_control_panel.master', 'open_sensors') if state_attr('alarm_control_panel.master', 'open_sensors') else '' %}
  {%- if is_state('input_boolean.alarm_triggered', 'on') and entity ~ '_open_alert' in trigger %} var(--entity-button-critical-color)
  {%- elif is_state(entity, 'on') and not is_state('alert.hvac_window_door_open', 'idle') %} var(--entity-button-severe-color)
  {%- else %} var(--ha-card-background)
  {%- endif -%}
  ;
}
{%- endmacro -%}
