{%- macro window_door_sensor(entity_name) -%}
:host {
  --paper-item-icon-color:
    {%- if is_state('input_boolean.' ~ entity_name, 'on') %} var(--state-icon-color)
    {%- else %} var(--entity-minor-color)
    {%- endif -%}
  ;
  --state-binary_sensor-active-color:
    {%- set sensor = 'binary_sensor.' ~ entity_name ~ '_open_alert' %}
    {%- set trigger = state_attr('alarm_control_panel.master', 'open_sensors') if state_attr('alarm_control_panel.master', 'open_sensors') else '' %}
    {%- if is_state('input_boolean.alarm_triggered', 'on') and sensor in trigger %} var(--entity-critical-color)
    {%- elif is_state(sensor, 'on') and not is_state('alert.hvac_window_door_open', 'idle') %} var(--entity-severe-color)
    {%- elif is_state('input_boolean.' ~ entity_name, 'off') %} var(--state-warning-color)
    {%- else %} var(--state-active-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}