{%- macro active_fans(entities) -%}
{{- expand(entities | default(state_attr('group.fans', 'entity_id')))
    | map(attribute='entity_id') | select('has_value') | list | to_json }}
{%- endmacro -%}

{%- macro fan_switch(fan) -%}
.primary {
  color:
    {% from 'fan.jinja' import fan_timer %}
    {% set timer = fan_timer(fan) %}
    {%- if timer != none %}
        {%- if states(timer) != 'idle' %} var(--entity-warning-color)
        {%- else %} var(--primary-text-color)
        {%- endif %}
    {%- else %} var(--primary-text-color)
    {%- endif -%}
  !important;
}
{%- endmacro -%}

{%- macro fan_timer(entity) -%}
{%- set timer = 'timer.' ~ states[entity].object_id | default('') %}
{{- timer if has_value(timer) else none }}
{%- endmacro -%}
