{%- macro timers_state(entity) -%}
{%- if state_attr(entity, 'timers') != none and state_attr(entity, 'timers')[0] is defined %}
  {%- set status = state_attr(entity, 'timers')[0].status %}
  {%- if status == 'set' %} active
  {%- elif status == 'paused' %} paused
  {%- elif status == 'waiting' %} waiting
  {%- else %} idle
  {%- endif %}
{%- else %} idle
{%- endif -%}
{%- endmacro -%}

{%- macro duration_attribute(entity) -%}
{{- state_attr(entity, 'timers')[0].duration if state_attr(entity, 'timers') != none
  and state_attr(entity, 'timers')[0] is defined else none -}}
{%- endmacro -%}

{%- macro end_time_attribute(entity) -%}
{{- state_attr(entity, 'timers')[0].local_time_iso if state_attr(entity, 'timers') != none
  and state_attr(entity, 'timers')[0] is defined else none -}}
{%- endmacro -%}

{%- macro alarm_icon(entity) -%}
{{- iif(has_value(entity), 'mdi:alarm-check', 'mdi:alarm-off') -}}
{%- endmacro -%}

{%- macro alarm_state(entity) -%}
{%- set switch = 'input_boolean.' ~ states[entity].object_id | replace('_alarms', '_alarm_clock_enabled') %}
{%- set alarms = state_attr(entity, 'alarms') %}
{%- if typeof(alarms) == 'list' and alarms | count > 0 %}
  {{- alarms[0].fire_time | timestamp_local | as_datetime if is_state(switch, 'on') else none }}
{%- endif -%}
{%- endmacro -%}