{%- macro str_to_list(check_string) -%}
{%- if check_string is iterable and (check_string is string and check_string is not mapping) %}
  {%- set check_string = [check_string] %}
{%- endif %}
{{ check_string | to_json }}
{%- endmacro -%}

{%- macro unavailable_devices() -%}
  {#- list all devices that have at least one unavailable entity -#}
  {% set suspicious_devices = states | rejectattr('state','ne','unavailable')
      | map(attribute='entity_id')
      | map('device_id')
      | unique
      | reject('eq',None)
      | list -%}
  {%- set ns = namespace(unavailables = []) -%}
  {#- create a list of entities to ignore. i.e. powercalc extends devices with entities. -#}
  {%- set ignore_lst = integration_entities('powercalc') -%}
  {%- for device_id in suspicious_devices -%}
    {%- set ids = device_attr(device_id, 'identifiers') -%}
    {%- set integration = 'unknown' if (not ids or ids |list | length == 0
          or ids | list|first | length != 2) else ids | list | first | first -%}
    {#- exlude entities of i.e. powercalc which extends devices with power entities -#}
    {%- set entities= device_entities(device_id) | reject('in', ignore_lst) | list -%}
    {%- set unavailable = expand(entities) | selectattr('state','eq','unavailable') |list|count -%}
    {#- don't count available entities of connection type -#}
    {%- set available = expand(entities) | selectattr('state','ne','unavailable') | list | count -%}
    {#- so count connection entities in error state -#}
    {%- set contypes = expand(entities) | selectattr('state','eq','off') | selectattr('attributes.device_class', 'defined') |selectattr('attributes.device_class','eq','connectivity') | list | count  -%}
    {%- if unavailable!=0 and available-contypes==0  -%}
      {#- preferably use named_by_user -#}
      {%- set name = device_attr(device_id, 'name_by_user') -%}
      {%- set name = device_attr(device_id, 'name') if name==None else name -%}
      {%- set area = device_attr(device_id, 'area_id') or 'n/a' -%}
      {%- set model = device_attr(device_id, 'model') or 'n/a' -%}
      {%- set devices_info = {"name":name,"area":area,"model":model,"id":device_id,"available":available,"unavailable":unavailable,"integration":integration} -%}
      {%- set ns.unavailables = ns.unavailables + [ devices_info ] -%}
    {%- endif -%}
  {%- endfor -%}
  {{ ns.unavailables | to_json }}
{%- endmacro -%}

{%- macro ignored_device_entities() %}
{%- set ignored_devices = label_devices('ignored') %}
{%- set ignored_device_entities = namespace(value=[]) %}
{%- for device in ignored_devices %}
  {%- set ignored_device_entities.value = ignored_device_entities.value + device_entities(device) %}
{%- endfor %}
{{ ignored_device_entities.value }}
{%- endmacro -%}

{%- macro status_sensor_style(value, base, minor, warning, severe, critical) -%}
:host {
  --paper-item-icon-color:
    {%- set value = value | float(-1) -%}
    {%- if value < base | float(-1) %} var(--entity-disabled-color)
    {%- elif value == base | float or value < minor | float(-1) %} var(--state-icon-color)
    {%- elif minor != base and value < warning | float(-1) %} var(--entity-minor-color)
    {%- elif warning != base and value < severe | float(-1) %} var(--entity-warning-color)
    {%- elif severe != base and value < critical | float(-1) %} var(--entity-severe-color)
    {%- else %} var(--entity-critical-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro status_options() -%}
{{- ['critical', 'severe', 'warning', 'minor', 'ok'] -}}
{%- endmacro -%}

{%- macro summary_status_sensor_style(entity) -%}
:host {
  --paper-item-icon-color:
    {% set value = states(entity) %}
    {% if value == 'ok' %} var(--entity-ok-color)
    {% elif value == 'minor' %} var(--entity-minor-color)
    {% elif value == 'warning' %} var(--entity-warning-color)
    {% elif value == 'severe' %} var(--entity-severe-color)
    {% elif value == 'critical' %} var(--entity-critical-color)
    {% else %} var(--entity-disabled-color)
    {% endif %}
  ;
}
{%- endmacro -%}

{%- macro status_alert_color(value, base, minor, warning, severe, critical) -%}
:host {
  --state-alert-on-color:
    {%- set value = value | float(-1) -%}
    {%- if value < base | float(-1) %} var(--entity-disabled-color)
    {%- elif value == base | float or value < minor | float(-1) %} var(--state-icon-color)
    {%- elif value != base and value < warning | float(-1) %} var(--entity-minor-color)
    {%- elif value != base and value < severe | float(-1) %} var(--entity-warning-color)
    {%- elif value != base and value < critical | float(-1) %} var(--entity-severe-color)
    {%- else %} var(--entity-critical-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}
