{% macro light_list(entities) %}
{%- set all = state_attr('group.lights', 'entity_id') | select('has_value') | list %}
{{- expand(entities | default(all)) | map(attribute='entity_id') | list -}}
{% endmacro %}

{% macro light_timer(light) %}
{%- if state_attr(light, 'rgb_light') == 'master' %}
  {%- set object_id = state_attr(light, 'rgb_control').split('.')[1] | default('') %}
{%- elif state_attr(light, 'rgb_light') == 'slave' %}
  {%- set object_id = state_attr(state_attr(light, 'master'), 'rgb_control').split('.')[1] | default('') %}
{%- else %}
  {%- set object_id = light.split('.')[1] | default('') %}
{%- endif %}
{%- set timer = 'timer.' ~ object_id %}
{{- timer if has_value(timer) else none -}}
{% endmacro %}

{% macro adaptive_switch(light) %}
  {%- if state_attr(light, 'rgb_light') == 'slave' %}
    {%- set light = state_attr(light, 'master') %}
  {%- endif %}
  {{- (states.switch
      | selectattr('entity_id', 'contains', 'adaptive_lighting')
      | selectattr('attributes.configuration', 'defined')
      | selectattr('attributes.configuration.lights', 'defined')
      | selectattr('attributes.configuration.lights', 'contains', light)
      | map(attribute='entity_id') | list)[0] | default(none) -}}
{% endmacro %}

{% macro manual_mode(light, switch) %}
{%- if state_attr(light, 'rgb_light') == 'master' %}
  {%- set object_id = 'light.' ~ state_attr(light, 'rgb_control').split('.')[1] | default('') %}
{%- elif state_attr(light, 'rgb_light') == 'slave' %}
  {%- set object_id = 'light.' ~ state_attr(state_attr(light, 'master'), 'rgb_control').split('.')[1] | default('') %}
{%- endif %}
{{- light in state_attr(switch, 'manual_control')
    if switch != none and state_attr(switch, 'manual_control') != none else false -}}
{% endmacro %}