{%- macro valid_lights(entities) -%}
{{- expand(entities | default(state_attr('group.lights', 'entity_id')))
    | map(attribute='entity_id') | select('has_value') | list | to_json }}
{%- endmacro -%}

{%- macro light_timer(entity) -%}
{%- if state_attr(entity, 'rgb_light') == 'master' %}
  {%- set object_id = states[state_attr(entity, 'rgb_control')].object_id | default('') %}
{%- elif state_attr(entity, 'rgb_light') == 'slave' %}
  {%- set object_id = states[state_attr(state_attr(entity, 'master'), 'rgb_control')].object_id | default('') %}
{%- else %}
  {%- set object_id = states[entity].object_id | default('') %}
{%- endif %}
{%- set timer = 'timer.' ~ object_id %}
{{- timer if has_value(timer) else none -}}
{%- endmacro -%}

{%- macro adaptive_switch(entity) -%}
  {%- if state_attr(entity, 'rgb_light') == 'slave' %}
    {%- set entity = state_attr(entity, 'master') %}
  {%- endif %}
  {{- (states.switch
      | selectattr('entity_id', 'contains', 'adaptive_lighting')
      | selectattr('attributes.configuration', 'defined')
      | selectattr('attributes.configuration.lights', 'defined')
      | selectattr('attributes.configuration.lights', 'contains', entity)
      | map(attribute='entity_id') | list)[0] | default(none) -}}
{%- endmacro -%}

{%- macro manual_mode(entity, switch) -%}
{%- if state_attr(entity, 'rgb_light') == 'master' %}
  {%- set object_id = 'light.' ~ states[state_attr(entity, 'rgb_control')].object_id | default('') %}
{%- elif state_attr(entity, 'rgb_light') == 'slave' %}
  {%- set object_id = 'light.' ~ states[state_attr(state_attr(entity, 'master'), 'rgb_control')].object_id | default('') %}
{%- endif %}
{{- entity in state_attr(switch, 'manual_control')
    if switch != none and state_attr(switch, 'manual_control') != none else false -}}
{%- endmacro -%}

{%- macro scene_rgb_state(scene) -%}
rgb({{ states('input_number.rgb_red_' ~ scene) | int }},
{{- states('input_number.rgb_green_' ~ scene) | int }},
{{- states('input_number.rgb_blue_' ~ scene) | int }})
{%- endmacro -%}

{%- macro scene_rgb_attribute(scene) -%}
[{{ states('input_number.rgb_red_' ~ scene) | int }},
{{- states('input_number.rgb_green_' ~ scene) | int }},
{{- states('input_number.rgb_blue_' ~ scene) | int }}]
{%- endmacro -%}

{%- macro light_switch_style(entity, switch) -%}
.primary {
  color:
    {%- set manual = state_attr(switch, 'manual_control') %}
    {%- if manual != none %}
        {%- if entity in manual %} var(--entity-warning-color)
        {%- else %} var(--primary-text-color)
        {%- endif %}
    {%- else %} var(--primary-text-color)
    {%- endif -%}
  !important;
}
{%- endmacro -%}