{%- macro valid_lights(entities) -%}
{{- expand(entities | default(state_attr('group.lights', 'entity_id')))
    | map(attribute='entity_id') | select('has_value') | sort | to_json }}
{%- endmacro -%}

{%- macro light_timer(entity) -%}
{%- if state_attr(entity, 'type') == 'group' %}
  {%- set object_id = states[state_attr(entity, 'master')].object_id | default('') %}
{%- elif state_attr(entity, 'type') == 'bulb' %}
  {%- set object_id = states[state_attr(state_attr(entity, 'group'), 'master')].object_id | default('') %}
{%- else %}
  {%- set object_id = states[entity].object_id | default('') %}
{%- endif %}
{%- set timer = 'timer.' ~ object_id %}
{{- timer if has_value(timer) else none -}}
{%- endmacro -%}

{%- macro adaptive_switch(entity) -%}
  {%- if state_attr(entity, 'type') == 'bulb' %}
    {%- set entity = state_attr(entity, 'group') %}
  {%- endif %}
  {{- (states.switch
      | selectattr('entity_id', 'contains', 'adaptive_lighting')
      | selectattr('attributes.configuration', 'defined')
      | selectattr('attributes.configuration.lights', 'defined')
      | selectattr('attributes.configuration.lights', 'contains', entity)
      | map(attribute='entity_id') | list)[0] | default(none) -}}
{%- endmacro -%}

{# return light entity paired with timer - first only if group #}
{%- macro timer_light(timer) -%}
{% set light = 'light.' ~ states[timer].object_id %}
{% if is_state_attr(light, 'master', true) %}
  {% set light = expand('group.lights')
      | selectattr('attributes.master', 'eq', light)
      | map(attribute='entity_id') | first %}
  {% if states[light].attributes.group is defined %}
    {% set light = state_attr(light, 'group') %}
  {% endif %}
{% endif %}
{{ light }}
{%- endmacro -%}

{%- macro manual_mode(entity, switch) -%}
{%- if state_attr(entity, 'type') == 'group' %}
  {%- set entity = states[state_attr(entity, 'control')] | default('') %}
{%- elif state_attr(entity, 'type') == 'bulb' %}
  {%- set entity = states[state_attr(state_attr(entity, 'group'), 'master')] | default('') %}
{%- endif %}
{{- entity in state_attr(switch, 'manual_control')
    if switch != none and state_attr(switch, 'manual_control') != none else false -}}
{%- endmacro -%}

{%- macro scene_rgb_state(scene) -%}
rgb({{ states('input_number.rgb_red_' ~ scene) | int }},
{{- states('input_number.rgb_green_' ~ scene) | int }},
{{- states('input_number.rgb_blue_' ~ scene) | int }})
{%- endmacro -%}

{%- macro scene_rgb_attribute(scene) -%}
[{{ states('input_number.rgb_red_' ~ scene) | int }},
{{- states('input_number.rgb_green_' ~ scene) | int }},
{{- states('input_number.rgb_blue_' ~ scene) | int }}]
{%- endmacro -%}

{%- macro light_switch_style(entity) -%}
{%- from 'light.jinja' import light_timer %}
ha-card {
  background:
    {%- set timer = light_timer(entity) %}
    {%- if has_value(timer) and is_state(timer, 'active') %} var(--background-selected-color)
    {%- else %} var(--ha-card-background)
    {%- endif %} !important;
}
{%- endmacro -%}

{%- macro light_switch_secondary(entity) -%}
{%- from 'light.jinja' import adaptive_switch %}
.primary {
  color:
    {%- set manual = state_attr(adaptive_switch(entity), 'manual_control') %}
    {%- if manual != none %}
        {%- if entity in manual %} var(--entity-warning-color)
        {%- else %} var(--primary-text-color)
        {%- endif %}
    {%- else %} var(--primary-text-color)
    {%- endif -%}
  !important;
}
{%- endmacro -%}