{%- macro clist_locks(locks) -%}
{%- set msg = namespace(value='') %}
{%- set qty = namespace(value=0) %}
{%- for item in locks %}
  {%- set qty.value = qty.value | int(0) + 1 %}
  {%- if not loop.first %}{% set msg.value = msg.value ~ ', ' %}{% endif %}
  {%- set msg.value = msg.value ~ states[item].object_id | replace('_door_lock', '') | replace('_', ' ') | title %}
{%- endfor %}
{%- set clist = ', and ' if msg.value.split(', ') | count > 2 else ' and ' %}
{%- set plural = 's have' if qty.value | int(0) > 1 else ' has' %}
{{- clist.join(msg.value.rsplit(', ', 1)) -}}
{%- endmacro -%}
