{%- macro occupancy_mode() -%}
{%- if is_state('binary_sensor.someone_home', 'off') %}
  {%- set mode = 'Vacation' if is_state('input_select.occupancy_mode', 'Vacation') else 'Away' %}
{%- elif is_state('binary_sensor.night_time', 'on')
      and now() - state_attr('script.waketime', 'last_triggered') > timedelta(hours=4) %}
  {%- set mode = 'Night' if is_state('input_boolean.bedtime_delayed', 'off')
        else ('Home' if is_state('binary_sensor.owner_home', 'on') else 'Guest') %}
{%- else %}
  {%- set mode = 'Home' if is_state('binary_sensor.owner_home', 'on') else 'Guest' %}
{%- endif %}
{{- mode -}}
{%- endmacro -%}

{%- macro trigger_person(trigger) -%}
{%- if trigger.id in  ['jason', 'guest'] %}
  {%- set person = trigger.id %}
{%- elif trigger.id in  ['locked', 'unlocked'] %}
  {%- set person = trigger.to_state.state %}
{%- elif trigger.id == 'zone' %}
  {%- set person = trigger.entity_id %}
{%- elif trigger.event is defined %}
  {%- set person = trigger.event.data['action'] %}
{%- else %}
  {%- set person = trigger.entity_id %}
{%- endif %}
{%- if person | lower | contains('guest') %} guest
{%- elif person | lower | contains('jason') %} jason
{%- else %} hassio
{%- endif -%}
{%- endmacro -%}

{%- macro occupancy_alert() -%}
{%- from 'speech_helpers.jinja' import array_to_clist %}
{%- from 'speech_helpers.jinja' import plural_verb %}
{%- set home = state_attr('binary_sensor.someone_home', 'home') %}
{%- set someone_home = is_state('binary_sensor.someone_home', 'on') %}
{%- set owner_home = state_attr('binary_sensor.owner_home', 'on') %}
{%- set alarm = states('alarm_control_panel.house') %}
{%- set mode = states('input_select.occupancy_mode') %}
{%- set status = states('sensor.alarm_status') %}
{%- if (someone_home and alarm in ['armed_away', 'armed_vacation'])
      or (not someone_home and alarm in ['disarmed', 'armed_home']) %}
{{- array_to_clist(home, true) }}{{ plural_verb(home | count) }} home, but the house alarm is {{ status }}.
{%- elif (alarm == 'armed_night' and mode != 'Night')
      or (alarm in ['armed_home', 'disarmed'] and mode not in ['Home', 'Guest']) %}
The house is in {{ mode }} mode but the alarm is {{ status }}.
{%- elif mode == 'Guest' and owner_home %}
The house is in guest mode, but {{ array_to_clist(home, true) | replace('guest', '') }}
{{- plural_verb(home | count - 1) }} home.
{%- elif (someone_home and mode in ['Away', 'Vacation'])
      or (not someone_home and mode in ['Home', 'Guest', 'Night']) %}
{{ array_to_clist(home, true) }}{{ plural_verb(home | count) }} home, but house is in {{ mode }} mode.
{%- endif %}
{%- if someone_home %}
  {%- if mode == ['Away', 'Vacation'] %}
Have you forgotten to activate home mode?
  {%- elif alarm in ['armed_away', 'armed_vacation'] %}
Have you forgotten to disarm the alarm?
  {%- endif %}
{%- else %}
Has your phone not connected to the network
  {%- if mode == ['Home', 'Night', 'Guest'] -%}
, or have you just forgotten to activate away mode
  {%- elif alarm in ['disarmed', 'armed_home', 'armed_night', 'armed_vacation'] -%}
, or have you just forgotten to arm the alarm again
  {%- endif %}?
{%- endif -%}
{%- endmacro -%}

{%- macro occupancy_tile_style(mode) -%}
ha-card {
  background:
    {%- set active = is_state('input_select.occupancy_mode', mode) %}
    {%- if active and not is_state('alert.occupancy_mode', 'idle') %} var(--background-warning-color)
    {%- elif active and  is_state_attr('binary_sensor.someone_home', 'just_arrived', true) %} var(--background-active-color)
    {%- elif active and  is_state_attr('binary_sensor.someone_home', 'just_left', true) %} var(--background-active-color)
    {%- else %} var(--ha-card-background)
    {%- endif %} !important;
  --tile-color:
      {%- if active %} var(--presence-{{ mode | lower }}-color)
      {%- else %} var(--state-icon-color)
      {%- endif %} !important;
}
{%- endmacro -%}