
{%- macro reminder_last_done(reminder) -%}
{%- if is_state('input_boolean.' ~ reminder ~ '_enabled', 'on') %}
  {% from 'schedule.jinja' import day_or_date %}
  {{ day_or_date(states('button.' ~ reminder ~ '_done'), true, true, true) }}
{%- else %} Disabled
{%- endif -%}
{%- endmacro -%}

{%- macro reminder_style(reminder) -%}
:host {
  --paper-item-icon-color:
    {%- if is_state('sensor.' ~ reminder ~ '_reminder', 'Disabled') %} var(--entity-disabled-color)
    {%- elif is_state('sensor.' ~ reminder ~ '_reminder', 'Skipped') %} var(--entity-severe-color)
    {%- elif is_state('sensor.' ~ reminder ~ '_reminder', 'Paused') %} var(--entity-warning-color)
    {%- elif is_state('sensor.' ~ reminder ~ '_reminder', 'Active') %} var(--entity-active-color)
    {%- else %} var(--state-icon-color)
    {%- endif %}
}
{%- endmacro -%}
