
{%- macro reminder_last_done(reminder) -%}
{%- if is_state('input_boolean.' ~ reminder ~ '_enabled', 'on') %}
  {% from 'schedule.jinja' import day_or_date %}
  {{ day_or_date(states('button.' ~ reminder ~ '_done'), true, true, true) }}
{%- else %} Disabled
{%- endif -%}
{%- endmacro -%}

{%- macro reminder_style(reminder) -%}
:host {
  --state-icon-color:
    {%- if is_state('sensor.' ~ reminder ~ '_reminder', 'Disabled') %} var(--disabled-color)
    {%- elif is_state('sensor.' ~ reminder ~ '_reminder', 'Skipped') %} var(--entity-severe-color)
    {%- elif is_state('sensor.' ~ reminder ~ '_reminder', 'Paused') %} var(--entity-warning-color)
    {%- elif is_state('sensor.' ~ reminder ~ '_reminder', 'Active') %} var(--state-active-color)
    {%- else %} var(--state-inactive-color)
    {%- endif %} !important;
}
{%- endmacro -%}

{%- macro reminder_tile_style(reminder) -%}
ha-card {
  --tile-color:
      {%- if is_state('input_boolean.' ~ reminder ~ '_enabled', 'off') %} var(--disabled-color)
      {%- elif is_state('input_boolean.' ~ reminder ~ '_skipped', 'on') %} var(--entity-severe-color)
      {%- elif is_state('input_boolean.' ~ reminder ~ '_paused', 'on') %} var(--entity-warning-color)
      {%- elif is_state('input_boolean.' ~ reminder ~ '_active', 'on') %} var(--state-active-color)
      {%- else %} var(--state-inactive-color)
      {%- endif %} !important;
  ;
}
{%- endmacro -%}