{%- macro scene_rgb_state(scene) -%}
rgb({{ states('input_number.rgb_red_' ~ scene) | int }},
{{- states('input_number.rgb_green_' ~ scene) | int }},
{{- states('input_number.rgb_blue_' ~ scene) | int }})
{%- endmacro -%}

{%- macro scene_rgb_attribute(scene) -%}
[{{ states('input_number.rgb_red_' ~ scene) | int }},
{{- states('input_number.rgb_green_' ~ scene) | int }},
{{- states('input_number.rgb_blue_' ~ scene) | int }}]
{%- endmacro -%}