{%- macro list_events(events) -%}
{%- for event in events %}
  {%- if (event.start is defined) %}
    {%- if (event.start | as_datetime).day == now().day %}
      {{ event.start | as_timestamp | timestamp_custom('Today at %-I:%M %p') }}: {% if event.summary is defined %}{{ event.summary }}{% endif %}
    {%- else %}
      {{ event.start | as_timestamp | timestamp_custom('%A at %-I:%M %p') }}: {% if event.summary is defined %}{{ event.summary }}{% endif %}
    {%- endif %}
  {%- else %}{% if event.summary is defined %}{{ event.summary }}{% endif %}
  {%- endif %}
{%- endfor %}.
{%- endmacro -%}

{%- macro leave_home_time(person) -%}
{%- from 'speech.jinja' import plural_qty %}
{%- set minutes = state_attr('sensor.leave_home_time', 'leave_min') | int(none) %}
{%- set traffic_time = state_attr('sensor.' ~ person ~ '_time_to_work', 'duration_in_traffic') %}
Your current commute time to work is {{ traffic_time if traffic_time != none else 'expected to be longer than usual' }}.
{%- if minutes != none %}
  {%- if minutes == 0 %}
You need to leave for work right now!
  {%- elif minutes > 0 %}
You need to leave for work in {{ plural_qty('minute', minutes, false) }}!
  {%- else %}
You should have left for work {{ plural_qty('minute', minutes | abs, false) }} ago!
  {%- endif %}
{%- else %}
Check the clock! Your time to leave can not be determined!
{%- endif -%}
{%- endmacro -%}