{%- macro list_events(events) -%}
{%- for event in events %}
  {%- if (event.start is defined) %}
    {%- if (event.start | as_datetime).day == now().day %}
      {{ event.start | as_timestamp | timestamp_custom('Today at %-I:%M %p') }}: {% if event.summary is defined %}{{ event.summary }}{% endif %}
    {%- else %}
      {{ event.start | as_timestamp | timestamp_custom('%A at %-I:%M %p') }}: {% if event.summary is defined %}{{ event.summary }}{% endif %}
    {%- endif %}
  {%- else %}{% if event.summary is defined %}{{ event.summary }}{% endif %}
  {%- endif %}
{%- endfor %}.
{%- endmacro -%}
