{%- macro list_events(events) -%}
{%- for event in events %}
  {%- if (event.start is defined) %}
    {%- if (event.start | as_datetime).day == now().day %}
      {{ event.start | as_timestamp | timestamp_custom('Today at %-I:%M %p') }}: {% if event.summary is defined %}{{ event.summary }}{% endif %}
    {%- else %}
      {{ event.start | as_timestamp | timestamp_custom('%A at %-I:%M %p') }}: {% if event.summary is defined %}{{ event.summary }}{% endif %}
    {%- endif %}
  {%- else %}{% if event.summary is defined %}{{ event.summary }}{% endif %}
  {%- endif %}
{%- endfor %}.
{%- endmacro -%}

{%- macro leave_home_time(person) -%}
{%- from 'speech_helpers.jinja' import plural %}
{%- set minutes = state_attr('sensor.leave_home_time', 'leave_min') | int(none) %}
{%- set traffic_time = state_attr('sensor.' ~ person ~ '_time_to_work', 'duration_in_traffic') -%}
Your current commute time to work is {{ traffic_time if traffic_time != none else 'expected to be longer than usual' }}.
{%- if minutes != none %}
  {%- if minutes == 0 %}
You need to leave for work right now!
  {%- elif minutes > 0 %}
You need to leave for work in {{ plural('minute', minutes + 1, true) }}!
  {%- elif minutes > -60 %}
You should have left for work {{ plural('minute', minutes | abs, true) }} ago!
  {%- else %}
You're either very late or very early.  Figure it out dude.
  {%- endif %}
{%- else %}
Check the clock! Your time to leave for work can not be determined today!
{%- endif -%}
{%- endmacro -%}

{%- macro twelve_hour(entity) -%}
{{- states(entity) | as_timestamp(none) | timestamp_custom('%-I:%M %p', true, none) -}}
{%- endmacro -%}

{%- macro reminder_done(reminder) -%}
{%- set last_done = as_datetime(states('button.' ~ reminder ~ '_done'), none) | as_local %}
{%- if last_done != none -%}
Last completed {{ last_done.strftime('today at %-I:%M %p')
  if now().day == last_done.day else last_done.strftime('%A at %-I:%M %p') }}
{%- endif %}
{%- endmacro -%}