{%- macro precipitation_text() -%}
{%- from 'speech.jinja' import plural_qty -%}
{%- from 'speech.jinja' import full_cardinal_direction -%}
{%- set current = states('sensor.precipitation_type') | lower %}
{%- set type = state_attr('sensor.precipitation_start', 'type') | lower %}
{%- set time = state_attr('sensor.precipitation_start', '12hour') %}
{%- set dist = states('sensor.nearest_storm_distance') | int(-1) %}
{%- set dir = full_cardinal_direction(states('sensor.nearest_storm_bearing') | int(-1)) %}
{%- if is_state('binary_sensor.precipitation_active','on') %}
It is {{ current }}ing right now.
{%- elif time != none %}
Possibility of {{ type }} around {{ time }}.
{%- if dist > 0 %}
The storm is {{ iif(dist > 0,
  plural_qty('kilometer', dist, false) ~ ' away', ' in the immediate vicinity') }}
  {{- iif(dir != 'unknown', ' approaching from the ' ~ dir, '') }}.
{%- endif %}
{%- endif -%}
{%- endmacro -%}

{%- macro list_events(events) -%}
{%- for event in events %}
  {%- if (event.start is defined) %}
    {%- if (event.start | as_datetime).day == now().day %}
      {{ event.start | as_timestamp | timestamp_custom('Today at %-I:%M %p') }}: {% if event.summary is defined %}{{ event.summary }}{% endif %}
    {%- else %}
      {{ event.start | as_timestamp | timestamp_custom('%A at %-I:%M %p') }}: {% if event.summary is defined %}{{ event.summary }}{% endif %}
    {%- endif %}
  {%- else %}{% if event.summary is defined %}{{ event.summary }}{% endif %}
  {%- endif %}
  {%- if event.description is defined %} - {{ event.description }}{% endif %}
{%- endfor %}.
{%- endmacro -%}

{%- macro twelve_hour(entity) -%}
{{- states(entity) | as_timestamp(none) | timestamp_custom('%-I:%M %p', true, none) -}}
{%- endmacro -%}

{%- macro cardinal_direction(bearing) %}
{%- set directions = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S',
    'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW', 'N'] %}
{{- iif(is_number(bearing) and bearing >= 0, directions[((bearing | float(-1)/360) | float*16) | round], 'unknown') -}}
{%- endmacro -%}

{%- macro full_cardinal_direction(bearing) -%}
{%- set directions = ['North', 'North-Northeast', 'Northeast', 'East-Northeast', 'East', 'East-Southeast',
    'Southeast', 'South-Southeast', 'South', 'South-Southwest', 'Southwest', 'West-Southwest', 'West',
    'West-Northwest', 'Northwest', 'North-Northwest', 'North'] %}
{{- iif(is_number(bearing) and bearing >= 0, directions[((bearing | float(-1)/360) | float*16) | round], 'unknown') -}}
{%- endmacro -%}

{%- macro clist_locks(locks) -%}
{%- set msg = namespace(value='') %}
{%- set qty = namespace(value=0) %}
{%- for item in locks %}
  {%- set qty.value = qty.value | int(0) + 1 %}
  {%- if not loop.first %}{% set msg.value = msg.value ~ ', ' %}{% endif %}
  {%- set msg.value = msg.value ~ states[item].object_id | replace('_door_lock', '') | replace('_', ' ') | title %}
{%- endfor %}
{%- set clist = ', and ' if msg.value.split(', ') | count > 2 else ' and ' %}
{%- set plural = 's have' if qty.value | int(0) > 1 else ' has' %}
{{- clist.join(msg.value.rsplit(', ', 1)) -}}
{%- endmacro -%}

{%- macro iarticle(word) -%}
{%- if is_number(word) %}
  {%- set word = number_words(word) %}
{%- endif %}
{%- if word | regex_match('one|uni') -%} {{ 'a ' }}
{%- elif word | regex_match('hour|honor|honest') %} {{ 'an ' }}
{%- else -%} {{ iif(word[0] in ['a', 'e', 'i' ,'o', 'u'],'an ', 'a ') }}
{%- endif -%}
{{- word -}}
{%- endmacro -%}

{%- macro number_words(number) -%}
{%- if is_number(number) %}
  {%- from 'speech.jinja' import number_words %}
  {%- set number = number | int %}
  {%- set units = ['', 'one', 'two', 'three', 'four','five', 'six', 'seven','eight', 'nine', 'ten', 'eleven ', 'twelve', 'thirteen', 'fourteen', 'fifteen','sixteen', 'seventeen', 'eighteen', 'nineteen'] %}
  {%- set tens = ['', '', 'twenty ', 'thirty ', 'forty ', 'fifty ', 'sixty ', 'seventy ', 'eighty ', 'ninety '] %}
  {%- if number == 0 -%} zero
  {%- else %}
    {%- if number < 0 -%} negative {% endif %}
    {%- if number < 20 -%} {{ units[number] }}
    {%- elif number < 100 -%} {{ tens[number // 10] ~ units[number % 10] }}
    {%- elif number < 1000 -%} {{ number_words(number // 100) ~ ' hundred ' ~ iif(number % 100 > 0, 'and ' ~ number_words(number % 100),'') }}
    {%- elif number < 1000000 -%} {{ number_words(number // 1000) ~ ' thousand ' ~ iif(number % 1000 > 0, 'and ' ~ number_words(number % 1000),'') }}
    {%- elif number < 1000000000 -%} {{ number_words(number // 1000000) ~ ' million ' ~ iif(number % 1000000 > 0, 'and ' ~ number_words(number % 1000000),'') }}
    {%- elif number < 1000000000000 -%} {{ number_words(number // 1000000000) ~ ' billion ' ~ iif(number % 1000000000 > 0, 'and ' ~ number_words(number % 1000000000),'') }}
    {%- else -%} {{ number_words(number // 1000000000000) ~ ' trillion ' ~ iif(number % 1000000000000 > 0, 'and ' ~ number_words(number % 1000000000000),'') }}
    {%- endif %}
  {%- endif %}
{%- endif -%}
{%- endmacro -%}

{%- macro pluralize(word, qty, suffix) -%}
{%- if is_number(qty) -%}
{{ word ~ iif(qty | abs != 1,'s','') }}
{%- else -%}
{{ word }}
{%- endif -%}
{%- if suffix %}{{ iif(qty | abs == 1, ' is', ' are') }}{% endif %}
{%- endmacro -%}

{%- macro plural_qty(word, qty, suffix) -%}
{%- from 'speech.jinja' import pluralize -%}
{{ qty }}{% if is_number(qty) %} {{ pluralize(word, qty, suffix) }}{% endif -%}
{%- endmacro -%}