{% macro alert_switch(entity) %}
:host {
  --paper-item-icon-color:
    {% if states.alert | selectattr('attributes.category', 'eq', entity.split('.')[1][:-7])
        | selectattr('state', 'ne', 'idle') | list | count > 0 %} var(--entity-severe-color)
    {% elif is_state(entity, 'off') %} var(--entity-warning-color)
    {% else %} var(--state-icon-color)
    {% endif %}
  ;
  --switch-unchecked-button-color: var(--entity-warning-color);
  --switch-unchecked-track-color: var(--entity-warning-color);
}
{% endmacro %}

{% macro window_door_sensor(entity_name) %}
:host {
  --paper-item-icon-color:
    {% if is_state('input_boolean.' ~ entity_name, 'on') %} var(--state-icon-color)
    {% else %} var(--entity-minor-color)
    {% endif %}
  ;
  --state-binary_sensor-active-color:
    {% set sensor = 'binary_sensor.' ~ entity_name ~ '_open_alert' %}
    {% set trigger = state_attr('alarm_control_panel.master', 'open_sensors') if state_attr('alarm_control_panel.master', 'open_sensors') else '' %}
    {% if is_state('input_boolean.alarm_triggered', 'on') and sensor in trigger %} var(--entity-critical-color)
    {% elif is_state(sensor, 'on') and not is_state('alert.hvac_window_door_open', 'idle') %} var(--entity-severe-color)
    {% elif is_state('input_boolean.' ~ entity_name, 'off') %} var(--state-warning-color)
    {% else %} var(--state-active-color)
    {% endif %}
  ;
}
{% endmacro %}

{% macro light_switch(entity, switch) %}
ha-card {
  --card-background-color: var(--ha-card-background);
  --bsc-primary-text-color:
    {% set manual = state_attr(switch, 'manual_control') %}
    {% if manual != none %}
        {% if entity in manual %} var(--entity-warning-color)
        {% else %} var(--primary-text-color)
        {% endif %}
    {% else %} var(--primary-text-color)
    {% endif %}
  ;
}
{% endmacro %}

{# #ISSUE noticable performance hit on popup load #}
{% macro popup_style() %}
div.mdc-dialog__scrim {
  backdrop-filter: grayscale(100%) brightness(25%) !important;
  -webkit-backdrop-filter: grayscale(100%) brightness(25%) !important;
}
div.mdc-dialog__surface {
  background: transparent !important;
}
{% endmacro %}