{%- macro alert_switch(entity) -%}
{%- set active_alert = states.alert | selectattr('attributes.category', 'eq', states[entity].object_id[:-7])
      | selectattr('state', 'ne', 'idle') | list | count > 0 if states[entity] != none else false -%}
:host {
  --paper-item-icon-color:
    {%- if active_alert %} var(--entity-severe-color)
    {%- elif is_state(entity, 'off') %} var(--entity-warning-color)
    {%- else %} var(--state-icon-color)
    {%- endif -%}
  ;
  --state-active-color:
    {%- if active_alert %} var(--entity-severe-color)
    {%- else %} var(--state-active-color)
    {%- endif -%}
  ;
  --switch-unchecked-button-color: var(--entity-warning-color);
  --switch-unchecked-track-color: var(--entity-warning-color);
}
{%- endmacro -%}

{%- macro popup_style() -%}
div.mdc-dialog__scrim {
  backdrop-filter: grayscale(100%) brightness(25%) !important;
  -webkit-backdrop-filter: grayscale(100%) brightness(25%) !important;
}
div.mdc-dialog__surface {
  background: transparent !important;
}
{%- endmacro -%}

