{%- macro tts_player(entity) -%}
{%- if has_value('sensor.tts_active_media_player') -%}
  {{ is_state('input_boolean.tts', 'on')
      and (entity == states('sensor.tts_active_media_player')
        or entity in state_attr('sensor.tts_active_media_player', 'entity_id')) }}
{%- else -%} {{ false }}
{%- endif -%}
{%- endmacro -%}

{%- macro hass_cloud_voices(language) -%}
{%- if language == 'English (Canada)' -%} {{ ['Clara', 'Liam'] }}
{%- elif language == 'English (USA)' -%}
{{ ['Amber',
'Ana',
'Andrew',
'Aria',
'Aria:chat',
'Aria:customerservice',
'Aria:narration-professional',
'Aria:newscast-casual',
'Aria:newscast-formal',
'Aria:cheerful',
'Aria:empathetic',
'Aria:angry',
'Aria:sad',
'Aria:excited',
'Aria:friendly',
'Aria:terrified',
'Aria:shouting',
'Aria:unfriendly',
'Aria:whispering',
'Aria:hopeful',
'Ashley',
'Ava',
'Brandon',
'Brian',
'Christopher',
'Cora',
'Davis',
'Davis:chat',
'Davis:angry',
'Davis:cheerful',
'Davis:sad',
'Davis:excited',
'Davis:friendly',
'Davis:terrified',
'Davis:shouting',
'Davis:unfriendly',
'Davis:whispering',
'Davis:hopeful',
'Elizabeth',
'Emma',
'Eric',
'Guy',
'Guy:newscast',
'Guy:angry',
'Guy:cheerful',
'Guy:sad',
'Guy:excited',
'Guy:friendly',
'Guy:terrified',
'Guy:shouting',
'Guy:unfriendly',
'Guy:whispering',
'Guy:hopeful',
'Jacob',
'Jane',
'Jane:angry',
'Jane:cheerful',
'Jane:sad',
'Jane:excited',
'Jane:friendly',
'Jane:terrified',
'Jane:shouting',
'Jane:unfriendly',
'Jane:whispering',
'Jane:hopeful',
'Jason',
'Jason:angry',
'Jason:cheerful',
'Jason:sad',
'Jason:excited',
'Jason:friendly',
'Jason:terrified',
'Jason:shouting',
'Jason:unfriendly',
'Jason:whispering',
'Jason:hopeful',
'Jenny',
'Jenny:assistant',
'Jenny:chat',
'Jenny:customerservice',
'Jenny:narration-professional',
'Jenny:newscast',
'Jenny:cheerful',
'Jenny:angry',
'Jenny:sad',
'Jenny:excited',
'Jenny:friendly',
'Jenny:terrified',
'Jenny:shouting',
'Jenny:unfriendly',
'Jenny:whispering',
'Jenny:hopeful',
'Kai',
'Kai:conversation',
'Luna',
'Luna:conversation',
'Michelle',
'Monica',
'Nancy',
'Nancy:angry',
'Nancy:cheerful',
'Nancy:sad',
'Nancy:excited',
'Nancy:friendly',
'Nancy:terrified',
'Nancy:shouting',
'Nancy:unfriendly',
'Nancy:whispering',
'Nancy:hopeful',
'Roger',
'Sara',
'Sara:angry',
'Sara:cheerful',
'Sara:sad',
'Sara:excited',
'Sara:friendly',
'Sara:terrified',
'Sara:shouting',
'Sara:unfriendly',
'Sara:whispering',
'Sara:hopeful',
'Steffan',
'Tony',
'Tony:angry',
'Tony:cheerful',
'Tony:sad',
'Tony:excited',
'Tony:friendly',
'Tony:terrified',
'Tony:shouting',
'Tony:unfriendly',
'Tony:whispering',
'Tony:hopeful'] }}
{%- elif language == 'English (Britain)' -%} {{ ['Abbi', 'Alfie', 'Bella', 'Elliot', 'Ethan', 'Hollie', 'Libby', 'Maisie', 'Noah', 'Oliver', 'Olivia',
'Ryan',
'Ryan:cheerful',
'Ryan:chat',
'Ryan:whispering',
'Ryan:sad',
'Sonia',
'Sonia:cheerful',
'Sonia:sad',
'Thomas'] }}
{%- elif language == 'English (Australia)' -%} {{ ['Annette', 'Carly', 'Darren', 'Duncan', 'Elsie', 'Freya', 'Joanne', 'Ken', 'Kim', 'Natasha', 'Neil', 'Tim', 'Tina', 'William'] }}
{%- elif language == 'English (Hong Kong)' -%} {{ ['Sam', 'Yan'] }}
{%- elif language == 'English (India)' -%} {{ ['Aarav', 'Aarti', 'Aashi', 'Ananya', 'Arjun', 'Kavya', 'Kunal',
'Neerja',
'Neerja:newscast',
'Neerja:cheerful',
'Neerja:empathetic',
'Prabhat', 'Rehaan'] }}
{%- elif language == 'English (Ireland)' -%} {{ ['Connor', 'Emily'] }}
{%- elif language == 'English (Kenya)' -%} {{ ['Asilia', 'Chilemba'] }}
{%- elif language == 'English (New Zealand)' -%} {{ ['Mitchel', 'Molly'] }}
{%- elif language == 'English (Nigeria)' -%} {{ ['Abeo', 'Ezinne'] }}
{%- elif language == 'English (Philippines)' -%} {{ ['James', 'Rosa'] }}
{%- elif language == 'English (Singapore)' -%} {{ ['Luna', 'Wayne'] }}
{%- elif language == 'English (South Africa)' -%} {{ ['Leah', 'Luke'] }}
{%- elif language == 'English (Tanzania)' -%} {{ ['Elimu', 'Imani'] }}
{%- elif language == 'Dutch (Netherlands)' -%} {{ ['Colette', 'Fenna', 'Maarten'] }}
{%- endif -%}
{%- endmacro -%}

{%- macro hass_cloud_language(lang) -%}
{%- if lang == 'English (Canada)' -%} en-CA
{%- elif lang == 'English (USA)' -%} en-US
{%- elif lang == 'English (Britain)' -%} en-GB
{%- elif lang == 'English (Australia)' -%} en-AU
{%- elif lang == 'English (Hong Kong)' -%} en-HK
{%- elif lang == 'English (India)' -%} en-IN
{%- elif lang == 'English (Ireland)' -%} en-IE
{%- elif lang == 'English (Kenya)' -%} en-KE
{%- elif lang == 'English (New Zealand)' -%} en-NZ
{%- elif lang == 'English (Nigeria)' -%} en-NG
{%- elif lang == 'English (Philippines)' -%} en-PH
{%- elif lang == 'English (Singapore)' -%} en-SG
{%- elif lang == 'English (South Africa)' -%} en-ZA
{%- elif lang == 'English (Tanzania)' -%} en-TZ
{%- elif lang == 'Dutch (Netherlands)' -%} nl-NL
{%- endif -%}
{%- endmacro -%}

{%- macro saved_tts_messages() %}
{%- if states.sensor.saved_tts_messages.attributes is defined
      and states.sensor.saved_tts_messages.attributes.messages is defined
      and states.sensor.saved_tts_messages.attributes.messages.items is defined %}
  {%- from 'schedule.jinja' import day_or_date %}
  {%- for key, value in states.sensor.saved_tts_messages.attributes.messages.items() %}
  <p>{{- value['message'] -}}
  <br/><sup>{{- day_or_date(value['timestamp'], false, true, true) }}</sup></p>
  {%- endfor %}
{%- endif %}
{%- endmacro -%}
