{%- macro hass_cloud_voices(language) -%}
{%- if language == 'English (Canada)' -%} {{ ['Clara', 'Liam'] }}
{%- elif language == 'English (USA)' -%} {{ ['Jenny', 'AIGenerate1', 'AIGenerate2', 'Amber', 'Ana', 'Aria', 'Ashley', 'Brandon', 'Christopher', 'Cora', 'Davis', 'Elizabeth', 'Eric', 'Guy', 'Jacob', 'JennyMultilingual', 'Michelle', 'Monica', 'Nancy', 'Roger', 'Sara', 'Steffan', 'Tony'] }}
{%- elif language == 'English (Britain)' -%} {{ ['Libby', 'Abbi', 'Alfie', 'Bella', 'Elliot', 'Ethan', 'Hollie', 'Maisie', 'Noah', 'Oliver', 'Olivia', 'Ryan', 'Sonia', 'Thomas'] }}
{%- elif language == 'English (Australia)' -%} {{ ['Natasha', 'Annette', 'Carly', 'Darren', 'Duncan', 'Elsie', 'Freya', 'Joanne', 'Ken', 'Kim', 'Neil', 'Tim', 'Tina', 'William'] }}
{%- elif language == 'English (Hong Kong)' -%} {{ ['Yan', 'Sam'] }}
{%- elif language == 'English (India)' -%} {{ ['Neerja', 'Prabhat'] }}
{%- elif language == 'English (Ireland)' -%} {{ ['Emily', 'Connor'] }}
{%- elif language == 'English (Kenya)' -%} {{ ['Asilia', 'Chilemba'] }}
{%- elif language == 'English (New Zealand)' -%} {{ ['Molly', 'Mitchel'] }}
{%- elif language == 'English (Nigeria)' -%} {{ ['Ezinne', 'Abeo'] }}
{%- elif language == 'English (Philippines)' -%} {{ ['Rosa', 'James'] }}
{%- elif language == 'English (Singapore)' -%} {{ ['Luna', 'Wayne'] }}
{%- elif language == 'English (South Africa)' -%} {{ ['Leah', 'Luke'] }}
{%- elif language == 'English (Tanzania' -%} {{ ['Imani', 'Elimu'] }}
{%- elif language == 'Dutch (Netherlands)' -%} {{ ['Colette', 'Fenna', 'Maarten'] }}
{%- endif -%}
{%- endmacro -%}

{%- macro hass_cloud_language(lang) -%}
{%- if lang == 'English (Canada)' -%} en-CA
{%- elif lang == 'English (USA)' -%} en-US
{%- elif lang == 'English (Britain)' -%} en-GB
{%- elif lang == 'English (Australia)' -%} en-AU
{%- elif lang == 'English (Hong Kong)' -%} en-HK
{%- elif lang == 'English (India)' -%} en-IN
{%- elif lang == 'English (Ireland)' -%} en-IE
{%- elif lang == 'English (Kenya)' -%} en-KE
{%- elif lang == 'English (New Zealand)' -%} en-NZ
{%- elif lang == 'English (Nigeria)' -%} en-NG
{%- elif lang == 'English (Philippines)' -%} en-PH
{%- elif lang == 'English (Singapore)' -%} en-SG
{%- elif lang == 'English (South Africa)' -%} en-ZA
{%- elif lang == 'English (Tanzania)' -%} en-TZ
{%- elif lang == 'Dutch (Netherlands)' -%} nl-NL
{%- endif -%}
{%- endmacro -%}