{% macro occupancy_mode() %}
{% set house = today_at(states('input_datetime.house_waketime')) %}
{% set waketime = states('sensor.next_waketime')|as_datetime
  if has_value('sensor.waketime_today') else house %}
{% set bedtime = states('sensor.bedtime_today')|as_datetime
  if has_value('sensor.bedtime_today') else today_at(states('input_datetime.days_bedtime')) %}
{% if is_state('binary_sensor.someone_home','off') %}
{% set mode = 'Vacation' if is_state('input_select.occupancy_mode','Vacation') else 'Away' %}
{% elif bedtime == none or waketime == none %}
  {% set mode = 'Home' if is_state('binary_sensor.owner_home','on') else 'Guest' %}
{% elif bedtime < now() < waketime %}
  {% set mode = 'Night' if is_state('input_boolean.bedtime_delayed','off')
    else ('Home' if is_state('binary_sensor.owner_home','on') else 'Guest') %}
{% else %}
  {% set mode = 'Home' if is_state('binary_sensor.owner_home','on') else 'Guest' %}
{% endif %}
{{ mode }}
{% endmacro %}