{%- macro precipitation_text() -%}
{%- from 'speech_helpers.jinja' import plural -%}
{%- from 'speech_helpers.jinja' import cardinal_direction -%}
{%- set current = states('sensor.precipitation_type') | lower %}
{%- set expected = states('sensor.precipitation_type_expected') | lower %}
{%- set time = state_attr('sensor.precipitation_start', '12hour') %}
{%- set dist = states('sensor.nearest_storm_distance') | int(-1) %}
{%- set dir = cardinal_direction(states('sensor.nearest_storm_bearing'), true) %}
{%- if is_state('binary_sensor.precipitation_type_change_alert', 'on') %}
The current precipitation is changing to {{ current }} right now!
{%- elif is_state('binary_sensor.precipitation_active', 'on') %}
It is {{ current }}ing right now.
{%- elif time != none %}
Possibility of {{ expected }} starting at {{ time }}.
{%- if dist >= 0 %}
The storm is {{ iif(dist > 0,
  plural('kilometer', dist) ~ ' away', 'in the immediate vicinity') }}
  {{- iif(dist > 0 and dir != '', ' approaching from the ' ~ dir, '') }}.
{%- endif %}
{%- endif -%}
{%- endmacro -%}

{%- macro precip_today() -%}
{%- set start = as_datetime(states('sensor.precipitation_start'),none) %}
{{- start != none and start - now() < timedelta(hours=9) -}}
{%- endmacro -%}

{%- macro commute_weather() -%}
{%- from 'weather.jinja' import precip_today -%}
{%- set fog = states('sensor.fog_probability') | int(-1) > 70 %}
{%- set now = is_state('binary_sensor.precipitation_active', 'on') %}
{%- set change = is_state('binary_sensor.precipitation_type_change_alert', 'on') %}
{%- set soon = precip_today() | bool %}
{%- set type = iif(now, states('sensor.precipitation_type') | lower, states('sensor.precipitation_type_expected') | lower) %}
{%- set time = state_attr('sensor.precipitation_start', '12hour') %}
{%- if change %}The current precipitation is changing to {{ type }} right now
{%- elif now %}It is {{ type }}ing right now
{%- elif soon %}There's a good chance of {{ type }} today starting around {{ time }}.
{%- endif %}
{{- ' There is also ' if (now or soon) and fog else 'There is ' if fog }}
{%- if fog %}a high probability of fog on your commute this {{ states('sensor.tod_greeting') }}.{%- endif %}
{%- if now or soon or fog %}
Be careful driving
{%- if now or soon -%}
{{ iif(type == 'snow', ', and bundle up', ', and bring an umbrella') }}!
{%- endif %}
{%- endif -%}
{%- endmacro -%}

{%- macro trend_options() -%}
{{- ['Rising', 'Falling', 'Steady'] -}}
{%- endmacro -%}

{%- macro condition_options() -%}
{{- ['sunny', 'clear-night', 'partlycloudy', 'fog', 'partlycloudy', 'cloudy', 'rainy', 'snowy', 'lightning-rainy', 'pouring', 'wind'] -}}
{%- endmacro -%}

{%- macro condition_icon(condition) -%}
  {%- if condition == 'sunny' -%} mdi:weather-sunny
  {%- elif condition == 'clear-night' -%} mdi:weather-night
  {%- elif condition == 'fog' -%} mdi:weather-fog
  {%- elif condition == 'partlycloudy' -%} mdi:weather-partly-cloudy
  {%- elif condition == 'cloudy' -%} mdi:weather-cloudy
  {%- elif condition == 'rainy' -%} mdi:weather-rainy
  {%- elif condition == 'pouring' -%} mdi:weather-pouring
  {%- elif condition == 'snowy' -%} mdi:weather-snowy
  {%- elif condition == 'hail' -%} mdi:weather-hail
  {%- elif condition == 'lighting' -%} mdi:weather-lightning
  {%- elif condition == 'lightning-rainy' -%} mdi:weather-lightning-rainy
  {%- elif condition == 'snowy-rainy' -%} mdi:weather-snowy-rainy
  {%- elif condition == 'windy' -%} mdi:weather-windy
  {%- elif condition == 'windy-variant' -%} mdi:weather-windy-variant
  {%- elif condition == 'exceptional' -%} mdi:alert
  {%- else -%} mdi:eye
  {%- endif -%}
{%- endmacro -%}

{%- macro condition_color(condition) -%}
:host {
  --state-icon-color:
    {%- if condition == 'sunny' %} rgb(232, 235, 87)
    {%- elif condition == 'clear-night' %} rgb(47, 19, 92)
    {%- elif condition == 'fog' %} rgb(113, 99, 128)
    {%- elif condition == 'partlycloudy' %} rgb(173, 186, 196)
    {%- elif condition == 'cloudy' %} rgb(79, 80, 82)
    {%- elif condition == 'rainy' %} rgb(4, 61, 176)
    {%- elif condition == 'pouring' %} rgb(2, 33, 94)
    {%- elif condition == 'snowy' %} rgb(255, 255, 255)
    {%- elif condition == 'hail' %} rgb(172, 82, 196)
    {%- elif condition == 'lighting' %} rgb(100, 100, 100)
    {%- elif condition == 'lightning-rainy' %} rgb(100, 100, 100)
    {%- elif condition == 'snowy-rainy' %} rgb(82, 193, 196)
    {%- elif condition == 'windy' %} rgb(61, 135, 58)
    {%- elif condition == 'windy-variant' %} rgb(117, 145, 116)
    {%- elif condition == 'exceptional' %} rgb(158, 27, 51)
    {%- else %} var(--disabled-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro temperature_options() -%}
{{- ['Extreme Heat', 'Very Hot', 'Hot', 'Warm', 'Nice', 'Cool', 'Chilly', 'Cold', 'Freezing', 'Frigid', 'Extreme Cold'] -}}
{%- endmacro -%}

{%- macro temp_color(temp) -%}
:host {
  --state-icon-color:
    {%- set temp = temp | float(none) %}
    {%- if temp == none %} var(--disabled-color)
    {%- elif temp < -20 %} rgb(143, 89, 169)
    {%- elif temp < -15 %} rgb(157, 219, 217)
    {%- elif temp < -10 %} rgb(106, 191, 181)
    {%- elif temp < -5 %} rgb(100, 166, 189)
    {%- elif temp < 0 %} rgb(93, 133, 198)
    {%- elif temp < 5 %} rgb(68, 125, 99)
    {%- elif temp < 10 %} rgb(128, 147, 24)
    {%- elif temp < 15 %} rgb(209, 212, 78)
    {%- elif temp < 20 %} rgb(243, 183, 4)
    {%- elif temp < 25 %} rgb(250, 223, 86)
    {%- elif temp < 30 %} rgb(232, 83, 25)
    {%- elif temp < 35 %} rgb(209, 54, 54)
    {%- elif temp < 40 %} rgb(71, 14, 0)
    {%- else %} rgb(177, 67, 45)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro humidity_color(humidity) -%}
:host {
  --state-icon-color:
    {%- set humidity = humidity | float(none) -%}
    {%- if humidity == none %} var(--disabled-color)
    {%- elif humidity < 10 %} rgb(200, 254, 0)
    {%- elif humidity < 20 %} rgb(200, 254, 0)
    {%- elif humidity < 30 %} rgb(129, 254, 0)
    {%- elif humidity < 40 %} rgb(58, 253, 0)
    {%- elif humidity < 50 %} rgb(0, 253, 12)
    {%- elif humidity < 60 %} rgb(0, 253, 82)
    {%- elif humidity < 70 %} rgb(0, 253, 153)
    {%- elif humidity < 80 %} rgb(0, 253, 223)
    {%- elif humidity < 90 %} rgb(0, 210, 253)
    {%- elif humidity < 100 %} rgb(0, 143, 219)
    {%- else %} rgb(0, 70, 253)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro humidity_level(humidity) -%}
{%- set humidity = humidity | int(none) %}
{%- if humidity >= 90 -%} Extremely Humid
{%- elif humidity >= 80 -%} Very Humid
{%- elif humidity >= 70 -%} Humid
{%- elif humidity >= 60 -%} Slightly Humid
{%- elif humidity >= 30 -%} Comfortable
{%- elif humidity >= 20 -%} Dry
{%- elif humidity >= 10 -%} Very Dry
{%- else -%} Extremely Dry
{%- endif -%}
{%- endmacro -%}

{%- macro humidity_level_options() -%}
{{- ['Extremely Humid', 'Very Humid', 'Humid', 'Slightly Humid', 'Comfortable', 'Dry', 'Very Dry', 'Extremely Dry'] -}}
{%- endmacro -%}

{%- macro dew_point_level(dewpoint) -%}
{%- set dewpoint = dewpoint | int(none) %}
{%- if dewpoint >= 26 -%} Severely High
{%- elif dewpoint >= 24 -%} Oppressive
{%- elif dewpoint >= 21 -%} Very Humid
{%- elif dewpoint >= 18 -%} Uncomfortable
{%- elif dewpoint >= 16 -%} Ok For Most
{%- elif dewpoint >= 12 -%} Comfortable
{%- elif dewpoint >= 10 -%} Very Comfortable
{%- elif dewpoint >= 8 -%} Somewhat Dry
{%- elif dewpoint >= 5 -%} Dry
{%- else -%} Very Dry
{%- endif -%}
{%- endmacro -%}

{%- macro dew_point_level_options() -%}
{{- ['Severely High', 'Oppressive', 'Very Humid', 'Uncomfortable', 'Ok For Most', 'Comfortable', 'Very Comfortable', 'Somewhat Dry', 'Dry', 'Very Dry'] -}}
{%- endmacro -%}

{%- macro humidity_comfort_level(temp, dewpoint) -%}
{%- from 'weather.jinja' import dew_point_level %}
{%- set temp = temp | int(none) %}
{%- set dewpoint = dewpoint | int(none) %}
{%- set high_temp = states('sensor.outdoor_high_temperature') | int %}
{%- set dew_today = states('sensor.dew_point_today') | int(none) %}
{%- set dew_level = dew_point_level(dew_today) %}
{%- if dew_level in ['Severely High', 'Oppressive'] %}
  {%- set comfort = 'Extremely Humid' %}
{%- elif dew_level == 'Very Humid' %}
  {%- set comfort = 'Very Humid' %}
{%- elif dew_level == 'Uncomfortable' %}
  {%- set comfort = 'Humid' %}
{%- elif dew_level in ['Somewhat Dry', 'Dry'] %}
  {%- set comfort = 'Dry' %}
{%- elif dew_level == 'Very Dry' %}
  {%- set comfort = 'Very Dry' %}
{%- elif dew_level in ['Ok For Most', 'Comfortable', 'Very Comfortable'] %}
  {%- set comfort = 'Comfortable' %}
{%- endif %}
{%- if high_temp < 40 %}
  {%- if (high_temp - dew_today) < 5 %}
    {%- set comfort = 'Slightly Damp' %}
  {%- elif (high_temp - dew_today) <= 2 %}
    {%- set comfort = 'Damp' %}
  {%- elif (high_temp - dew_today) <= 1 %}
    {%- set comfort = 'Very Damp' %}
  {%- endif %}
{%- endif %}
{{ comfort if comfort is defined else none }}
{%- endmacro -%}

{%- macro humidity_comfort_options() -%}
{{- ['Extremely Humid', 'Very Humid', 'Humid', 'Dry', 'Very Dry', 'Very Damp', 'Damp', 'Slightly Damp', 'Comfortable'] -}}
{%- endmacro -%}

{%- macro pop_color(pop) -%}
:host {
  --state-icon-color:
    {%- set pop = pop | float(none) -%}
    {%- if pop == none %} var(--disabled-color)
    {%- elif pop < 10 %} var(--state-inactive-color)
    {%- elif pop < 20 %} rgb(163, 225, 250)
    {%- elif pop < 30 %} rgb(124, 211, 253)
    {%- elif pop < 40 %} rgb(81, 196, 255)
    {%- elif pop < 50 %} rgb(0, 180, 255)
    {%- elif pop < 60 %} rgb(0, 163, 255)
    {%- elif pop < 70 %} rgb(0, 146, 252)
    {%- elif pop < 80 %} rgb(0, 130, 241)
    {%- elif pop < 90 %} rgb(0, 113, 233)
    {%- elif pop < 100 %} rgb(0, 87, 244)
    {%- else %} rgb(35, 46, 251)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro precip_type_options() -%}
{{- ['none', 'Rain', 'Snow'] -}}
{%- endmacro -%}

{%- macro precipitation_color(precip) -%}
:host {
  --state-icon-color:
    {%- if precip in ['unknown', 'unavailable'] %} var(--disabled-color)
    {%- elif precip == 'Rain' %} var(--weather-rain-color)
    {%- elif precip == 'Snow' %} var(--weather-snow-color)
    {%- else %} var(--state-inactive-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro precip_intensity_options() -%}
{{- ['none', 'Drizzle', 'Very Light', 'Light', 'Moderate', 'Heavy', 'Very Heavy', 'Violent'] -}}
{%- endmacro -%}

{%- macro precipitation_intensity_color(intensity) -%}
:host {
  --state-icon-color:
    {%- set intensity = intensity | int(none) %}
    {%- if intensity == none %} var(--disabled-color)
    {%- elif intensity == 0 %} var(--state-inactive-color)
    {%- elif intensity < 1 %} rgb(60, 116, 160)
    {%- elif intensity < 4 %} rgb(59, 161, 161)
    {%- elif intensity < 15 %} rgb(59, 161, 61)
    {%- elif intensity < 20 %} rgb(130, 161, 59)
    {%- elif intensity < 30 %} rgb(161, 59, 59)
    {%- elif intensity < 50 %} rgb(161, 59, 161)
    {%- else %} rgb(148, 79, 237)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro wind_beaufort_options() -%}
{{- ['Calm', 'Light Air', 'Light Breeze', 'Gentle Breeze', 'Moderate Breeze', 'Fresh Breeze', 'Strong Breeze', 'Near Gale', 'Gale', 'Strong Gale', 'Storm', 'Violent Storm', 'Hurricane'] -}}
{%- endmacro -%}

{%- macro wind_color(wind) -%}
:host {
  --state-icon-color:
    {%- set wind = wind | float(none) %}
    {%- if wind == none %} var(--disabled-color)
    {%- elif wind == 0 %} var(--state-inactive-color)
    {%- elif wind < 4 %} rgb(98, 113, 183)
    {%- elif wind < 11 %} rgb(57, 97, 159)
    {%- elif wind < 18 %} rgb(74, 148, 169)
    {%- elif wind < 25 %} rgb(77, 141, 123)
    {%- elif wind < 32 %} rgb(83, 165, 83)
    {%- elif wind < 40 %} rgb(53, 159, 53)
    {%- elif wind < 47 %} rgb(167, 157, 81)
    {%- elif wind < 54 %} rgb(159, 127, 58)
    {%- elif wind < 61 %} rgb(161, 108, 92)
    {%- elif wind < 68 %} rgb(129, 58, 78)
    {%- elif wind < 76 %} rgb(175, 80, 136)
    {%- elif wind < 86 %} rgb(117, 74, 147)
    {%- else %} rgb(109, 97, 163)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro pressure_color(pressure) -%}
:host {
  --state-icon-color:
    {%- set pressure = pressure | float(none) %}
    {%- if pressure == none %} var(--disabled-color)
    {%- elif pressure < 900 %} rgb(8, 16, 48)
    {%- elif pressure < 950 %} rgb(0, 32, 96)
    {%- elif pressure < 976 %} rgb(0, 52, 146)
    {%- elif pressure < 986 %} rgb(0, 90, 148)
    {%- elif pressure < 995 %} rgb(0, 117, 146)
    {%- elif pressure < 1002 %} rgb(26, 140, 147)
    {%- elif pressure < 1007 %} rgb(103, 162, 155)
    {%- elif pressure < 1011 %} rgb(155, 183, 172)
    {%- elif pressure < 1013 %} rgb(182, 182, 182)
    {%- elif pressure < 1015 %} rgb(176, 174, 152)
    {%- elif pressure < 1019 %} rgb(167, 147, 107)
    {%- elif pressure < 1024 %} rgb(163, 116, 67)
    {%- elif pressure < 1030 %} rgb(159, 81, 44)
    {%- elif pressure < 1038 %} rgb(142, 47, 57)
    {%- elif pressure < 1046 %} rgb(111, 24, 64)
    {%- else %} rgb(48, 8, 24)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro cloud_options() -%}
{{- ['Clear', 'Partly Cloudy', 'Mostly Cloudy', 'Cloudy'] -}}
{%- endmacro -%}

{%- macro cloud_icon(cloud) -%}
  {%- set cloud = cloud | int(-1) %}
  {%- if cloud < 20 -%}  mdi:cloud-outline
  {%- elif cloud < 50 -%} mdi:weather-partly-cloudy
  {%- elif cloud < 80 -%} mdi:clouds
  {%- else -%} mdi:cloud
  {%- endif -%}
{%- endmacro -%}

{%- macro cloud_color(cloud) -%}
:host {
  --state-icon-color:
    {%- set cloud = cloud | float(none) %}
    {%- if cloud == none %} var(--disabled-color)
    {%- elif cloud < 10 %} rgb(148, 223, 255)
    {%- elif cloud < 20 %} rgb(146, 208, 239)
    {%- elif cloud < 30 %} rgb(144, 192, 223)
    {%- elif cloud < 40 %} rgb(140, 179, 206)
    {%- elif cloud < 50 %} rgb(136, 165, 189)
    {%- elif cloud < 60 %} rgb(131, 151, 172)
    {%- elif cloud < 70 %} rgb(125, 138, 155)
    {%- elif cloud < 80 %} rgb(117, 125, 138)
    {%- elif cloud < 90 %} rgb(109, 113, 121)
    {%- else %} rgb(100, 101, 104)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro pressure_level(pressure) -%}
{%- set pressure = pressure | int(none) %}
{%- if pressure >= 1040 -%} Extremely High
{%- elif pressure >= 1030 -%} Very High
{%- elif pressure >= 1020 -%} High
{%- elif pressure >= 1015 -%} Rising
{%- elif pressure >= 1010 -%} Normal
{%- elif pressure >= 1005 -%} Falling
{%- elif pressure >= 1000 -%} Low
{%- else -%} Very Low
{%- endif -%}
{%- endmacro -%}

{%- macro pressure_level_options() -%}
{{- ['Extremely High', 'Very High', 'High', 'Rising', 'Normal', 'Falling', 'Low', 'Very Low'] -}}
{%- endmacro -%}

{%- macro pressure_description_options() -%}
{{- ['Dry', 'Fair', 'Change', 'Rain', 'Stormy'] -}}
{%- endmacro -%}

{%- macro uv_risk_options() -%}
{{- ['Low', 'Moderate', 'High', 'Very High', 'Extreme'] -}}
{%- endmacro -%}

{%- macro uv_risk(index) -%}
{%- set index = index | float(-1) %}
{%- if index < 0 %} unknown
{%- elif index < 3 %} Low
{%- elif index < 6 %} Moderate
{%- elif index < 8 %} High
{%- elif index < 11 %} Very High
{%- else %} Extreme
{%- endif %}
{%- endmacro -%}

{%- macro uv_index_color(index) -%}
:host {
  --state-icon-color:
    {%- set index = index | float(-1) %}
    {% if index < 0 %} var(--disabled-color)
    {% elif index < 3 %} var(--state-inactive-color)
    {% elif index < 6 %} var(--entity-minor-color)
    {% elif index < 8 %} var(--entity-warning-color)
    {% elif index < 11 %} var(--entity-severe-color)
    {% else %} var(--entity-critical-color)
    {% endif %}
  ;
}
{%- endmacro -%}

{%- macro iqvia_index_color(index) -%}
:host {
  --state-icon-color:
    {%- set index = index | float(-1) %}
    {%- if index < 0 %} var(--disabled-color)
    {%- elif index < 2.5 %} var(--state-inactive-color)
    {%- elif index < 4.9 %} var(--entity-minor-color)
    {%- elif index < 7.3 %} var(--entity-warning-color)
    {%- elif index < 9.7 %} var(--entity-severe-color)
    {%- else %} var(--entity-critical-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro aqi_risk_options() %}
{{- ['Low', 'Moderate', 'Unhealthy for Sensitive Groups', 'Unhealthy', 'Very Unhealthy', 'Hazardous'] -}}
{%- endmacro -%}

{%- macro aqi_risk(index) -%}
{%- set index = index | int(-1) %}
{%- if index < 0 -%} unknown
{%- elif index < 50 -%} Low
{%- elif index < 100 -%} Moderate
{%- elif index < 150 -%} Unhealthy For Sensitive Groups
{%- elif index < 200 -%} Unhealthy
{%- elif index < 300 -%} Very Unhealthy
{%- else -%} Hazardous
{%- endif -%}
{%- endmacro -%}

{%- macro aqi_index_color(index) -%}
:host {
  --state-icon-color:
    {%- set index = index | int(-1) %}
    {%- if index < 0 %} var(--disabled-color)
    {%- elif index < 50 %} var(--state-inactive-color)
    {%- elif index < 100 %} var(--entity-minor-color)
    {%- elif index < 200 %} var(--entity-warning-color)
    {%- elif index < 300 %} var(--entity-severe-color)
    {%- else %} var(--entity-critical-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro fire_risk_options() %}
{{- ['N/A', 'Low', 'Moderate', 'High', 'Very High', 'Extreme'] -}}
{%- endmacro -%}

{%- macro fire_index_color(index) -%}
:host {
  --state-icon-color:
    {%- set index = index | int(-1) %}
    {%- if index < 0 %} var(--disabled-color)
    {%- elif index < 5 %} var(--state-inactive-color)
    {%- elif index < 10 %} var(--entity-minor-color)
    {%- elif index < 20 %} var(--entity-warning-color)
    {%- elif index < 30 %} var(--entity-severe-color)
    {%- else %} var(--entity-critical-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro smoke_risk_options() %}
{{- ['Low', 'Moderate', 'High', 'Very High', 'Extreme'] -}}
{%- endmacro -%}

{%- macro smoke_risk(level) -%}
{%- set level = level | float(-1) %}
{%- if level >= 0 %}
  {%- if level < 10 -%} Low
  {%- elif level < 60 -%} Moderate
  {%- elif level < 120 -%} High
  {%- elif level < 250 -%} Very High
  {%- else -%} Extreme
  {%- endif %}
{%- endif -%}
{%- endmacro -%}

{%- macro smoke_level_color(level) -%}
:host {
  --state-icon-color:
    {%- set level = level | float(-1) %}
    {%- if level < 0 %} var(--disabled-color)
    {%- elif level < 10 %} var(--state-inactive-color)
    {%- elif level < 60 %} var(--entity-minor-color)
    {%- elif level < 120 %} var(--entity-warning-color)
    {%- elif level < 250 %} var(--entity-severe-color)
    {%- else %} var(--entity-critical-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}