{%- macro precipitation_text() -%}
{%- from 'speech.jinja' import plural_qty -%}
{%- from 'speech.jinja' import full_cardinal_direction -%}
{%- set current = states('sensor.precipitation_type') | lower %}
{%- set type = state_attr('sensor.precipitation_start', 'type') | lower %}
{%- set time = state_attr('sensor.precipitation_start', '12hour') %}
{%- set dist = states('sensor.nearest_storm_distance') | int(-1) %}
{%- set dir = full_cardinal_direction(states('sensor.nearest_storm_bearing') | int(-1)) %}
{%- if is_state('binary_sensor.precipitation_active','on') %}
It is {{ current }}ing right now.
{%- elif time != none %}
Possibility of {{ type }} around {{ time }}.
{%- if dist > 0 %}
The storm is {{ iif(dist > 0,
  plural_qty('kilometer', dist, false) ~ ' away', ' in the immediate vicinity') }}
  {{- iif(dir != 'unknown', ' approaching from the ' ~ dir, '') }}.
{%- endif %}
{%- endif -%}
{%- endmacro -%}

{%- macro fire_risk(index) -%}
{%- if is_number(index) and index > 0 %}
  {%- if index >= 30 %} Extreme
  {%- elif index >= 20 %} Very High
  {%- elif index >= 10 %} High
  {%- elif index >= 5 %} Moderate
  {%- else %} Low
  {%- endif -%}
{%- else %} unknown
{%- endif -%}
{%- endmacro -%}

{%- macro fire_risk_icon(risk) -%}
:host {
  --paper-item-icon-color:
    {%- if risk == 'Extreme' %} var(--entity-critical-color)
    {%- elif risk == 'Very High' %} var(--entity-severe-color)
    {%- elif risk == 'High' %} var(--entity-warning-color)
    {%- elif risk == 'Moderate' %} var(--entity-minor-color)
    {%- elif risk == 'Low' %} var(--state-icon-color)
    {%- else %} var(--entity-disabled-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro uv_risk(index) -%}
{%- if is_number(index) and index >= 0 %}
  {%- if index >= 11 %} Extreme
  {%- elif index >= 8 %} Very High
  {%- elif index >= 6 %} High
  {%- elif index >= 3 %} Moderate
  {%- else %} Low
  {%- endif -%}
{%- else %} unknown
{%- endif -%}
{%- endmacro -%}

{%- macro uv_risk_icon(risk) -%}
:host {
  --paper-item-icon-color:
    {%- if risk == 'Very High' %} var(--entity-critical-color)
    {%- elif risk == 'High' %} var(--entity-severe-color)
    {%- elif risk == 'Moderate High' %} var(--entity-warning-color)
    {%- elif risk == 'Moderate' %} var(--entity-minor-color)
    {%- elif risk == 'Low' %} var(--state-icon-color)
    {%- else %} var(--entity-disabled-color)
    {%- endif %}
  ;
}
{%- endmacro -%}

{%- macro iqvia_risk_icon(risk) -%}
:host {
  --paper-item-icon-color:
    {%- if risk == 'High' %} var(--entity-critical-color)
    {%- elif risk == 'Medium-High' %} var(--entity-severe-color)
    {%- elif risk == 'Medium' %} var(--entity-warning-color)
    {%- elif risk == 'Low-Medium' %} var(--entity-minor-color)
    {%- elif risk == 'Low' %} var(--state-icon-color)
    {%- else %} var(--entity-disabled-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro aqi_risk(index) -%}
{%- if is_number(index) and index > 0 %}
  {%- if index > 300 %} Hazardous
  {%- elif index > 200 %} Very Unhealthy
  {%- elif index > 150 %} Unhealthy
  {%- elif index > 100 %} Unhealthy For Sensitive Groups
  {%- elif index > 50 %} Moderate
  {%- else %} Good
  {%- endif -%}
{%- else %} unknown
{%- endif -%}
{%- endmacro -%}

{%- macro aqi_risk_icon(risk) -%}
:host {
  --paper-item-icon-color:
    {%- if risk == 'Hazardous' %} var(--entity-critical-color)
    {%- elif risk in ['Unhealthy', 'Very Unhealthy'] %} var(--entity-severe-color)
    {%- elif risk == 'Unhealthy Sensitive Groups' %} var(--entity-warning-color)
    {%- elif risk == 'Moderate' %} var(--entity-minor-color)
    {%- elif risk == 'Good' %} var(--state-icon-color)
    {%- else %} var(--entity-disabled-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro aqi_index_icon(index) -%}
:host {
  --paper-item-icon-color:
    {%- if is_number(index) %}
      {%- if index >= 301 %} var(--entity-critical-color)
      {%- elif index >=201 %} var(--entity-severe-color)
      {%- elif index >= 101 %} var(--entity-warning-color)
      {%- elif index >= 50 %} var(--entity-minor-color)
      {%- elif index >= 0 %} var(--state-icon-color)
      {%- else %} var(--entity-disabled-color)
      {%- endif -%}
    {%- else %} unknown
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro smoke_risk(index) -%}
{%- if is_number(index) and index >= 0 %}
  {%- if index >= 250 %} Extreme
  {%- elif index >= 120 %} Very High
  {%- elif index >= 60 %} High
  {%- elif index >= 10 %} Moderate
  {%- else %} Low
  {%- endif -%}
{%- else %} unknown
{%- endif -%}
{%- endmacro -%}

{%- macro smoke_risk_icon(risk) -%}
:host {
  --paper-item-icon-color:
    {%- if risk == 'Extreme' %} var(--entity-critical-color)
    {%- elif risk == 'Very High' %} var(--entity-severe-color)
    {%- elif risk == 'High' %} var(--entity-warning-color)
    {%- elif risk == 'Moderate' %} var(--entity-minor-color)
    {%- elif risk == 'Low' %} var(--state-icon-color)
    {%- else %} var(--entity-disabled-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}

{%- macro smoke_level_icon(level) -%}
:host {
  --paper-item-icon-color:
    {%- if level >= 250 %} var(--entity-critical-color)
    {%- elif level >=120 %} var(--entity-severe-color)
    {%- elif level >= 60 %} var(--entity-warning-color)
    {%- elif level >= 10 %} var(--entity-minor-color)
    {%- elif level >= 0 %} var(--state-icon-color)
    {%- else %} var(--entity-disabled-color)
    {%- endif -%}
  ;
}
{%- endmacro -%}