###############################################################################
## Climate Monitor
###############################################################################
type: entities
title: "Climate Settings"
show_header_toggle: false
state_color: true
entities:
  - type: custom:template-entity-row
    name: "HVAC Set Mode"
    icon: mdi:thermostat-box
    state: "{{ states('input_select.hvac_mode') | title }}"
    tap_action:
      action: perform-action
      perform_action: browser_mod.more_info
      data:
        entity: input_select.hvac_mode

  - entity: sensor.indoor_dew_point
    name: "Indoor Dew Point"

  - entity: sensor.indoor_comfort_level
    name: "Indoor Comfort Level"

  - entity: binary_sensor.humidity_level_in_range
    name: "Humidity Comfort Zone"
    icon: mdi:thermostat-box

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: sensor.hvac_boost
      card_mod:
        style: |
          :host {
            --paper-item-icon-color:
              {% if states('sensor.hvac_boost') | int(0) == 0 %} var(--state-icon-color)
              {% elif states('sensor.hvac_boost') | int(-1) > 0 %} var(--state-climate-heat-color)
              {% else %} var(--state-climate-cool-color)
              {% endif %}
            ;
          }
    entities:
      - entity: input_boolean.hvac_boost

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: binary_sensor.hvac_filter_alert
    entities:
      - type: custom:template-entity-row
        entity: sensor.hvac_filter_hours
        state: "{{ '%0.1f' | format(states('sensor.hvac_filter_hours') | float(-1)) }}"
        secondary: "Last Filter Reset: {{ time_since(states('button.hvac_filter_reset') | as_datetime, 1 ) }} ago"

      - entity: button.hvac_filter_reset

  - type: custom:fold-entity-row
    padding: 5
    head:
      type: custom:template-entity-row
      entity: sensor.indoor_temperature_target
      icon: mdi:thermometer
      name: "Thermostat Target"
      state: "{{ states('sensor.indoor_temperature_target', with_unit=true) }}"
      tap_action:
        action: more-info
    entities:
      - type: custom:numberbox-card
        entity: input_number.home_heat_temperature
        name: "Home Heat Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.home_cool_temperature
        name: "Home Cool Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.night_heat_temperature
        name: "Night Heat Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.night_cool_temperature
        name: "Night Cool Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.guest_heat_temperature
        name: "Guest Heat Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.guest_cool_temperature
        name: "Guest Cool Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.guest_night_heat_temperature
        name: "Guest Night Cool"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.guest_night_cool_temperature
        name: "Guest Night Cool"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

  - type: custom:fold-entity-row
    padding: 5
    head:
      type: custom:template-entity-row
      icon: mdi:thermometer-alert
      name: "Alert Thresholds"
      state: ""
    entities:
      - type: custom:numberbox-card
        entity: input_number.low_temperature_threshold
        name: "Low Temp Alert"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.high_temperature_threshold
        name: "High Temp Alert"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.high_humidity_threshold
        name: "Humidity Alert"
        unit: false
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

  - entity: input_boolean.hvac_presence_override
  - entity: input_boolean.hvac_manual_mode

  - type: button
    name: "HVAC Runtime - Month"
    icon: mdi:chart-areaspline
    action_name: "VIEW"
    tap_action:
      action: navigate
      navigation_path: hvac-runtime

  - type: custom:auto-entities
    filter:
      template: >
        {% from 'alert.jinja' import alert_entities %}
        {{ alert_entities('climate') }}
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.climate_alerts
        card_mod:
          style: |
            {% from 'alert.jinja' import alert_switch %}
            {{ alert_switch('input_boolean.climate_alerts') }}
