###############################################################################
## Climate Monitor
###############################################################################
type: entities
title: "Climate Settings"
show_header_toggle: false
state_color: true
entities:
  - type: custom:template-entity-row
    name: "HVAC Set Mode"
    icon: mdi:thermostat-box
    state: "{{ states('input_select.hvac_mode')|title }}"
    active: "{{ states('input_select.hvac_mode') in ['heat','cool','heat_cool'] }}"

  - entity: binary_sensor.humidity_level_in_range
    name: "Humidity Comfort Zone"
    icon: mdi:thermostat-box

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: sensor.hvac_boost
      card_mod:
        style: |
          :host {
            --paper-item-icon-color:
              {% if states('sensor.hvac_boost')|int(0) == 0 %} var(--state-icon-color)
              {% elif states('sensor.hvac_boost')|int(-1) > 0 %} var(--state-climate-heat-color)
              {% else %} var(--state-climate-cool-color)
              {% endif %}
            ;
          }
    entities:
      - entity: input_boolean.hvac_boost

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: binary_sensor.hvac_filter_alert
    entities:
      - type: custom:template-entity-row
        entity: sensor.hvac_filter_hours
        secondary: >
          {% set display = 'ERROR' %}
          {% if has_value('button.hvac_filter_reset') %}
            {% set reset_date = states('button.hvac_filter_reset') %}
            {%- set seconds = now().timestamp() - reset_date|as_timestamp|int(-1) -%}
            {% if seconds > -1 %}
              {% set days = (seconds / 86400)|int(0) %}
              {% set display = days ~ ' day' ~ iif(days != 1,'s','') ~ ' since filter reset' %}
            {% endif %}
          {% endif %}
          {{ display }}

      - entity: button.hvac_filter_reset

  - type: custom:fold-entity-row
    padding: 5
    head:
      type: custom:template-entity-row
      icon: mdi:thermometer
      name: "Thermostat Temperatures"
      state: ""
    entities:
      - type: custom:numberbox-card
        entity: input_number.home_heat_temperature
        name: "Home Heat Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.home_cool_temperature
        name: "Home Cool Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.night_heat_temperature
        name: "Night Heat Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.night_cool_temperature
        name: "Night Cool Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.guest_heat_temperature
        name: "Guest Heat Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.guest_cool_temperature
        name: "Guest Cool Temp"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.guest_night_cool_temperature
        name: "Guest Night Cool"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.guest_night_cool_temperature
        name: "Guest Night Cool"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.low_temperature_threshold
        name: "Low Temp Alert"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.high_temperature_threshold
        name: "High Temp Alert"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

      - type: custom:numberbox-card
        entity: input_number.high_humidity_threshold
        name: "Humidity Alert"
        unit: false
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline

  - entity: input_boolean.hvac_presence_override
  - entity: input_boolean.hvac_manual_mode

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','climate')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.climate_alerts
        card_mod:
          style: |
            {% from 'style.jinja' import alert_switch %}
            {{ alert_switch('input_boolean.climate_alerts') }}

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "automation.climate_*"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        type: custom:template-entity-row
        name: "Climate Automations"
        icon: mdi:sync-alert
        state: ""
card_mod:
  class: basic_swipe
