###################################################################################################
## Spa Settings
###################################################################################################
type: entities
title: "Spa Settings"
show_header_toggle: false
state_color: true
entities:
  - type: conditional
    conditions:
      - entity: binary_sensor.spa_offline_alert
        state: "on"
    row:
      entity: binary_sensor.spa_offline_alert
      name: "Spa Offline"

  - entity: binary_sensor.spa_heating
    name: "Spa Heating"

  - entity: sensor.spa_heat_daily_runtime
    name: "Heating Time Today"

  - entity: sensor.spa_power
    name: "Current Power Use"
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('binary_sensor.spa_energy_monitor_overpowering', 'on') %} var(--entity-critical-color)
            {% else %} var(--state-icon-color)
            {% endif %}
          ;
        }

  - entity: sensor.spa_daily_energy_consumption
    name: "Daily Energy Consumption"

  - entity: sensor.spa_energy_consumption
    name: "Total Energy Consumption"

  - entity: scene.hot_tub

  - type: button
    name: "Balboa Spa"
    icon: mdi:devices
    action_name: "VIEW"
    tap_action:
      action: navigate
      navigation_path: /config/devices/device/3808e059f4a36a7732e4928b59b94b38

  - type: button
    name: "Spa Energy Monitor"
    icon: mdi:devices
    action_name: "VIEW"
    tap_action:
      action: navigate
      navigation_path: /config/devices/device/9425f5e485d2547b5db85ed5361a318a

  - !include /config/ui/card/reminders/entities/spa_maintenance.yaml
  - !include /config/ui/card/reminders/entities/spa_water.yaml

  - type: custom:auto-entities
    filter:
      template: >
        {% from 'alert.jinja' import alert_entities %}
        {{ alert_entities('spa') }}
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.spa_alerts
        card_mod:
          style: |
            {% from 'alert.jinja' import alert_switch %}
            {{ alert_switch('input_boolean.spa_alerts') }}
    entities:
      - type: custom:numberbox-card
        entity: input_number.spa_low_temperature_threshold
        name: "Spa Low Temp Alert Threshold"
        unit: false
        step: 0.5
        icon_plus: mdi:plus-box-outline
        icon_minus: mdi:minus-box-outline
