###############################################################################
## Spa Settings
###############################################################################
type: entities
title: "Spa Settings"
icon: mdi:hot-tub
show_header_toggle: false
state_color: true
entities:
  - entity: binary_sensor.balboa_connected
    card_mod:
      style: |
        :host {
          --paper-item-icon-color: var(--entity-severe-color);
        }

  - entity: device_tracker.balboa_spa
    name: "Balboa WIFI Controller"

  - entity: climate.spa

  - type: custom:template-entity-row
    icon: mdi:hot-tub
    name: "Last Water Change"
    state: "{{ states('button.spa_water_change')|as_timestamp|timestamp_custom('%Y-%m-%d',true,none) }}"

  - entity: button.spa_water_change
    name: "Reset Last Water Change"

  - type: custom:numberbox-card
    entity: input_number.spa_low_temperature_threshold
    name: "Spa Low Temp Alert"
    unit: false
    step: 0.5
    icon_plus: mdi:plus-box-outline
    icon_minus: mdi:minus-box-outline

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','spa')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.spa_alerts
        card_mod:
          style: |
            {% from 'style.jinja' import alert_switch %}
            {{ alert_switch('input_boolean.spa_alerts') }}

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "automation.spa_*"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        type: custom:template-entity-row
        name: "Spa Automations"
        icon: mdi:sync-alert
        state: ""
card_mod:
  class: basic
