###############################################################################
## Charlie Mealtime Reminder Settings
###############################################################################
type: entities
title: "Charlie Mealtime"
show_header_toggle: false
state_color: true
entities:
  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: binary_sensor.charlie_mealtime_reminder
      name: "Charlie Mealtime"
    entities:
      - entity: input_boolean.charlie_mealtime_enabled
        name: "Reminder Enabled"

  - type: custom:fold-entity-row
    head:
      entity: button.charlie_mealtime_done
      name: "Reminder Done"
    entities:
      - entity: input_boolean.charlie_mealtime_active
        name: "Reminder Active"

  - type: custom:fold-entity-row
    head:
      entity: button.pause_charlie_mealtime
      name: "Pause Reminder"
    entities:
      - entity: input_boolean.charlie_mealtime_paused
        name: "Reminder Paused"

  - type: custom:fold-entity-row
    padding: 0
    head:
      type: custom:template-entity-row
      name: "Reminder Times"
      icon: mdi:clock
      state: ""
    entities:
      - entity: input_datetime.charlie_mealtime_days_1
        name: "Days 1"

      - entity: input_datetime.charlie_mealtime_days_2
        name: "Days 2"

      - entity: input_datetime.charlie_mealtime_afternoons_1
        name: "Afternoons 1"

      - entity: input_datetime.charlie_mealtime_afternoons_2
        name: "Afternoons 2"

      - entity: input_datetime.charlie_mealtime_weekends_1
        name: "Weekends 1"

      - entity: input_datetime.charlie_mealtime_weekends_2
        name: "Weekends 2"

  - entity: input_number.charlie_mealtime_notification_interval
    name: "Notification Interval"
