###################################################################################################
## Dexter Medication Reminder Settings
###################################################################################################
type: entities
title: "Dexter Medication"
show_header_toggle: false
state_color: true
entities:
  - type: custom:fold-entity-row
    padding: 0
    head:
      type: custom:template-entity-row
      entity: binary_sensor.dexter_medication_reminder
      state: "{{ states('binary_sensor.dexter_medication_reminder') | title }}"
      secondary: >
        {% from 'schedule.jinja' import reminder_done %}
        {{ reminder_done('dexter_medication') }}
      name: "Dexter Medication"
    entities:
      - entity: input_boolean.dexter_medication_enabled
        name: "Reminder Enabled"

      - entity: input_boolean.dexter_medication_active
        name: "Reminder Active"

  - entity: button.dexter_medication_done
    name: "Reminder Done"

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_number.dexter_medication_day_interval
      name: "Day Interval"
    entities:
      - entity: input_datetime.dexter_medication_days
        name: "Days"

      - entity: input_datetime.dexter_medication_afternoons
        name: "Afternoons"

      - entity: input_datetime.dexter_medication_weekends
        name: "Weekends"

  - entity: input_number.dexter_medication_notification_interval
    name: "Notification Interval"
