###############################################################################
## Hot Tub Maintenance Reminder Settings
###############################################################################
type: entities
title: "Hot Tub Maintenance"
show_header_toggle: false
state_color: true
entities:
  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: binary_sensor.hot_tub_maintenance_reminder
      name: "Hot Tub Maintenance"
    entities:
      - entity: input_boolean.hot_tub_maintenance_enabled
        name: "Reminder Enabled"

  - type: custom:fold-entity-row
    head:
      entity: button.hot_tub_maintenance_done
      name: "Reminder Done"
    entities:
      - entity: input_boolean.hot_tub_maintenance_active
        name: "Reminder Active"

  - type: custom:fold-entity-row
    head:
      entity: button.pause_hot_tub_maintenance
      name: "Pause Reminder"
    entities:
      - entity: input_boolean.hot_tub_maintenance_paused
        name: "Reminder Paused"

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_number.hot_tub_maintenance_day_interval
      name: "Day Interval"
    entities:
      - entity: input_datetime.hot_tub_maintenance_days
        name: "Days"

      - entity: input_datetime.hot_tub_maintenance_afternoons
        name: "Afternoons"

      - entity: input_datetime.hot_tub_maintenance_weekends
        name: "Weekends"

  - entity: input_number.hot_tub_maintenance_notification_interval
    name: "Notification Interval"
