###################################################################################################
## Spa Maintenance Reminder Settings
###################################################################################################
type: entities
title: "Spa Maintenance"
show_header_toggle: false
state_color: true
entities:
  - type: custom:fold-entity-row
    padding: 0
    head:
      type: custom:template-entity-row
      entity: binary_sensor.spa_maintenance_reminder
      state: "{{ states('binary_sensor.spa_maintenance_reminder') | title }}"
      secondary: >
        {% from 'schedule.jinja' import reminder_done %}
        {{ reminder_done('spa_maintenance') }}
      name: "Spa Maintenance"
    entities:
      - entity: input_boolean.spa_maintenance_enabled
        name: "Reminder Enabled"

  - type: custom:fold-entity-row
    head:
      entity: button.spa_maintenance_done
      name: "Reminder Done"
    entities:
      - entity: input_boolean.spa_maintenance_active
        name: "Reminder Active"

  - type: custom:fold-entity-row
    head:
      entity: button.pause_spa_maintenance
      name: "Pause Reminder"
    entities:
      - entity: input_boolean.spa_maintenance_paused
        name: "Reminder Paused"

  - type: custom:fold-entity-row
    head:
      entity: button.skip_next_spa_maintenance
      name: "Skip Next Reminder"
    entities:
      - entity: input_boolean.spa_maintenance_skip_next
        name: "Next Reminder Skipped"

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_number.spa_maintenance_day_interval
      name: "Day Interval"
    entities:
      - entity: input_datetime.spa_maintenance_days
        name: "Days"

      - entity: input_datetime.spa_maintenance_afternoons
        name: "Afternoons"

      - entity: input_datetime.spa_maintenance_weekends
        name: "Weekends"

  - entity: input_number.spa_maintenance_notification_interval
    name: "Notification Interval"
