###################################################################################################
## Spa Maintenance Reminder Settings
###################################################################################################
type: entities
title: "Spa Maintenance"
show_header_toggle: false
state_color: true
entities:
  - type: custom:fold-entity-row
    padding: 0
    head:
      type: custom:template-entity-row
      entity: sensor.spa_maintenance_reminder
      state: "{{ states('sensor.spa_maintenance_reminder') }}"
      secondary: >
        {% from 'reminder.jinja' import reminder_last_done %}
        {{ reminder_last_done('spa_maintenance') }}
      name: "Spa Maintenance"
      hold_action:
        action: perform-action
        perform_action: input_boolean.toggle
        target:
          entity_id: input_boolean.spa_maintenance_active
      card_mod:
        style: |
          {% from 'reminder.jinja' import reminder_style %}
          {{ reminder_style('spa_maintenance') }}
    entities:
      - entity: input_boolean.spa_maintenance_enabled
        name: "Reminder Enabled"

      - type: custom:fold-entity-row
        padding: 0
        head:
          entity: input_number.spa_maintenance_day_interval
          name: "Day Interval"
        entities:
          - entity: input_datetime.spa_maintenance_days
            name: "Days"

          - entity: input_datetime.spa_maintenance_afternoons
            name: "Afternoons"

          - entity: input_datetime.spa_maintenance_weekends
            name: "Weekends"

      - entity: input_number.spa_maintenance_notification_interval
        name: "Notification Interval"

  - entity: button.spa_maintenance_done
    name: "Reminder Done"

  - entity: button.skip_spa_maintenance
    name: "Skip Reminder"
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('input_boolean.spa_maintenance_skipped', 'on') %} var(--entity-severe-color)
            {% else %} var(--state-icon-color)
            {% endif %}
          ;
        }

  - entity: button.pause_spa_maintenance
    name: "Pause Reminder"
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('input_boolean.spa_maintenance_paused', 'on') %} var(--entity-warning-color)
            {% else %} var(--state-icon-color)
            {% endif %}
          ;
        }
