###################################################################################################
## Environment Canada
###################################################################################################
type: entities
title: "Environment Canada"
entities:
  - entity: weather.windsor_forecast

  - entity: sensor.windsor_summary

  - type: custom:fold-entity-row
    head:
      entity: sensor.windsor_current_condition
    entities:
      - entity: sensor.windsor_icon_code

  - type: custom:fold-entity-row
    head:
      entity: sensor.windsor_temperature
    entities:
      - entity: sensor.windsor_high_temperature
      - entity: sensor.windsor_low_temperature
      - entity: sensor.windsor_normal_low_temperature
      - entity: sensor.windsor_normal_high_temperature
      - entity: sensor.windsor_humidex
      - entity: sensor.windsor_wind_chill

  - entity: sensor.windsor_humidity
  - entity: sensor.windsor_dew_point
  - entity: sensor.windsor_barometric_pressure
  - entity: sensor.windsor_chance_of_precipitation

  - entity: sensor.windsor_wind_speed
  - entity: sensor.windsor_wind_gust
  - entity: sensor.windsor_wind_direction
  - entity: sensor.windsor_wind_bearing

  - entity: sensor.windsor_visibility

  - entity: sensor.windsor_statements
  - entity: sensor.windsor_advisory
  - entity: sensor.windsor_watches
  - entity: sensor.windsor_warnings
  - entity: sensor.windsor_endings
  - entity: camera.windsor_radar
  - entity: sensor.windsor_observation_time

  - type: button
    name: "Environment Canada Alerts"
    icon: mdi:comment-alert-outline
    action_name: "VIEW"
    tap_action:
      action: navigate
      navigation_path: envcan-alerts
