#######################################################################################################################
## Climate - Settings Adjusted
#######################################################################################################################
- id: climate_settings_adjusted
  alias: "[Climate] Settings Adjusted"
  description: "Reset temperatures to preset values when HVAC settings have been changed."
  mode: restart
  trigger:
    - platform: state
      entity_id:
        - input_number.home_heat_temperature
        - input_number.home_cool_temperature
        - input_number.night_heat_temperature
        - input_number.night_cool_temperature
        - input_number.guest_heat_temperature
        - input_number.guest_cool_temperature
  condition:
    - condition: state
      entity_id: input_boolean.climate_automation
      state: 'on'

    - condition: not
      conditions:
        - condition: state
          entity_id: climate.thermostat
          state: 'off'

    - condition: template
      alias: "Current occupancy mode corresponds to trigger preset"
      value_template: >
        {% if trigger.entity_id in ['input_number.home_heat_temperature','input_number.home_cool_temperature'] %}
          {{ is_state('input_select.occupancy_mode','Home') }}
        {% elif trigger.entity_id in ['input_number.night_heat_temperature','input_number.night_cool_temperature'] %}
          {{ is_state('input_select.occupancy_mode','Night') }}
        {% elif trigger.entity_id in ['input_number.guest_heat_temperature','input_number.guest_cool_temperature'] %}
          {{ is_state('input_select.occupancy_mode','Guest') }}
        {% else %}
          true
        {% endif %}
  action:
    # delay to allow user to finish setting temps, restart mode will run script with last set value
    - delay: 60

    - service: script.set_climate_temperature
