###############################################################################
## Waketime Settings
###############################################################################
type: entities
title: "Waketime Settings"
icon: mdi:weather-sunset-up
state_color: true
show_header_toggle: false
entities:
  - type: attribute
    entity: sensor.waketime_today
    attribute: 12hour

  - type: attribute
    entity: sensor.next_waketime
    attribute: 12hour

  - !include /config/lovelace/card/media/alarm_clock/include/alarm_clock_next_alarm.yaml

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_boolean.house_wakeup
    entities:
      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.house_waketime
        name: "Days"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.day_reset
        name: "Days"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

  - type: custom:fold-entity-row
    padding: 0
    head: input_boolean.workday_morning
    entities:
      - entity: input_boolean.alarm_clock_auto_workdays
        name: "Workdays Alarm Clock"
        tap_action:
          action: fire-dom-event
          browser_mod:
            service: browser_mod.popup
            data:
              content: !include /config/lovelace/card/media/alarm_clock/alarm_clock_auto.yaml
              timeout: 60000

      - entity: input_number.waketime_duration
        name: "Wake Timeout"

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.days_waketime
        name: "Days"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.afternoons_waketime
        name: "Afternoons"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_boolean.weekend_morning
    entities:
      - entity: input_boolean.alarm_clock_auto_weekends
        name: "Weekend Alarm Clock"
        tap_action:
          action: fire-dom-event
          browser_mod:
            service: browser_mod.popup
            data:
              content: !include /config/lovelace/card/media/alarm_clock/alarm_clock_auto.yaml
              timeout: 60000

      - entity: input_number.waketime_duration_weekend

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.weekend_waketime
        name: "Weekend"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_boolean.guest_morning
    entities:
      - entity: input_boolean.alarm_clock_guest

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.guest_waketime
        name: "Guest"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

  - entity: input_boolean.media_preset_enabled_wake
  - entity: input_boolean.media_preset_enabled_morning

  - type: buttons
    entities:
      - entity: script.waketime
        name: "Run Waketime"
        tap_action:
          action: call-service
          service: script.waketime
        double_tap_action:
          action: call-service
          service: script.turn_off
          service_data:
            entity_id: script.waketime
        hold_action:
          action: call-service
          service: script.toggle
          service_data:
            entity_id: script.waketime
    card_mod:
      style:
        hui-buttons-base $: |
          .ha-scrollbar {
            justify-content: center;
          }
card_mod:
  class: popup
