###############################################################################
## Waketime Settings Card
###############################################################################
type: entities
title: 'Waketime Settings'
icon: mdi:weather-sunset-up
state_color: true
show_header_toggle: false
entities:
  - type: attribute
    entity: sensor.waketime_today
    attribute: 12hour

  - type: attribute
    entity: sensor.next_waketime
    attribute: 12hour

  - !include /config/lovelace/card/media/alarm_clock/include/alarm_clock_next_alarm.yaml

  - entity: input_datetime.day_reset
  - entity: input_number.waketime_timeout

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_boolean.house_wakeup
      state_color: true
      tap_action:
        action: fire-dom-event
        browser_mod:
          command: popup
          deviceID: this
          title: 'Alarm Time'
          card: !include /config/lovelace/card/schedule/waketime_picker.yaml

    entities:
      - entity: input_datetime.house_waketime

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_boolean.workday_morning
      state_color: true
      tap_action:
        action: fire-dom-event
        browser_mod:
          command: popup
          deviceID: this
          title: 'Alarm Time'
          card: !include /config/lovelace/card/schedule/waketime_picker.yaml
    entities:
      - entity: input_datetime.days_waketime
      - entity: input_datetime.afternoons_waketime

      - entity: input_boolean.alarm_clock_auto_workdays
        name: Workdays Alarm Clock
        tap_action:
          action: fire-dom-event
          browser_mod:
            command: popup
            deviceID: this
            title: 'Auto Alarm Clock'
            card: !include /config/lovelace/card/schedule/waketime_picker.yaml

      - entity: input_number.morning_media_delay

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_boolean.weekend_morning
      state_color: true
      tap_action:
        action: fire-dom-event
        browser_mod:
          command: popup
          deviceID: this
          title: 'Alarm Time'
          card: !include /config/lovelace/card/schedule/waketime_picker.yaml
    entities:
      - entity: input_datetime.weekend_waketime

      - entity: input_boolean.alarm_clock_auto_weekends
        name: Weekend Alarm Clock
        tap_action:
          action: fire-dom-event
          browser_mod:
            command: popup
            deviceID: this
            title: 'Auto Alarm Clock'
            card: !include /config/lovelace/card/media/alarm_clock/alarm_clock_auto.yaml

      - entity: input_number.morning_media_delay_weekend

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_boolean.guest_morning
      state_color: true
      tap_action:
        action: fire-dom-event
        browser_mod:
          command: popup
          deviceID: this
          title: 'Alarm Time'
          card: !include /config/lovelace/card/schedule/waketime_picker.yaml
    entities:
      - entity: input_datetime.guest_waketime
      - entity: input_boolean.alarm_clock_guest

  - entity: input_boolean.media_preset_enabled_wake
  - entity: input_boolean.media_preset_enabled_morning

  - type: buttons
    entities:
      - entity: script.waketime
        name: 'Run Waketime'
        tap_action:
          action: call-service
          service: script.waketime
        double_tap_action:
          action: call-service
          service: script.turn_off
          service_data:
            entity_id: script.waketime
        hold_action:
          action: call-service
          service: script.toggle
          service_data:
            entity_id: script.waketime
    card_mod:
      style:
        hui-buttons-base $: |
          .ha-scrollbar {
            justify-content: center;
          }
card_mod:
  class: popup
