###############################################################################
## Work Schedule Settings
###############################################################################
type: entities
title: 'Work Schedule Settings'
icon: mdi:factory
state_color: true
show_header_toggle: false
entities:
  - entity: input_boolean.work_schedule

  - type: custom:fold-entity-row
    head:
      entity: sensor.work_shift_today
      tap_action:
        action: none
      card_mod:
        style: |
          :host {
            --paper-item-icon-color:
              {% if is_state('input_boolean.work_shift_override','on') %} var(--entity-warning-color)
              {% elif is_state('sensor.work_shift_today','Off') %} var(--entity-warning-color)
              {% elif is_state('sensor.work_shift_today','Days') %} var(--entity-dayshift-color)
              {% elif is_state('sensor.work_shift_today','Afternoons') %} var(--entity-afternoonshift-color)
              {% else %} var(--disabled-text-color)
              {% endif %}
              ;
          }
    entities:
      - entity: input_boolean.work_shift_override
        tap_action:
          action: none
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.work_shift_override','on') %} var(--entity-warning-color)
                {% else %} var(--state-icon-color)
                {% endif %}
                ;
            }

      - entity: input_select.current_work_shift
        tap_action:
          action: none
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.work_schedule','off') %} var(--state-icon-color)
                {% elif is_state('input_select.current_work_shift','Off') %} var(--entity-warning-color)
                {% elif is_state('input_select.current_work_shift','Days') %} var(--entity-dayshift-color)
                {% elif is_state('input_select.current_work_shift','Afternoons') %} var(--entity-afternoonshift-color)
                {% else %} var(--disabled-text-color)
                {% endif %}
                ;
            }

  - entity: binary_sensor.work_vacation
  - entity: binary_sensor.work_layoff
  - entity: input_boolean.saturday_workday
  - entity: input_boolean.sunday_workday
  - entity: input_boolean.holiday_workday

  - type: custom:template-entity-row
    entity: binary_sensor.work_today
    state: "{{ states('binary_sensor.work_today')|title }}"
    state_color: true
    tap_action:
      action: none
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
              {% if is_state('input_boolean.work_schedule','off') %} var(--state-icon-color)
              {% elif is_state('binary_sensor.work_today','on') %}
                {% if is_state('input_boolean.work_shift_override','on') %} var(--entity-warning-color)
                {% elif is_state('sensor.work_shift_today','Days') %} var(--entity-dayshift-color)
                {% elif is_state('sensor.work_shift_today','Afternoons') %} var(--entity-afternoonshift-color)
                {% else %} var(--entity-warning-color)
                {% endif %}
              {% else %} var(--disabled-text-color)
              {% endif %}
            ;
        }

  - entity: input_boolean.work_today_off
    card_mod:
      style: |
        :host {
          --paper-item-icon-active-color: var(--entity-warning-color);
        }

  - type: custom:template-entity-row
    entity: binary_sensor.work_tomorrow
    tap_action:
      action: none
    state: "{{ states('binary_sensor.work_tomorrow')|title }}"
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
              {% if is_state('input_boolean.work_schedule','off') %} var(--state-icon-color)
              {% elif is_state('binary_sensor.work_tomorrow','on') %}
                {% if is_state('input_boolean.work_shift_override','on') %} var(--entity-warning-color)
                {% elif is_state('sensor.work_shift_tomorrow','Days') %} var(--entity-dayshift-color)
                {% elif is_state('sensor.work_shift_tomorrow','Afternoons') %} var(--entity-afternoonshift-color)
                {% else %} var(--entity-warning-color)
                {% endif %}
              {% else %} var(--disabled-text-color)
              {% endif %}
            ;
        }

  - entity: input_boolean.work_tomorrow_off
    card_mod:
      style: |
        :host {
          --paper-item-icon-active-color: var(--entity-warning-color);
        }

  - type: custom:template-entity-row
    entity: sensor.next_work_holiday
    tap_action:
      action: none
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
              {% if is_state('sensor.next_work_holiday','Off') %} var(--state-icon-color)
              {% else %} var(--entity-work-holiday-color);
              {% endif %}
            ;
        }

  - entity: input_boolean.commute_times_enabled
    tap_action:
      action: fire-dom-event
      browser_mod:
        command: popup
        deviceID: this
        hide_header: true
        title: 'Commute Settings'
        card: !include /config/lovelace/card/schedule/commute/commute_settings.yaml
    style: |
      :host {
        --paper-item-icon-active-color:
          {% if is_state('alert.work_commute_jason','on') %} var(--entity-warning-color)
          {% elif is_state('alert.work_commute_sheri','on') %} var(--entity-warning-color)
          {% elif is_state('binary_sensor.commute_active','on') %} var(--entity-minor-color)
          {% else %} var(--state-icon-active-color)
          {% endif %}
          ;
      }

  - type: custom:fold-entity-row
    padding: 0
    head:
      type: custom:template-entity-row
      name: 'Work Schedule Alerts'
      icon: mdi:alert
      card_mod:
        style: |
          :host {
            --paper-item-icon-color:
                {% if not is_state('alert.shift_selection','idle') %} var(--entity-warning-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
          }
    entities:
      - entity: alert.shift_selection
        state_color: true
        tap_action:
          action: none
card_mod:
  class: popup
