type: entities
state_color: true
entities:
  - type: custom:fold-entity-row
    head:
      entity: binary_sensor.work_schedule
      state_color: true
    entities:
      - entity: input_boolean.work_schedule
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.work_schedule','on') %} var(--state-icon-active-color)
                {% else %} var(--state-icon-color)
                {% endif %}
                ;
            }

      - entity: binary_sensor.work_vacation
      - entity: binary_sensor.work_layoff

  - type: custom:fold-entity-row
    head:
      entity: sensor.today_shift
      tap_action:
        action: none
      card_mod:
        style: |
          :host {
            --paper-item-icon-color:
              {% if is_state('input_boolean.work_shift_override','on') %} var(--entity-warning-color)
              {% elif is_state('sensor.today_shift','Off') %} var(--entity-warning-color)
              {% elif is_state('sensor.today_shift','Days') %} var(--entity-dayshift-color)
              {% elif is_state('sensor.today_shift','Afternoons') %} var(--entity-afternoonshift-color)
              {% else %} var(--disabled-text-color)
              {% endif %}
              ;
          }
    entities:
      - entity: input_boolean.work_shift_override
        tap_action:
          action: none
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.work_shift_override','on') %} var(--entity-warning-color)
                {% else %} var(--state-icon-color)
                {% endif %}
                ;
            }

      - entity: input_select.work_shift_selection
        tap_action:
          action: none
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('binary_sensor.work_schedule','off') %} var(--state-icon-color)
                {% elif is_state('input_select.work_shift_selection','Off') %} var(--entity-warning-color)
                {% elif is_state('input_select.work_shift_selection','Days') %} var(--entity-dayshift-color)
                {% elif is_state('input_select.work_shift_selection','Afternoons') %} var(--entity-afternoonshift-color)
                {% else %} var(--disabled-text-color)
                {% endif %}
                ;
            }

  - entity: input_boolean.saturday_workday
    tap_action:
      action: none
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('input_boolean.saturday_workday','on') %} var(--state-icon-active-color)
            {% else %} var(--state-icon-color)
            {% endif %}
            ;
        }

  - entity: input_boolean.sunday_workday
    tap_action:
      action: none
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('input_boolean.sunday_workday','on') %} var(--state-icon-active-color)
            {% else %} var(--state-icon-color)
            {% endif %}
            ;
        }

  - entity: input_boolean.holiday_workday
    tap_action:
      action: none
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('input_boolean.holiday_workday','on') %} var(--state-icon-active-color)
            {% else %} var(--state-icon-color)
            {% endif %}
            ;
        }

  - entity: input_boolean.commute_times_enabled
    tap_action:
      action: fire-dom-event
      browser_mod:
        command: popup
        deviceID: this
        title: Commute Settings
        card: !include /config/lovelace/card/schedule/commute/commute_settings.yaml
    style: |
      :host {
        --paper-item-icon-active-color:
          {% if is_state('alert.work_commute_jason','on') %} var(--entity-warning-color)
          {% elif is_state('alert.work_commute_sheri','on') %} var(--entity-warning-color)
          {% elif is_state('binary_sensor.commute_active','on') %} var(--entity-minor-color)
          {% else %} var(--state-icon-active-color)
          {% endif %}
          ;
      }

  - type: custom:template-entity-row
    entity: binary_sensor.work_today
    state: "{{ states('binary_sensor.work_today')|title }}"
    state_color: true
    tap_action:
      action: none
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
              {% if is_state('binary_sensor.work_schedule','off') %} var(--state-icon-color)
              {% elif is_state('binary_sensor.work_today','on') %}
                {% if is_state('input_boolean.work_shift_override','on') %} var(--entity-warning-color)
                {% elif is_state('sensor.today_shift','Days') %} var(--entity-dayshift-color)
                {% elif is_state('sensor.today_shift','Afternoons') %} var(--entity-afternoonshift-color)
                {% else %} var(--entity-warning-color)
                {% endif %}
              {% else %} var(--disabled-text-color)
              {% endif %}
            ;
        }

  - type: custom:template-entity-row
    entity: binary_sensor.work_tomorrow
    tap_action:
      action: none
    state: "{{ states('binary_sensor.work_tomorrow')|title }}"
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
              {% if is_state('binary_sensor.work_schedule','off') %} var(--state-icon-color)
              {% elif is_state('binary_sensor.work_tomorrow','on') %}
                {% if is_state('input_boolean.work_shift_override','on') %} var(--entity-warning-color)
                {% elif is_state('sensor.tomorrow_shift','Days') %} var(--entity-dayshift-color)
                {% elif is_state('sensor.tomorrow_shift','Afternoons') %} var(--entity-afternoonshift-color)
                {% else %} var(--entity-warning-color)
                {% endif %}
              {% else %} var(--disabled-text-color)
              {% endif %}
            ;
        }

  - type: custom:template-entity-row
    entity: sensor.next_work_holiday
    tap_action:
      action: none
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
              {% if is_state('sensor.next_work_holiday','Off') %} var(--state-icon-color)
              {% else %} var(--entity-work-holiday-color);
              {% endif %}
            ;
        }

  - type: custom:fold-entity-row
    padding: 0
    head:
      type: custom:template-entity-row
      name: Work Schedule Alerts
      icon: mdi:alert
      card_mod:
        style: |
          :host {
            --paper-item-icon-color:
                {% if not is_state('alert.shift_selection','idle') %} var(--entity-warning-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
          }
    entities:
      - entity: alert.shift_selection
        state_color: true
        tap_action:
          action: none
card_mod:
  class: popup
