###############################################################################
## Bedtime Settings
###############################################################################
type: entities
title: "Bedtime Settings"
show_header_toggle: false
state_color: true
entities:
  - type: attribute
    entity: sensor.bedtime_today
    attribute: "12hour"

  - type: attribute
    entity: sensor.delayed_bedtime
    attribute: "12hour"

  - type: attribute
    entity: sensor.bedtime_warning
    attribute: "12hour"

  - type: attribute
    entity: sensor.next_bedtime
    attribute: "12hour"
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state_attr('sensor.next_bedtime', '12hour', 'OFF') %} var(--entity-warning-color)
            {% else %} var(--state-active-color)
            {% endif %}
            ;
          }

  - type: custom:fold-entity-row
    head:
      entity: input_boolean.workday_night
    padding: 0
    entities:
      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.days_bedtime
        name: "Days Bedtime"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card
          style: |
            :host {
              --paper-item-icon-color:
                {%- if is_state('input_boolean.guest_night', 'on') %} var(--state-active-color)
                {% else %} var(--state-icon-color)
                {%- endif -%}
                ;
            }

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.afternoons_bedtime
        name: "Afts Bedtime"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card
          style: |
            :host {
              --paper-item-icon-color:
                {%- if is_state('input_boolean.guest_night', 'on') %} var(--state-active-color)
                {% else %} var(--state-icon-color)
                {%- endif -%}
                ;
            }

  - type: custom:fold-entity-row
    head:
      entity: input_boolean.weekend_night
    padding: 0
    entities:
      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.weekend_bedtime
        name: "Bedtime"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card
          style: |
            :host {
              --paper-item-icon-color:
                {%- if is_state('input_boolean.guest_night', 'on') %} var(--state-active-color)
                {% else %} var(--state-icon-color)
                {%- endif -%}
                ;
            }

  - type: custom:fold-entity-row
    head:
      entity: input_boolean.guest_night
    padding: 0
    entities:
      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.guest_bedtime
        name: "Bedtime"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card
          style: |
            :host {
              --paper-item-icon-color:
                {%- if is_state('input_boolean.guest_night', 'on') %} var(--state-active-color)
                {% else %} var(--state-icon-color)
                {%- endif -%}
                ;
            }

  - type: custom:hui-element
    card_type: custom:time-picker-card
    entity: input_datetime.default_bedtime
    name: "Default Bedtime"
    hour_mode: 12
    link_values: true
    hour_step: 1
    minute_step: 5
    delay: 2
    layout:
      name: inside
      align_controls: right
      hour_mode: single
      embedded: true
      thin: true
    hide:
      name: false
      seconds: true
    card_mod:
      class: sub_card

  - entity: input_number.bedtime_warning_time
    name: "Bedtime Warning"
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {%- if states('input_number.bedtime_warning_time') | int(0) > 0 %} var(--state-active-color)
            {% else %} var(--state-icon-color)
            {%- endif -%}
            ;
        }

  - entity: input_number.bedtime_delay
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {%- if states('input_number.bedtime_delay') | int(0) > 0 %} var(--state-active-color)
            {% else %} var(--state-icon-color)
            {%- endif -%}
            ;
        }

  - entity: input_number.night_mode_delay
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {%- if states('input_number.night_mode_delay') | int(0) > 0 %} var(--state-active-color)
            {% else %} var(--state-icon-color)
            {%- endif -%}
            ;
        }

  - entity: input_boolean.bedtime_delayed

  - type: conditional
    conditions:
      - entity: timer.bedtime_delay
        state_not: idle
    row:
      entity: timer.bedtime_delay

  - entity: input_boolean.media_preset_enabled_sleep

  - type: button
    entity: script.bedtime
    name: "Run Bedtime"
    service: script.bedtime
    action_name: "RUN"
    tap_action:
      action: call-service
      service: script.bedtime
    double_tap_action:
      action: call-service
      service: script.turn_off
      data:
        entity_id: script.bedtime
    hold_action:
      action: call-service
      service: script.toggle
      data:
        entity_id: script.bedtime
card_mod:
  class: basic
