###############################################################################
## Commute Settings
###############################################################################
type: entities
title: "Commute Settings"
state_color: true
show_header_toggle: false
entities:
  - entity: binary_sensor.google_traffic_integration_connected
    card_mod:
      style: |
        :host {
          --paper-item-icon-color: var(--entity-critical-color)
        }

  - type: custom:fold-entity-row
    head:
      entity: input_boolean.commute_times_enabled
      card_mod:
        style: |
          :host {
            --paper-item-icon-color: var(--entity-warning-color);
          }
    entities:
      - type: custom:numberbox-card
        entity: input_number.commute_time

      - type: custom:numberbox-card
        entity: input_number.commute_predeparture
        name: "Predeparture Time"

      - type: custom:numberbox-card
        entity: input_number.commute_warning_threshold
        name: "Warning Threshold"

  - entity: binary_sensor.commute_active
    tap_action:
      action: navigate
      navigation_path: traffic
    card_mod:
      style: |
        :host {
          --state-binary_sensor-active-color:
            {% if is_state('alert.work_commute_jason', 'on') %} var(--entity-warning-color)
            {% elif is_state('binary_sensor.commute_active', 'on') %} var(--entity-minor-color)
            {% else %} var(--state-active-color)
            {% endif %}
            ;
        }

  - type: custom:fold-entity-row
    head:
      type: custom:template-entity-row
      name: "Days Commute Times"
      icon: mdi:clock
      state: ""
    entities:
      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.days_arrive_work_time
        name: "Arrive Work"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.days_leave_work_time
        name: "Leave Work"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

  - type: custom:fold-entity-row
    head:
      type: custom:template-entity-row
      name: "Afternoons Commute Times"
      icon: mdi:clock
      state: ""
    entities:
      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.afternoons_arrive_work_time
        name: "Arrive Work"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.afternoons_leave_work_time
        name: "Leave Work"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

  - type: button
    entity: script.update_traffic_sensors
    name: "Traffic Sensors"
    action_name: "UPDATE"
    tap_action:
      action: perform-action
      perform_action: script.update_traffic_sensors

  - type: button
    name: "Traffic Map"
    icon: mdi:car-multiple
    action_name: "VIEW"
    tap_action:
      action: navigate
      navigation_path: traffic

  - type: custom:auto-entities
    filter:
      template: >
        {% from 'alert.jinja' import alert_entities %}
        {{ alert_entities('commute') }}
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.commute_alerts
        card_mod:
          style: |
            {% from 'alert.jinja' import alert_switch %}
            {{ alert_switch('input_boolean.commute_alerts') }}