###############################################################################
## Waketime Settings
###############################################################################
type: entities
title: "Waketime Settings"
state_color: true
show_header_toggle: false
entities:
  - type: attribute
    entity: sensor.waketime_today
    attribute: 12hour

  - type: attribute
    entity: sensor.next_waketime
    attribute: 12hour

  - !include /config/ui/card/media/alarm_clock/include/alarm_clock_next_alarm.yaml

  - type: custom:fold-entity-row
    padding: 0
    head: input_boolean.workday_morning
    entities:
      - entity: input_boolean.alarm_clock_wake_workdays
        name: "Workdays Alarm Clock"
        tap_action:
          action: fire-dom-event
          browser_mod:
            service: browser_mod.popup
            data:
              content: !include /config/ui/card/media/alarm_clock/alarm_clock_wake.yaml
              timeout: 100000
              card_mod:
            style:
              ha-dialog$: >
                {% from 'style.jinja' import popup_style %}
                {{ popup_style() }}

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.days_waketime
        name: "Days"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.afternoons_waketime
        name: "Afternoons"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_boolean.weekend_morning
    entities:
      - entity: input_boolean.alarm_clock_wake_weekends
        name: "Weekend Alarm Clock"
        tap_action:
          action: fire-dom-event
          browser_mod:
            service: browser_mod.popup
            data:
              content: !include /config/ui/card/media/alarm_clock/alarm_clock_wake.yaml
              timeout: 100000
              card_mod:
            style:
              ha-dialog$: >
                {% from 'style.jinja' import popup_style %}
                {{ popup_style() }}

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.weekend_waketime
        name: "Weekend"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: input_boolean.guest_morning
    entities:
      - entity: input_boolean.alarm_clock_guest

      - type: custom:hui-element
        card_type: custom:time-picker-card
        entity: input_datetime.guest_waketime
        name: "Guest"
        hour_mode: 12
        link_values: true
        hour_step: 1
        minute_step: 1
        delay: 2
        layout:
          name: inside
          align_controls: right
          hour_mode: single
          embedded: true
          thin: true
        hide:
          name: false
          seconds: true
        card_mod:
          class: sub_card

  - type: custom:hui-element
    card_type: custom:time-picker-card
    entity: input_datetime.default_waketime
    name: "Default Waketime"
    hour_mode: 12
    link_values: true
    hour_step: 1
    minute_step: 5
    delay: 2
    layout:
      name: inside
      align_controls: right
      hour_mode: single
      embedded: true
      thin: true
    hide:
      name: false
      seconds: true
    card_mod:
      class: sub_card

  - type: custom:hui-element
    card_type: custom:time-picker-card
    entity: input_datetime.day_reset
    name: "Day Reset"
    hour_mode: 12
    link_values: true
    hour_step: 1
    minute_step: 1
    delay: 2
    layout:
      name: inside
      align_controls: right
      hour_mode: single
      embedded: true
      thin: true
    hide:
      name: false
      seconds: true
    card_mod:
      class: sub_card

  - type: custom:fold-entity-row
    padding: 0
    head: input_boolean.media_preset_enabled_wake
    entities:
      - entity: input_number.media_preset_wake_time
        name: "Wake Timer"

  - entity: input_boolean.media_preset_enabled_morning

  - type: button
    entity: script.waketime
    name: "Run Waketime"
    service: script.waketime
    action_name: "RUN"
    tap_action:
      action: perform-action
      perform_action: script.waketime
    double_tap_action:
      action: perform-action
      perform_action: script.turn_off
      target:
        entity_id: script.waketime
    hold_action:
      action: perform-action
      perform_action: script.toggle
      target:
        entity_id: script.waketime
