###################################################################################################
## Garage Settings
###################################################################################################
type: entities
show_header_toggle: false
entities:
  - entity: input_boolean.garage_door_announcements
    card_mod:
      style: |
        {% from 'alert.jinja' import alert_switch_style %}
        {{ alert_switch_style('input_boolean.garage_door_announcements') }}

  - entity: input_boolean.garage_door_notifications
    card_mod:
      style: |
        {% from 'alert.jinja' import alert_switch_style %}
        {{ alert_switch_style('input_boolean.garage_door_notifications') }}

  - type: custom:auto-entities
    filter:
      template: >
        {% from 'alert.jinja' import alert_entities %}
        {{ alert_entities('garage_door') }}
    sort:
      method: name
      ignore_case: true
    entities:
      - entity: input_boolean.garage_door_alert
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.garage_door_alerts
        card_mod:
          style: |
            {% from 'alert.jinja' import alert_switch_style %}
            {{ alert_switch_style('input_boolean.garage_door_alerts') }}
card_mod:
  style: |
    :host {
      --ha-card-background: var(--card-background-color) !important;
    }
