###############################################################################
## Garage Door
###############################################################################
type: entities
title: "Garage Door"
icon: mdi:garage
show_header_toggle: false
state_color: true
entities:
  - entity: binary_sensor.myq_connected
    card_mod:
      style: |
        :host {
          --paper-item-icon-color: var(--entity-critical-color);
        }

  - entity: cover.garage_bay_door

  - entity: input_boolean.garage_door_announcements
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('input_boolean.garage_door_announcements', 'off') %} var(--entity-warning-color)
            {% else %} var(--state-icon-color)
            {% endif %}
          ;
        }

  - entity: input_boolean.garage_door_active_alert
    card_mod:
      style: |
        :host {
          --paper-item-icon-color:
            {% if is_state('input_boolean.garage_door_active_alert', 'on') %} var(--entity-warning-color)
            {% else %} var(--state-icon-color)
            {% endif %}
          ;
        }

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category', 'eq', 'garage_door')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.garage_door_alerts
        card_mod:
          style: |
            {% from 'style.jinja' import alert_switch %}
            {{ alert_switch('input_boolean.garage_door_alerts') }}
card_mod:
  class: basic
