###############################################################################
## Alarm Settings
###############################################################################
type: entities
title: "Alarm Settings"
icon: mdi:shield-home
show_header_toggle: false
state_color: true
entities:
  - entity: binary_sensor.alarmo_connected
    card_mod:
      style: |
        :host {
          --paper-item-icon-color: var(--entity-critical-color);
        }

  - type: custom:fold-entity-row
    head: !include /config/lovelace/card/alarm/include/house_alarm.yaml
    entities:
      - entity: alarm_control_panel.master
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.alarm_enabled','off') %} var(--state-icon-color)
                {% else %} var(--state-alarm_control_panel-disarming-color)
                {% endif %}
            };

      - entity: alarm_control_panel.house
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.alarm_enabled','off') %} var(--state-icon-color)
                {% else %} var(--state-alarm_control_panel-disarming-color)
                {% endif %}
            };

      - entity: alarm_control_panel.garage
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.alarm_enabled','off') %} var(--state-icon-color)
                {% else %} var(--state-alarm_control_panel-disarming-color)
                {% endif %}
            };

      - entity: input_boolean.alarm_pending
      - entity: input_boolean.alarm_triggered

  - entity: input_boolean.alarm_enabled
  - entity: input_boolean.alarm_auto_arming
  - entity: input_boolean.alarm_announcements
  - entity: input_boolean.alarm_emails
  - entity: counter.alarm_code_error_count

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','alarm')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.alarm_alerts

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','lock')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.lock_alerts

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "automation.alarm_*"
      exclude:
        - entity_id: "automation.alarm_clock*"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: sensor.dummy
        name: "Alarm Automations"
        icon: mdi:sync-alert
        state: ""
        tap_action:
          action: none

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "automation.lock_*"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: sensor.dummy
        name: "Lock Automations"
        icon: mdi:sync-alert
        state: ""
        tap_action:
          action: none
card_mod:
  class: basic
