###############################################################################
## Charlie Scene Media Setting Entities
###############################################################################
- entity: select.media_preset_charlie
  name: "Playlist"

- entity: select.media_preset_speaker_charlie
  name: "Speaker"

- entity: input_number.media_preset_volume_charlie
  name: "Volume"

- entity: input_boolean.media_preset_enabled_charlie
  name: "Auto Play"

- entity: input_boolean.shuffle_charlie
  name: "Shuffle Playlist"

- entity: input_boolean.repeat_charlie
  name: "Repeat Playlist"

- entity: input_boolean.radio_charlie
  name: "Radio Mode"

- type: buttons
  entities:
    - entity: script.media_play
      name: "Play Charlie Media"
      icon: mdi:play-circle
      tap_action:
        action: call-service
        service: script.media_play
        data:
          preset: charlie
  card_mod:
    style:
      hui-buttons-base $: |
        .ha-scrollbar {
          justify-content: center;
        }
