###############################################################################
## Company Scene Setting Entities
###############################################################################
- entity: select.media_preset_company
  name: "Playlist"

- entity: select.media_preset_speaker_company
  name: "Speaker"

- entity: input_number.media_preset_volume_company
  name: "Volume"

- entity: input_boolean.media_preset_enabled_company
  name: "Auto Play"

- type: buttons
  entities:
    - entity: script.media_play
      name: "Play Company Media"
      icon: mdi:play-circle
      tap_action:
        action: call-service
        service: script.media_play
        service_data:
          preset: company
  card_mod:
    style:
      hui-buttons-base $: |
        .ha-scrollbar {
          justify-content: center;
        }
