###############################################################################
## Maddie Mealtime Reminder Settings
###############################################################################
type: entities
title: "Maddie Mealtime"
icon: mdi:dog
show_header_toggle: false
state_color: true
entities:
  - type: custom:fold-entity-row
    padding: 0
    head:
      entity: binary_sensor.maddie_mealtime_reminder
      name: "Maddie Mealtime"
    entities:
      - entity: input_boolean.maddie_mealtime_enabled
        name: "Reminder Enabled"

      - entity: input_boolean.maddie_mealtime_active
        name: "Reminder Active"

  - entity: button.maddie_mealtime_done
    name: "Reminder Done"

  - type: custom:fold-entity-row
    padding: 0
    head:
      type: custom:template-entity-row
      name: "Reminder Times"
      icon: mdi:clock
      state: ""
    entities:
      - entity: input_datetime.maddie_mealtime_days_1
        name: "Days 1"

      - entity: input_datetime.maddie_mealtime_days_2
        name: "Days 2"

      - entity: input_datetime.maddie_mealtime_days_3
        name: "Days 3"

      - entity: input_datetime.maddie_mealtime_afternoons_1
        name: "Afternoons 1"

      - entity: input_datetime.maddie_mealtime_afternoons_2
        name: "Afternoons 2"

      - entity: input_datetime.maddie_mealtime_afternoons_3
        name: "Afternoons 3"

      - entity: input_datetime.maddie_mealtime_weekends_1
        name: "Weekends 1"

      - entity: input_datetime.maddie_mealtime_weekends_2
        name: "Weekends 2"

      - entity: input_datetime.maddie_mealtime_weekends_3
        name: "Weekends 3"

  - entity: input_number.maddie_mealtime_notification_interval
    name: "Notification Interval"
card_mod:
  class: basic
