###############################################################################
## Water Plant Settings
###############################################################################
type: entities
show_header_toggle: false
state_color: true
entities:
  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "automation.*water_plants*"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 0
      head:
        entity: input_boolean.water_plants_enabled
        name: "Reminder Enabled"
        state_color: true

  - entity: input_boolean.water_plants_active
    name: "Reminder Active"

  - entity: input_number.water_plants_day_interval
    name: "Day Interval"

  - entity: input_number.water_plants_reminder_interval
    name: "Reminder Interval"

  - entity: input_datetime.water_plants_days
    name: "Days"

  - entity: input_datetime.water_plants_afternoons
    name: "Afternoons"

  - entity: input_datetime.water_plants_weekends
    name: "Weekends"
card_mod:
  class: popup
