###################################################################################################
## Charlie Settings
###################################################################################################
type: entities
entities:
  - entity: input_boolean.charlie_home

  - entity: input_boolean.media_enabled_charlie
    tap_action:
      action: fire-dom-event
      browser_mod:
        service: browser_mod.popup
        data:
          title: "Chill Media Preset"
          content: !include /config/ui/card/media/preset/media_preset_charlie.yaml
card_mod:
  style: |
    :host {
      --card-background-color: var(--card-background-color) !important;
    }