###################################################################################################
## Charlie Settings
###################################################################################################
type: entities
title: "Charlie Settings"
show_header_toggle: false
state_color: true
entities:
  - entity: input_boolean.charlie_home

  - type: custom:fold-entity-row
    head: input_boolean.media_enabled_charlie
    entities: !include /config/ui/card/media/preset/include/charlie_media_settings.yaml
