###################################################################################################
# Jason Settings
###################################################################################################
type: entities
entities:
  - type: custom:fold-entity-row
    head:
      entity: input_boolean.media_enabled_jason
      name: "Auto Media Play"
    entities:
      - entity: input_select.media_type_jason
        name: "Media Type"

      - type: conditional
        conditions:
          - condition: state
            entity: input_select.media_type_jason
            state: Artist
        row:
          entity: select.media_artist_jason
          name: "Artist Name"

      - type: conditional
        conditions:
          - condition: state
            entity: input_select.media_type_jason
            state: Album
        row:
          entity: select.media_album_jason
          name: "Album Name"

      - type: conditional
        conditions:
          - condition: state
            entity: input_select.media_type_jason
            state: Track
        row:
          entity: select.media_track_jason
          name: "Track Name"

      - type: conditional
        conditions:
          - condition: state
            entity: input_select.media_type_jason
            state: Playlist
        row:
          entity: select.media_playlist_jason
          name: "Playlist"

      - type: conditional
        conditions:
          - condition: state
            entity: input_select.media_type_jason
            state: Radio
        row:
          entity: select.media_radio_jason

      - type: conditional
        conditions:
          - condition: state
            entity: input_select.media_type_jason
            state: Video
        row:
          entity: select.media_video_jason

      - type: conditional
        conditions:
          - condition: state
            entity: input_select.media_type_jason
            state_not: Video
        row:
          entity: select.media_speaker_jason

      - type: conditional
        conditions:
          - condition: state
            entity: input_select.media_type_jason
            state: Video
        row:
          entity: select.media_video_display_jason

      - type: custom:fold-entity-row
        head:
          type: custom:template-entity-row
          name: "Options"
          icon: mdi:cog
        entities:
          - type: conditional
            conditions:
              - condition: state
                entity: input_select.media_type_jason
                state: &media_types
                  - Album
                  - Artist
                  - Track
                  - Playlist

              - condition: state
                entity: input_boolean.radio_jason
                state: "off"
            row:
              entity: input_select.repeat_jason

          - type: conditional
            conditions:
              - condition: state
                entity: input_select.media_type_jason
                state: *media_types

              - condition: state
                entity: input_boolean.radio_jason
                state: "off"
            row:
              entity: input_boolean.shuffle_jason

          - type: conditional
            conditions:
              - condition: state
                entity: input_select.media_type_jason
                state: *media_types
            row:
              entity: input_boolean.radio_jason

          - entity: input_select.enqueue_mode_jason

      - entity: input_number.media_volume_jason

      - type: button
        name: " "
        action_name: "PLAY MEDIA"
        tap_action:
          action: perform-action
          perform_action: script.media_play
          data:
            preset: jason

  - entity: input_boolean.jason_phone_tts_enabled
    name: "Phone TTS"

  - entity: button.announce_calendar_events_jason
    name: "Announce Calendar Events"
