###############################################################################
# Jason Settings
###############################################################################
type: entities
title: "General Settings"
state_color: true
show_header_toggle: false
entities:
  - entity: input_boolean.media_enabled_jason
    name: "Auto Media Play"

  - entity: input_boolean.jason_phone_tts_enabled
    name: "Phone TTS"

  - entity: input_boolean.calendar_notifications_jason
    name: "Calendar Notifications"

  - entity: button.announce_calendar_events_jason
    name: "Announce Calendar Events"
