###################################################################################################
## Presence Settings
###################################################################################################
type: entities
show_header_toggle: false
state_color: true
entities:
  - entity: input_boolean.occupancy_mode_automation
    card_mod:
      style: |
        :host {
          --state-icon-color: var(--entity-warning-color);
        }

  - entity: input_boolean.occupancy_notifications
    card_mod:
      style: |
        :host {
          --state-icon-color: var(--entity-warning-color);
        }

  - entity: input_boolean.occupancy_announcements
    card_mod:
      style: |
        :host {
          --state-icon-color: var(--entity-warning-color);
        }

  - type: custom:auto-entities
    filter:
      template: >
        {% from 'alert.jinja' import alert_entities %}
        {{ alert_entities('presence') }}
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.presence_alerts
        card_mod:
          style: |
            {% from 'alert.jinja' import alert_switch_style %}
            {{ alert_switch_style('input_boolean.presence_alerts') }}
card_mod:
  style: |
    ha-card {
      border: 0px important!
    }
    :host {
      --ha-card-background: var(--card-background-color) !important;
    }