###############################################################################
## Light Settings
###############################################################################
type: entities
title: 'Light Settings'
icon: mdi:lightbulb
show_header_toggle: false
state_color: true
entities:
  - entity: sensor.day_night

  - type: custom:auto-entities
    filter:
      include:
        - domain: light
          attributes:
            type: dimmer
        - domain: light
          attributes:
            type: switch
        - domain: light
          attributes:
            type: bulb
      exclude:
        - state: 'off'
        - attributes:
            rgb_light: control
        - attributes:
            rgb_light: slave
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.lights_on
        state_color: true

  - type: custom:auto-entities
    filter:
      include:
        - domain: timer
          attributes:
            type: light
      exclude:
        - state: idle
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.light_in_use
        state_color: true
      group_config:
        secondary_info: last-changed

  - type: custom:fold-entity-row
    padding: 0
    head:
      type: custom:template-entity-row
      entity: binary_sensor.nighttime_illuminance_lights
      name: 'Illuminance Settings'
      state: >
        {% if is_state('binary_sensor.nighttime_illuminance_lights','on') %} Nightime
        {% elif is_state('binary_sensor.daytime_illuminance_lights','on') %} Daytime
        {% elif is_state('binary_sensor.bathroom_illuminance_light','on') %} Bathroom
        {% else %} Off
        {% endif %}
    entities:
      - type: custom:fold-entity-row
        padding: 0
        head:
          entity: binary_sensor.nighttime_illuminance_lights
          state_color: true
          card_mod:
            style: |
              :host {
                --paper-item-icon-color:
                  {% if is_state('input_boolean.night_lights_enabled','off')
                      or is_state('input_boolean.night_lights_override','on') %} var(--entity-warning-color)
                  {% else %} var(--state-icon-color)
                  {% endif %}
                ;
              }
        entities:
          - entity: input_boolean.night_lights_enabled
            card_mod:
              style: |
                :host {
                  --paper-item-icon-color:
                    {% if is_state('input_boolean.night_lights_enabled','off') %} var(--entity-warning-color)
                    {% else %} var(--state-icon-color)
                    {% endif %}
                  ;
                }

          - entity: input_boolean.night_lights_override
            card_mod:
              style: |
                :host {
                  --paper-item-icon-color:
                    {% if is_state('input_boolean.night_lights_override','on') %} var(--entity-warning-color)
                    {% else %} var(--state-icon-color)
                    {% endif %}
                  ;
                }

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: 'on'
            row:
              type: section
              label: Illuminance Sensor

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: 'on'
            row:
              entity: sensor.outdoor_illuminance

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: 'on'
            row:
              type: custom:numberbox-card
              entity: input_number.night_illuminance_threshold
              name: Lights off
              unit: false
              icon_plus: mdi:plus-box-outline
              icon_minus: mdi:minus-box-outline

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: 'on'
            row:
              type: section
              label: Sun Elevation Backup

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: 'on'
            row:
              entity: sensor.windsor_elevation
              name: 'Sun Elevation'

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: 'on'
            row:
              type: custom:numberbox-card
              entity: input_number.lighting_on_sun_elevation
              name: Lights on
              unit: false
              icon_plus: mdi:plus-box-outline
              icon_minus: mdi:minus-box-outline

          - type: conditional
            conditions:
              - entity: input_boolean.night_lights_enabled
                state: 'on'
            row:
              type: custom:numberbox-card
              entity: input_number.lighting_off_sun_elevation
              name: Lights off
              unit: false
              icon_plus: mdi:plus-box-outline
              icon_minus: mdi:minus-box-outline

      - type: custom:fold-entity-row
        state_color: true
        padding: 5
        head:
          entity: binary_sensor.daytime_illuminance_lights
          state_color: true
          card_mod:
            style: |
              :host {
                --paper-item-icon-color:
                  {% if is_state('input_boolean.day_lights_enabled','off') %} var(--entity-warning-color)
                  {% elif is_state('binary_sensor.daytime_illuminance_lights','on') %} var(--state-icon-active-color)
                  {% else %} var(--state-icon-color)
                  {% endif %}
                ;
              }
        entities:
          - entity: input_boolean.day_lights_enabled
          - type: conditional
            conditions:
              - entity: input_boolean.day_lights_enabled
                state: 'on'
            row:
              entity: sensor.outdoor_illuminance

          - type: conditional
            conditions:
              - entity: input_boolean.day_lights_enabled
                state: 'on'
            row:
              type: custom:numberbox-card
              entity: input_number.day_illuminance_threshold
              name: 'Outdoor Lux Threshold'
              unit: false
              icon_plus: mdi:plus-box-outline
              icon_minus: mdi:minus-box-outline

      - type: custom:fold-entity-row
        state_color: true
        padding: 5
        head:
          entity: binary_sensor.bathroom_illuminance_light
          state_color: true
        entities:
          - entity: sensor.bathroom_sensor_illuminance
            name: 'Current Illuminance'

          - type: custom:numberbox-card
            entity: input_number.bathroom_illuminance_threshold
            unit: false
            icon_plus: mdi:plus-box-outline
            icon_minus: mdi:minus-box-outline

  - type: custom:fold-entity-row
    head:
      type: custom:template-entity-row
      entity: sensor.flux_color_general
      name: 'Flux Light Settings'
      state: ' '
      state_color: true
      card_mod:
        style: |
          :host {
            --paper-item-icon-color: {{ states('sensor.flux_color_general') }};
            --paper-item-icon-active-color: {{ states('sensor.flux_color_general') }};
          }
    state_color: true
    padding: 5
    entities:
      - entity: switch.light_flux_dining_room
        name: Dining Room Light Flux
        card_mod:
          style: |
            :host {
              --paper-item-icon-color: {{ states('sensor.flux_color_dining_room') }};
              --paper-item-icon-active-color: {{ states('sensor.flux_color_dining_room') }};
            }

      - entity: switch.light_flux_bathroom
        name: Bathroom Light Flux
        card_mod:
          style: |
            :host {
              --paper-item-icon-color: {{ states('sensor.flux_color_bathroom') }};
              --paper-item-icon-active-color: {{ states('sensor.flux_color_bathroom') }};
            }

  - type: custom:template-entity-row
    entity: sensor.dummy
    name: 'Scene Settings'
    icon: mdi:movie-filter
    tap_action:
      action: fire-dom-event
      browser_mod:
        command: popup
        deviceID: this
        title: 'Scene Settings'
        hide_header: true
        card: !include /config/lovelace/card/scene/scene_settings.yaml

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','light')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      state_color: true
      padding: 5
      head:
        entity: input_boolean.light_alerts
        state_color: true
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                  {% if is_state('input_boolean.light_alerts','off') %} var(--entity-warning-color)
                  {% else %} var(--state-icon-color)
                  {% endif %}
              ;
              --paper-item-icon-active-color:
                {% if states.alert|selectattr('attributes.category','eq','light')
                    |selectattr('state','ne','idle')|list|count > 0 %} var(--entity-severe-color)
                {% else %} var(--state-icon-active-color)
                {% endif %}
              ;
            }

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: 'automation.light_*'
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      state_color: true
      padding: 5
      head:
        entity: input_boolean.light_automation
        state_color: true
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.light_automation','off') %} var(--entity-warning-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }

  - type: buttons
    entities:
      - entity: script.lights_on
        name: Lights On
        tap_action:
          action: call-service
          service: script.lights_on

      - entity: script.lights_off
        name: Lights Off
        tap_action:
          action: call-service
          service: script.lights_off
    card_mod:
      style:
        hui-buttons-base $: |
          .ha-scrollbar {
            justify-content: center;
          }
card_mod:
  class: basic
