###############################################################################
## Fan Settings
###############################################################################
type: entities
title: "Fan Settings"
icon: mdi:fan
show_header_toggle: false
state_color: true
entities:
  - entity: input_boolean.hvac_fan_control
  - !include /config/lovelace/card/fan/include/fan_schedule.yaml

  - type: custom:auto-entities
    filter:
      include:
        - domain: timer
          attributes:
            type: fan
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      state_color: true
      padding: 5
      group_config:
        type: custom:timer-bar-card
        bar_width: 30%
        secondary_info: last-changed
      head:
        entity: binary_sensor.fan_in_use
        state_color: true

  - type: custom:fold-entity-row
    state_color: true
    padding: 5
    head:
      entity: binary_sensor.bathroom_sensor_fan
    entities:
      - type: custom:fold-entity-row
        state_color: true
        padding: 5
        head:
          entity: binary_sensor.bathroom_humidity_fan
          state_color: true
          card_mod:
            style: |
              :host {
                --paper-item-icon-active-color: var(--entity-warning-color);
              }
        entities:
          - entity: sensor.bathroom_sensor_humidity

          - type: custom:numberbox-card
            entity: input_number.bathroom_humidity_threshold
            name: "Humidity Fan Level"
            unit: false
            icon_plus: mdi:plus-box-outline
            icon_minus: mdi:minus-box-outline

      - type: custom:fold-entity-row
        state_color: true
        padding: 5
        head:
          entity: binary_sensor.bathroom_mold_fan
          state_color: true
          card_mod:
            style: |
              :host {
                --paper-item-icon-active-color: var(--entity-warning-color);
              }

        entities:
          - entity: sensor.bathroom_mold_risk

          - type: custom:numberbox-card
            entity: input_number.mold_risk_threshold
            name: "Mold Risk Fan Level"
            unit: false
            icon_plus: mdi:plus-box-outline
            icon_minus: mdi:minus-box-outline

      - type: custom:fold-entity-row
        state_color: true
        padding: 5
        head:
          entity: binary_sensor.bathroom_temperature_fan
          state_color: true
          card_mod:
            style: |
              :host {
                --paper-item-icon-active-color: var(--entity-warning-color);
              }
        entities:
          - entity: sensor.bathroom_sensor_air_temperature

          - type: custom:numberbox-card
            entity: input_number.bathroom_temperature_differential
            name: "Temperature Differential Fan"
            unit: false
            icon_plus: mdi:plus-box-outline
            icon_minus: mdi:minus-box-outline

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "automation.fan*"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      state_color: true
      padding: 5
      head:
        entity: sensor.dummy
        name: "Fan Automations"
        icon: mdi:sync-alert
        state: ""
        tap_action:
          action: none
card_mod:
  class: basic
