###############################################################################
## Fan Settings
###############################################################################
type: entities
title: "Fan Settings"
icon: mdi:fan
show_header_toggle: false
state_color: true
entities:
  - entity: input_boolean.hvac_fan_control
  - !include /config/ui/card/fan/include/fan_schedule.yaml

  - type: custom:auto-entities
    filter:
      include:
        - domain: timer
          attributes:
            type: fan
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      group_config:
        type: custom:timer-bar-card
        bar_width: 30%
        sync_issues: ignore
        secondary_info: last-changed
      head:
        entity: binary_sensor.fan_in_use

  - type: custom:fold-entity-row
    padding: 5
    head:
      entity: binary_sensor.bathroom_sensor_fan
    entities:
      - type: custom:fold-entity-row
        padding: 5
        head:
          entity: binary_sensor.bathroom_humidity_fan
          card_mod:
            style: |
              :host {
                --state-binary_sensor-moisture-on-color: var(--entity-warning-color);
              }
        entities:
          - entity: sensor.bathroom_sensor_humidity

          - type: custom:numberbox-card
            entity: input_number.bathroom_humidity_threshold
            name: "Humidity Fan Level"
            unit: false
            icon_plus: mdi:plus-box-outline
            icon_minus: mdi:minus-box-outline

      - type: custom:fold-entity-row
        padding: 5
        head:
          entity: binary_sensor.bathroom_mold_fan
          card_mod:
            style: |
              :host {
                --state-binary_sensor-moisture-on-color: var(--entity-warning-color);
              }
        entities:
          - entity: sensor.bathroom_mold_risk

          - type: custom:numberbox-card
            entity: input_number.mold_risk_threshold
            name: "Mold Risk Fan Level"
            unit: false
            icon_plus: mdi:plus-box-outline
            icon_minus: mdi:minus-box-outline

      - type: custom:fold-entity-row
        padding: 5
        head:
          entity: binary_sensor.bathroom_temperature_fan
          card_mod:
            style: |
              :host {
                --state-binary_sensor-heat-on-color: var(--entity-warning-color);
              }
        entities:
          - entity: sensor.bathroom_sensor_air_temperature

          - type: custom:numberbox-card
            entity: input_number.bathroom_temperature_differential
            name: "Temperature Differential Fan"
            unit: false
            icon_plus: mdi:plus-box-outline
            icon_minus: mdi:minus-box-outline

  - entity: binary_sensor.living_room_temperature_fan
  - entity: binary_sensor.bedroom_temperature_fan

  - type: custom:auto-entities
    filter:
      template: "{{ state_attr('binary_sensor.unavailable_fans','entity_id') }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: binary_sensor.unavailable_fans
      group_config:
        secondary_info: last-changed

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "automation.fan*"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        type: custom:template-entity-row
        name: "Fan Automations"
        icon: mdi:sync-alert
        state: ""
card_mod:
  class: basic_swipe
