###############################################################################
## Media Settings
###############################################################################
type: entities
title: "Media Settings"
icon: mdi:weather-partly-snowy-rainy
show_header_toggle: false
state_color: true
entities:
  - entity: input_boolean.media_color_light_sync

  - type: custom:fold-entity-row
    head:
      type: custom:template-entity-row
      name: "Media Presets"
      icon: mdi:animation-play
    padding: 5
    entities:
      - entity: input_boolean.media_preset_enabled_wake
        tap_action:
          action: call-service
          service: input_boolean.turn_on
          service_data:
            entity_id: input_boolean.media_launcher_preset_wake

      - entity: input_boolean.media_preset_enabled_morning
        tap_action:
          action: call-service
          service: input_boolean.turn_on
          service_data:
            entity_id: input_boolean.media_launcher_preset_morning

      - entity: input_boolean.media_preset_enabled_sleep
        tap_action:
          action: call-service
          service: input_boolean.turn_on
          service_data:
            entity_id: input_boolean.media_launcher_preset_sleep

      - entity: input_boolean.media_preset_enabled_company
        tap_action:
          action: call-service
          service: input_boolean.turn_on
          service_data:
            entity_id: input_boolean.media_launcher_preset_company

      - entity: input_boolean.media_preset_enabled_shower
        tap_action:
          action: call-service
          service: input_boolean.turn_on
          service_data:
            entity_id: input_boolean.media_launcher_preset_shower

      - entity: input_boolean.media_preset_enabled_jason
        tap_action:
          action: call-service
          service: input_boolean.turn_on
          service_data:
            entity_id: input_boolean.media_launcher_preset_jason

      - entity: input_boolean.media_preset_enabled_sheri
        tap_action:
          action: call-service
          service: input_boolean.turn_on
          service_data:
            entity_id: input_boolean.media_launcher_preset_sheri

      - entity: input_boolean.media_preset_enabled_guest
        tap_action:
          action: call-service
          service: input_boolean.turn_on
          service_data:
            entity_id: input_boolean.media_launcher_preset_guest

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','media')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.media_alerts
        card_mod:
          style: |
            :host {
              --paper-item-icon-color: var(--entity-warning-color);
              --paper-item-icon-active-color:
                {% if states.alert|selectattr('attributes.category','eq','media')
                    |selectattr('state','ne','idle')|list|count > 0 %} var(--entity-severe-color)
                {% else %} var(--state-icon-active-color)
                {% endif %}
              ;
            }

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: "automation.media_*"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: sensor.dummy
        name: "Media Automations"
        icon: mdi:sync-alert
        state: ""
        tap_action:
          action: none

card_mod:
  class: basic
