###############################################################################
## Volume Settings
###############################################################################
type: entities
title: 'Volume Settings'
icon: mdi:volume-low
show_header_toggle: false
state_color: true
entities:
  - type: custom:fold-entity-row
    padding: 0
    head: binary_sensor.quiet_time
    entities:
      - entity: input_boolean.quiet_time_enabled
      - entity: input_boolean.quiet_time_override
      - entity: input_boolean.volume_override

      - entity: input_number.speaker_quiet_volume
        name: Speakers

      - entity: input_number.tv_quiet_volume
        name: Televisions

      - entity: input_number.media_quiet_volume
        name: Media

      - type: custom:fold-entity-row
        padding: 0
        head:
          type: custom:template-entity-row
          name: TTS Quiet Time Settings
        entities:
          - entity: input_select.tts_media_player_quiet
            name: Quiet Time Media Player

          - entity: input_number.tts_volume_quiet
            name: TTS Quiet Volume

          - entity: input_number.tts_volume_night
            name: TTS Night Volume

  - type: custom:fold-entity-row
    padding: 0
    head: switch.system_mute
    entities:
      - entity: input_number.timed_mute_duration

  - type: custom:fold-entity-row
    padding: 0
    head: input_boolean.media_type_volume_adjustments
    entities:
      - entity: input_number.media_default_volume
      - entity: input_number.radio_volume_adjustment
      - entity: input_number.spotify_volume_adjustment
      - entity: input_number.youtube_volume_adjustment

  - type: custom:fold-entity-row
    padding: 0
    head: input_boolean.volume_balancing
    entities:
      - entity: input_number.volume_log_factor

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: 'input_number.*_default_volume'
      exclude:
        - entity_id: input_number.media_default_volume
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 0
      head:
        type: custom:template-entity-row
        name: Default Volume Levels
        icon: mdi:volume-source
card_mod:
  class: basic
