###############################################################################
## Sensor Settings
###############################################################################
type: entities
title: Sensor Settings
icon: mdi:smoke-detector
show_header_toggle: false
state_color: true
entities:
  - type: custom:fold-entity-row
    head: binary_sensor.door_open
    entities:
      - entity: binary_sensor.back_door_open_alert
      - entity: input_boolean.front_door

      - entity: binary_sensor.front_door_open_alert
      - entity: input_boolean.front_door

      - entity: binary_sensor.garage_side_door_open_alert
      - entity: input_boolean.garage_side_door

      - entity: binary_sensor.patio_door_open_alert
      - entity: input_boolean.patio_door

      - entity: binary_sensor.side_door_open_alert
      - entity: input_boolean.side_door

  - type: custom:fold-entity-row
    head: binary_sensor.window_open
    entities:
      - entity: binary_sensor.bedroom_front_window_open_alert
      - entity: input_boolean.bedroom_front_window

      - entity: binary_sensor.bedroom_side_window_open_alert
      - entity: input_boolean.bedroom_side_window

      - entity: binary_sensor.downstairs_kitchen_window_open_alert
      - entity: input_boolean.downstairs_kitchen_window

      - entity: binary_sensor.family_room_window_open_alert
      - entity: input_boolean.family_room_window

      - entity: binary_sensor.kitchen_sink_window_open_alert
      - entity: input_boolean.kitchen_sink_window

      - entity: binary_sensor.kitchen_window_open_alert
      - entity: input_boolean.kitchen_window

      - entity: binary_sensor.laundry_room_window_open_alert
      - entity: input_boolean.laundry_room_window

      - entity: binary_sensor.living_room_window_1_open_alert
      - entity: input_boolean.living_room_window_1

      - entity: binary_sensor.living_room_window_2_open_alert
      - entity: input_boolean.living_room_window_2

      - entity: binary_sensor.living_room_window_3_open_alert
      - entity: input_boolean.living_room_window_3

      - entity: binary_sensor.living_room_window_4_open_alert
      - entity: input_boolean.living_room_window_4

      - entity: binary_sensor.master_bathroom_window_open_alert
      - entity: input_boolean.master_bathroom_window

      - entity: binary_sensor.master_bedroom_window_open_alert
      - entity: input_boolean.master_bedroom_window

      - entity: binary_sensor.office_window_open_alert
      - entity: input_boolean.office_window

  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','sensor')|map(attribute='entity_id')|list }}"
      options:
        state_color: true
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: input_boolean.sensor_alerts
        state_color: true
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                  {% if is_state('input_boolean.sensor_alerts','off') %} var(--entity-warning-color)
                  {% else %} var(--state-icon-color)
                  {% endif %}
              ;
              --paper-item-icon-active-color:
                {% if states.alert|selectattr('attributes.category','eq','sensor')
                    |selectattr('state','ne','idle')|list|count > 0 %} var(--entity-severe-color)
                {% else %} var(--state-icon-active-color)
                {% endif %}
              ;
            }
      padding: 5

  - type: custom:auto-entities
    filter:
      include:
        - entity_id: 'automation.sensor_*'
          options:
            state_color: true
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      head:
        entity: input_boolean.sensor_automation
        state_color: true
        card_mod:
          style: |
            :host {
              --paper-item-icon-color:
                {% if is_state('input_boolean.sensor_automation','off') %} var(--entity-warning-color)
                {% else %} var(--state-icon-color)
                {% endif %}
              ;
            }
      padding: 5
card_mod:
  class: basic
