type: entities
show_header_toggle: false
state_color: true
entities:
  - type: custom:template-entity-row
    icon: mdi:cog
    name: Climate Settings
    tap_action:
      action: fire-dom-event
      browser_mod:
        command: popup
        deviceID: this
        title: Climate Settings
        card: !include /config/lovelace/include/card/climate/climate_settings.yaml
    double_tap_action:
      action: none
    hold_action:
      action: none
    card_mod:
      style: |
        :host {
          --paper-item-icon-active-color: var(--disabled-text-color);
        }
card_mod:
  class: basic
