type: entities
entities:
  - type: custom:template-entity-row
    icon: mdi:cog
    name: Light Settings
    card_mod:
      style: |
        :host {
          --paper-item-icon-color: var(--disabled-text-color);
        }
    tap_action:
      action: fire-dom-event
      browser_mod:
        command: popup
        deviceID: this
        title: Light Settings
        card: !include /config/lovelace/include/card/light/light_settings.yaml
card_mod:
  class: basic
