entity: input_boolean.work_schedule
tap_action:
  action: fire-dom-event
  browser_mod:
    command: popup
    deviceID: this
    title: Work Schedule Settings
    card: !include /config/lovelace/include/card/schedule/work_schedule_settings.yaml