###############################################################################
## Sensor Settings
###############################################################################
type: entities
title: "Sensor Settings"
icon: mdi:smoke-detector-variant
show_header_toggle: false
state_color: true
entities:
  - type: custom:auto-entities
    filter:
      template: "{{ states.alert|selectattr('attributes.category','eq','sensor')|map(attribute='entity_id')|list }}"
    sort:
      method: name
      ignore_case: true
    card:
      type: custom:fold-entity-row
      padding: 5
      head:
        entity: input_boolean.sensor_alerts
        card_mod:
          style: |
            {% from 'style.jinja' import alert_switch %}
            {{ alert_switch('input_boolean.sensor_alerts') }}
card_mod:
  class: basic
