###############################################################################
## Media Lanucher Settings Button
###############################################################################
type: custom:button-card
template: menu_button
entity: input_boolean.media_launcher_settings
icon: >
  [[[
    if (states['input_boolean.media_launcher_lock'].state == 'on')
      return states['input_boolean.media_launcher_lock'].attributes.icon;
    else
      return 'mdi:cog-play-outline';
  ]]]
styles:
  icon:
    - color: >
        [[[
          if (states['input_boolean.media_launcher_lock'].state == 'on')
            return 'var(--entity-severe-color)';
          else
            return 'var(--state-icon-color)';
        ]]]
  card:
    - background-color: >
        [[[
          if (states['binary_sensor.unavailable_media_players'].state == 'on')
            return 'var(--entity-button-critical-color)';
          else if (states['input_boolean.media_launcher_settings'].state == 'on'
              && states['input_boolean.media_launcher_lock'].state == 'on')
            return 'var(--entity-button-severe-color)';
          else if (states['input_boolean.media_launcher_settings'].state == 'on')
            return 'var(--entity-button-selected-color)';
          else
            return 'var(--ha-card-background)';
        ]]]
tap_action:
  action: toggle
double_tap_action:
  action: perform-action
  perform_action: script.turn_media_player_off
hold_action:
  action: perform-action
  perform_action: input_boolean.toggle
  target:
    entity_id: input_boolean.media_launcher_lock
