###################################################################################################
## Media Lanucher Settings Button
###################################################################################################
type: custom:button-card
template: menu_button
entity: input_boolean.media_launcher_lock
icon: >
  [[[
    if (states['input_boolean.media_launcher_lock'].state == 'on')
      return states['input_boolean.media_launcher_lock'].attributes.icon;
    else
      return 'mdi:cog-play-outline';
  ]]]
styles:
  icon:
    - color: >
        [[[
          if (states['input_boolean.media_launcher_lock'].state == 'on')
            return 'var(--entity-active-color)';
          else
            return 'var(--state-icon-color)';
        ]]]
tap_action:
  action: perform-action
  perform_action: input_boolean.toggle
  target:
    entity_id: input_boolean.media_launcher_lock
double_tap_action:
  action: perform-action
  perform_action: script.turn_media_player_off
hold_action:
  action: fire-dom-event
  browser_mod:
    service: browser_mod.popup
    data:
      title: "Media Settings"
      content: !include /config/ui/card/media/media_settings.yaml
